[2016-09-04 21:55] mehdimj commented on #217
Perfect, thanks a lot !

[2016-09-05 00:15] ericmdantas commented on #217
There are a bunch of breaking changes, but some seem to be missing: https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc6-2016-08-31

Here's a example of a new `system.config.js`: https://github.com/angular/quickstart/blob/3b7452cc444c49c139ea39523ced0468c2362c16/systemjs.config.js#L17-L34

Test changes: https://github.com/juliemr/ng2-test-seed

--

I'm probably doing it tomorrow.

[2016-09-05 12:18] ericmdantas commented on #161
1.9 is 90% done.

There are some minor bugs going on and I`ll have to take care of the docs before releasing it.

[2016-09-06 10:41] #217 closed

[2016-09-06 10:42] ericmdantas commented on #217
`1.8.21` released with ng2 updated to `rc6`.

[2016-09-14 11:12] ericmdantas opened #218 "Add 'Ahead of Time' compilation step for Angular 2"
References:
- http://www.syntaxsuccess.com/viewarticle/ahead-of-time-compilation-in-angular-2.0.
- http://blog.mgechev.com/2016/08/14/ahead-of-time-compilation-angular-offline-precompilation/
- https://github.com/angular/angular/tree/master/modules/%40angular/compiler-cli

[2016-09-15 08:55] ntanitime commented on #202
The support for use WebPack would be amazing!

[2016-09-22 08:23] panasevich opened #219 "npm run watch Error"
I've got installed fullstack(angular2+tsc) and I've got an error error after starting npm run watch:

Requiring external module babel-register
[11:07:51] Using gulpfile D:\eventSite\gulpfile.babel.js
[11:07:51] Starting 'client.build_ts'...
client\dev\index.ts(3,9): error TS2305: Module '"D:/eventSite/node_modules/@angular/http/index"' has no exported member 'HTTP_PROVIDERS'.
client\dev\todo\compo

[2016-09-22 09:59] ericmdantas commented on #219
Hello, @panasevich.

Either the typings were not installed[0], or you have an older version of the generator[1].

To solve [0], run `typings install` and to solve [1], run `npm i -g generator-ng-fullstack@latest`.

Let me know how it goes.

[2016-09-22 12:34] panasevich commented on #219
Hello, @ericmdantas

npm i -g generator-ng-fullstack@latest helped me.

Thanks a lot!

[2016-09-22 13:16] ericmdantas commented on #219
Awesome!

[2016-09-22 13:16] #219 closed

[2016-09-22 18:03] ericmdantas opened #220 "Go/Echo - Drop fasthttp server"
https://github.com/labstack/echo/issues/665

`fasthttp` server is only used for the `http` server. `http/2` servers are already using the `standard` engine, so the removal should be easy.

[2016-09-24 14:14] jpaaso opened #221 "Generating the project doesn't complete"
Hi,

I'm trying to generate the project but it gets stuck at:

[code]

Is there a way to get a more verbose output? Thanks.

[2016-09-25 04:34] 6farer opened #222 "go get error"
When I run `go get` I get the following error:
[code]

I haven't used go before so please bear with me. I never specified the repo or my user and intend on putting this app on a private GitHub repo, so I changed the user from my GitHub username to the GitHub organization, but the same error happens displaying the user instead of the organization.

[2016-09-25 09:47] ericmdantas commented on #222
Hello, @6farer.

You'll have to setup your workspace to work with go, see how: https://golang.org/doc/code.html

And then, when you run `yo ng-fullstack`, you'll have to be insice `$GOPATH/src/github.com/{user}/{project}`.

[2016-09-25 09:47] #222 closed

[2016-09-25 09:48] ericmdantas commented on #221
Hello, @jpaaso.

Can you share what's the content of your `.yo-rc.json`, please?

[2016-09-27 10:01] ericmdantas commented on #221
Closing due to no response.

Feel free to reopen, if needed.

[2016-09-27 10:02] ericmdantas commented on #186
Too much for the boilerplate for now.

[2016-09-27 10:02] #186 closed

[2016-09-27 10:16] jpaaso commented on #221
Hi,

I've tried different combinations but here's the last `.yo-tc.json`:
[code]

[2016-09-27 10:19] ericmdantas commented on #221
Thanks, I'll try to reproduce it.

[2016-09-27 10:23] ericmdantas commented on #221
Alright, couldn't do it. A few questions:
- Do you have `tsc` and `typings` installed globally? If so, what's their versions?
- Can you run `npm i` in your project? Does it work as expected?
- What happens when you exclude your `node_modules` folder and run `npm i` again?

[2016-09-27 10:40] jpaaso commented on #221
Installing `tsc`and `typings` solved the problem. Didn't realise they are required.

Thanks a lot!

[2016-09-27 10:44] ericmdantas commented on #221
Awesome!

[2016-09-27 10:44] #221 closed

[2016-09-28 13:01] jariwbh opened #223 "[subgenerator/node_endpoint] - many typos error in generated code"
Hi Guys,

I see many typos error in generated endpoints. i spent time to sort out why my webservices not returning data as ToDo endpoint do.

Regards,

[2016-09-28 13:41] ericmdantas commented on #223
Hello, @jariwbh. Thanks for letting us know.

What the stack did you choose? Can you share the content of your `.yo-rc.json`, please?

Also, PRs are welcome, if you've got time, feel free to send a fix :wink:

[2016-09-28 14:48] jariwbh commented on #223
Stack I choose was:

nodejs babel typescript ng2

Regards,
Bharat Jariwala
CEO/Founder , Krtya Software
Mobile - 8758363925

On Wed, Sep 28, 2016 at 7:11 PM, Eric M. Dantas <notifications@github.com>
wrote:

[2016-10-01 04:03] jariwbh commented on #223
Sure, Let me know how to become part of community

[2016-10-01 19:16] ericmdantas commented on #223
You could try to solve this issue against master 😄

[2016-10-03 13:39] nhack commented on #201
webpack support sounds really cool

[2016-10-03 13:45] ericmdantas commented on #161
Note to self: Vue 2.0 is out - update the client.

[2016-10-03 20:54] booradleys opened #224 "missing script :typings"
Error when run "npm run dev"

C:\Applications\Node\NgFullStack>npm run dev

node_modules/@angular/common/src/directives/ng_class.d.ts(46,34): error TS2304: Cannot find name 'Set'.
node_modules/@angular/common/src/pipes/async_pipe.d.ts(44,38): error TS2304: Cannot find name 'Promise'.
node_modules/@angular/compiler/src/compile_metadata.d.ts(347,20): error TS2304: Cannot find name 'Set'.
node_module

[2016-10-04 07:16] #224 closed

[2016-10-04 07:33] booradleys opened #225 "[es6-shim]: error TS2300: Duplicate identifier 'PropertyKey'."
Hi there, here is my error.
I had to remove to following line from typings/index.d.ts:
/// \<reference path="globals/es6-shim/index.d.ts" /\>
to let it work.
Is it the correct way ?

C:\Applications\Node\NgFullStack>npm run dev

typings/globals/core-js/index.d.ts(3,14): error TS2300: Duplicate identifier 'PropertyKey'.
typings/globals/es6-shim/index.d.ts(3,14): error TS2300: Duplicate identifier '

[2016-10-04 10:05] ericmdantas commented on #225
Hello, @booradleys.

Did you install `core-js` by your own? Because it'll probably conflict with `es6-shim`.

[2016-10-04 10:31] booradleys commented on #225
Hi @ericmdantas, No, i did not install by my own, but yes i think core-js and es6-shim conflict each others.
I don't know why.

[2016-10-04 10:33] ericmdantas commented on #225
Right.

What's the content of your `.yo-rc.json`?

[2016-10-04 10:36] booradleys commented on #225
Here it is :

{
  "generator-ng-fullstack": {
    "username": "booradleys",
    "appName": "NgFullStack",
    "stack": "fullstack",
    "server": "node",
    "client": "ng2",
    "transpilerServer": "typescript",
    "secure": false,
    "differentStaticServer": false
  }
}

[2016-10-04 10:37] ericmdantas commented on #225
Right, thanks!

I'll try to reproduce it.

[2016-10-04 10:44] ericmdantas commented on #225
Hmm, couldn't reproduce it. There's no `core-js` entry in typings.json or folder in `typings/globals`.

Did you install anything other than the boilerplate app?

[2016-10-04 10:47] booradleys commented on #225
Ah, it's weird!
I installed first angular2 and followed tutorial "Tour of heroes".

[2016-10-04 10:50] ericmdantas commented on #225
Yeah, they do ask you to install core-js and it's typings, see https://angular.io/docs/ts/latest/quickstart.html > `Create configuration files` > `typings.json`.

Just stick with either `core-js` or `es6-shim` and you're fine :smile:

[2016-10-04 10:50] #225 closed

[2016-10-04 10:51] booradleys commented on #225
Thank you @ericmdantas !!

[2016-10-04 11:03] ericmdantas commented on #225
You're welcome :+1:

[2016-10-06 10:18] ericmdantas commented on #158
Welp, rethinkDB is shutting down: https://rethinkdb.com/blog/rethinkdb-shutdown/.

[2016-10-06 10:19] ericmdantas commented on #170
Updated the list. Removed rethinkDB.

For more info: https://rethinkdb.com/blog/rethinkdb-shutdown/

[2016-10-07 07:30] jariwbh commented on #223
I fixed issue. however, i could not commit changes

its saying "remote: Permission to ericmdantas/generator-ng-fullstack.git denied to jariwbh."

[2016-10-07 10:02] ericmdantas commented on #223
Commit to your repo first and then do a pull request.

See if this helps: https://www.thinkful.com/learn/github-pull-request-tutorial/#Opening-Your-Pull-Request

[2016-10-07 13:49] ericmdantas opened #227 "Use Babel/Babili to compile esnext files to es5"

[2016-10-07 13:50] ericmdantas commented on #161
Added babel/babili compilation step for `ng1`, `aurelia` and `vue` to the list.

[2016-10-07 14:41] tguelcan commented on #88
any upates?

[2016-10-07 14:50] ericmdantas commented on #227
Closed by 1864273

[2016-10-07 14:50] #227 closed

[2016-10-07 14:51] ericmdantas commented on #227
Added Babel compilation step and babili minification for ng1 and vue2.

[2016-10-07 14:52] ericmdantas commented on #88
Nope, this is pretty much dead.

Anything that you need in particular, @tguelcan?

[2016-10-07 15:21] ericmdantas commented on #158
If you want the RethinkDB community to keep it going, you should join the research: https://docs.google.com/forms/d/e/1FAIpQLSc1yY2qy25viVc8MiM0XCsyMCpbalgzXrpT3MQAd_d3C1-jhA/viewform?c=0&w=1

[2016-10-07 16:48] ivancalva commented on #88
Hi @ericmdantas  I'm looking for a way to implement a simple user, password auth method to my app. Its my first time using MEAN stack so I'm having some problems, I found the passport middleware but only find tutorials on how to implement it with node, but cant seem to adapt it to the typescript version of the server.ts. Do you know where I can find more information on how to do it. Thank you.!

[2016-10-07 18:48] ericmdantas commented on #88
Hello, @ivancalva.

What exactly is troubling you? The implementation itself or just the typings?

[2016-10-09 12:40] jariwbh commented on #223
Submitted push request

[2016-10-09 14:10] #223 closed

[2016-10-09 14:14] ericmdantas commented on #223
`v1.8.33` released with the fix.

[2016-10-10 17:27] ivancalva commented on #88
The implementation with the typed version of the code, all i can find are tutorials but can't seem to adapt it to the way the code is in the mean generator,

[2016-10-10 18:22] ericmdantas commented on #88
@ivancalva, as long as you're exporting the right classes/functions, you could place your code anywhere.

The generator creates the `server/auth/local/index.js` for you, you could place your code there and export it so it works as an express middleware.

[2016-10-20 15:05] ericmdantas commented on #216
Closing as there was no response.

[2016-10-20 15:05] #216 closed

[2016-10-22 14:22] amiral84 commented on #201
I was to suggest exactly the same but I am glad that you have taken it up.
+1

[2016-10-22 14:28] amiral84 commented on #215
I got the same error when I tried to import json file. Because es6 doesn't have json support by default you can do it via webpack for example, but since this version (1.8.33) doesn't have webpack yet you must to configure it on yourself if you want.

[2016-10-22 14:45] ericmdantas commented on #201
I'm excited to get webpack working too.

I've got some annoying stuff to solve before landing 1.9 and I'm a bit busier than usual, but we'll get there :smile:

[2016-10-28 13:53] panasevich opened #229 "Fullstack angular2 app doesn't work on safari and IE"
Hi!

I'm testing my app in IE and Safari.

App doesn't work. How should I fix it?

Console error:

Unhandled Promise rejection: (SystemJS) 'undefined' is not a constructor (evaluating 'new Map$1()')
	Evaluating http://localhost:3000/index.js
	Error loading http://localhost:3000/index.js ; Zone: <root> ; Task: Promise.then ; Value:
Error
 (SystemJS) 'undefined' is not a constructor (evaluating 'new

[2016-10-28 14:33] ericmdantas commented on #229
Hello, @panasevich.

What version of IE are you using?

[2016-10-28 16:04] panasevich commented on #229
I'm using IE-9. It doesn't work not only in IE and Safari, but also in android 4.4.2 native browser too. I'm trying the other angular2 app. It's almost run under IE, Safari and androind4.4.2 browser.

[2016-10-28 16:41] ericmdantas commented on #229
To get that to work you'll have to do the following:

- Install core-js, which will do the polyfill:
[code]

- Add it in `client/dev/index.html`:

[code]

After restarting the server, it should be working just fine.

Let me know how it goes.

[2016-10-28 16:41] #229 closed

[2016-10-28 17:21] panasevich commented on #229
I added
<script src="./core-js/client/shim.js?rev=@@hash"></script> in client/dev/index.html

In FF 49.0.1 => SyntaxError: missing = in const declaration Reflect.js:619:19

In Safari and IE
SyntaxError: Unexpected token 'const'
zone.js:355Unhandled Promise rejection: (SystemJS) Expected token ')'
	Evaluating http://localhost:3000/angular2-jwt/angular2-jwt.js
	Error loading http://localhost:3000/an

[2016-10-28 17:36] ericmdantas commented on #229
Do you have any `es2015` specific content in `auth.guard.js`?

[2016-10-28 17:40] ericmdantas commented on #229
Also, can you try adding in your `client/dev/config.js` this line:

[code]

The should go inside `map:`.

[2016-10-29 13:57] panasevich commented on #229
This line has been connected and it is there now. Error the same.

[2016-10-29 14:58] ericmdantas commented on #229
Weird.

Do you have a repo I can take a look?

[2016-10-29 21:43] ericmdantas commented on #229
It's working fine for me on `Firefox 49.0.2`. Can't test on IE/Safari right now, I only have Edge at the moment.

The thing is, there should be no `const` token in any compiled file. Either yours or dependency - I couldn't find any by searching in your files or the deps.

Do you happend to have typescript installed globally? If so, what version do you have?

[2016-10-30 09:55] panasevich commented on #229
Yes I've installed typescript globally. Version 1.3.3

[2016-10-30 12:00] ericmdantas commented on #229
Can you try installing version 2.0? And then compile your app again, please.

[2016-10-30 12:44] panasevich commented on #229
I've updated versions:

$ typings -v
1.5.0

$ tsc -v
Version 2.0.6

But error the same.((

[2016-10-30 14:22] panasevich commented on #229
I've reinstaled all dependencies and it works now. But typescript shows errors in bash-console:

[1] Using gulpfile D:\qqq\gulpfile.babel.js
[1] [16:13:07]
[1] Starting 'client.build_ts'...
[1] D:/qqq/node_modules/rxjs/operator/map.d.ts(37,35): error TS1138: Parameter declaration expected.
[1] D:/qqq/node_modules/rxjs/operator/map.d.ts(37,39): error TS1005: ';' expected.
[1] D:/qqq/node_modules/rx

[2016-10-30 15:07] ericmdantas commented on #229
It should not try to compile stuff that's inside `node_modules` - that's weird.

[2016-10-30 18:27] panasevich commented on #229
I've updated gulp-typescript to version 3 and now typescript compiles well.

In bash-console it shows deprication on gulp task, but app runs well.

[1] Starting 'client.build_ts'...
[1] gulp-typescript: ts(tsProject) has been deprecated - use .pipe(tsProject(reporter)) instead
[1]   As of gulp-typescript 3.0, .pipe(ts(tsProject)) should be written as .pipe(tsProject()).
[1]   More information: htt

[2016-10-30 20:57] ericmdantas commented on #229
Awesome!

I'll release a patch.

[2016-10-31 09:09] ericmdantas opened #230 "Add gzip compression for the servers"

[2016-10-31 09:23] #230 closed

[2016-10-31 09:54] ericmdantas commented on #229
`1.8.37` released with the bump to `gulp-typescript`.

[2016-10-31 13:25] panasevich commented on #229
Thanks a lot!

[2016-10-31 17:18] pharindoko opened #231 "1.8.3.7 typescript and module compression"
Hey,

tried to run the fullstack for version and received an error in the postinstall.
So when it tried to compile the typescript, I receive the error:
Cannot find module "compression".

Reason is that the typings file for compression is missing.
An install of this fixed the problem.

[2016-10-31 17:54] ericmdantas commented on #231
Hello, @pharindoko.

How did you install `compression` through `typings`? What's the command? I can't find it in the registry.

[2016-10-31 22:07] ericmdantas commented on #231
Nevermind, the command is: `typings install dt~compression --save --global`

[2016-10-31 22:09] #231 closed

[2016-10-31 22:09] ericmdantas commented on #231
`1.8.38` released with the fix.

[2016-10-31 22:59] pharindoko commented on #231
Sorry for rhe late response...correct - this is the command I meant :)

[2016-11-01 09:01] ericmdantas commented on #231
No problem, thanks for the heads up :+1:

[2016-11-10 21:27] divanvb commented on #202
ETA on release for clean project?

[2016-11-11 17:31] ericmdantas commented on #202
Hello, @divanvb. I'm sorry, but what does ETA mean?

I'm stuck at a couple bugs in v1.9, so, if you have time, I could merge the clean project issue into v1.9 and we could release alphas and betas with it. What do you think?

[2016-11-14 19:42] uiktiomasfeliz opened #232 "OpenShift deploy"
Support for OpenShift deploy.

[2016-11-14 19:47] ericmdantas commented on #232
Hello, @uiktiomasfeliz.

What's needed to do such?

[2016-11-14 21:04] uiktiomasfeliz commented on #232
i've tried create a OpenShift app and got this log:

---> Installing application source ...
---> Building your Node application from source
npm info it worked if it ends with ok
npm info using npm@2.15.1
npm info using node@v4.4.2
npm info preinstall GymCampaign@0.0.1

sh: typings: command not found

npm info GymCampaign@0.0.1 Failed to exec preinstall script
npm ERR! Linux 3.10.0-514.el7.x86_64
n

[2016-11-14 22:26] divanvb commented on #202
@ericmdantas, ETA = Estimated Time of Arrival so basically when the next version will be released that includes a clean project option.

Ah okay, I think that would be a good idea because I'm sure there are quite a few people that would prefer the bare basics of the generator creating only the necessary files instead of having to go and remove the default Todo application from the generated projec

[2016-11-14 22:46] ericmdantas commented on #232
Looks like it's the same problem of #213.

The openshift deploy should work effortless once that's fixed.

[2016-11-15 13:27] ericmdantas commented on #202
Sure, even I need that every project. I'll make it available for 1.9 then.

As for the client and server stuff, I'm thinkin about leaving the `client/dev/index.html` and `server/index.js`. Sounds good?

[2016-11-15 13:35] divanvb commented on #202
@ericmdantas, yeah sounds good to me :dancing_men:

[2016-11-25 12:04] high-malloy opened #233 "js and css files are served with text/html MIME type | npm run dev"
Have the same problem as here:

https://github.com/ericmdantas/generator-ng-fullstack/issues/216

After a fresh yo ng-fullstack with the following settings;

{
  "generator-ng-fullstack": {
    "username": "XXXX",
    "appName": "test",
    "stack": "fullstack",
    "server": "node",
    "client": "ng2",
    "transpilerServer": "node",
    "secure": false,
    "differentStaticServer": false
  }
an

[2016-11-28 18:44] tiagobsbraga commented on #217
In my case was install typing as global

`npm install typings -g`

[2016-12-03 19:42] uiktiomasfeliz commented on #201
👍

[2016-12-05 22:51] uiktiomasfeliz commented on #232
@ericmdantas i tried that solution, no result for me or i don`t know how to implement it :(
I will be grateful if you can upload an fullstack version with angular 2 client and nodejs server(todo example).

[2016-12-06 15:12] inicio opened #234 "Integrating AngularFire2 and other dependencies"
Is there any documentation available that shows how to add a dependency, particularly AngularFire2?

I've followed the instructions for the library without success. It seems like this generator has its own project structure, which I'm not quite sure how to navigate.

Thanks.

[2016-12-07 09:15] ericmdantas commented on #234
Hello, @inicio.

It should be as simple as `npm install firebase angularfire2 --save` and adding the path to the lib in the `client/dev/config.js`.

[2016-12-07 09:15] #234 closed

[2016-12-07 11:24] ericmdantas commented on #220
Echo v3 is out.

[2016-12-07 11:30] ericmdantas commented on #220
Closed by 3100e3c83a70b39f5625515455a70ee9ebbc4990.

[2016-12-07 11:30] #220 closed

[2016-12-07 12:05] ericmdantas commented on #232
I'll close as a duplicate and keep in mind to have an example to make it work.

[2016-12-07 12:05] #232 closed

[2016-12-07 19:09] inicio commented on #234
Were it so simple! Just did a fresh install, and the error I'm getting in Chrome's console is thus:

`Unhandled Promise rejection: (SystemJS) Unexpected token <
	SyntaxError: Unexpected token <`

And this is referring to this line in app-module.ts

`import { AngularFireModule } from 'angularfire2';`

Should I assume it's something related to the Angular library, and not this project?

[2016-12-07 22:54] ericmdantas commented on #234
It's more like an issue with your `config.js`.

Can I see what's its content?

[2016-12-08 00:03] inicio commented on #234
Certainly.

`System.config({
  defaultJSExtensions: true,
  paths: {
    // paths serve as alias
    'npm:': './'
  },
  // map tells the System loader where to look for things
  map: {
    // our app is within the app folder
    app: 'app',

    // angular bundles
    '@angular/core': 'npm:@angular/core/bundles/core.umd.js',
    '@angular/common': 'npm:@angular/common/bundles/common.umd.js',

[2016-12-08 09:03] ericmdantas commented on #234
You should add the path to the `angularfire2` dist folder in the `map` section of the `config.js`.

[2016-12-08 22:23] inicio commented on #234
Thanks for you help, but something's still buggered. I'll try the library with another generator and see if it's not the problem.

[2016-12-09 09:00] ericmdantas commented on #234
:+1:

[2016-12-13 08:41] srikanth-chitturi opened #235 "npm run dev has error running a hello world project."
[0] > node index
[0]
[0] up and running @: SDN-10 on port: 3333
[0] enviroment: undefined
[1] [14:09:49]
[1] Requiring external module babel-register
[1] [14:10:18] Using gulpfile ~/Documents/ng-fullstack/gulpfile.babel.js
[1] [14:10:19]
[1] Starting 'client.build_ts'...
[1] [14:10:28]
[1] Finished 'client.build_ts' after 9.16 s
[1] [14:10:28] Starting 'client.watch'...
[1] [14:10:28]
[1] 'client.

[2016-12-13 09:13] ericmdantas commented on #235
Hello, @srikanth-chitturi.

The `ENOSPC` error seems to be a bit weird, here's an issue in `chokidar`'s repo about it: https://github.com/paulmillr/chokidar/issues/294. Unfortunately that's not related to the generator itself, it's more of a gulp and its watcher thing.

See if any of the suggestions there work and let me know how it goes.

[2016-12-13 09:13] #235 closed

[2016-12-13 11:43] srikanth-chitturi commented on #235
Ok, Is there any way to run this application now ?

I have run
npm start

up and running @: SDN-10 on port: 3333
enviroment: undefined

But even then I cannot open this application .

[2016-12-13 11:47] ericmdantas commented on #235
By doing that you're only starting the server, so you'll have to compile the typescript by hand (by running `tsc`).

And then you'll be able to access `localhost:3333`.

[2016-12-13 11:54] srikanth-chitturi commented on #235
Yes , I have first run tsc.
Then I run npm start .
Then opened localhost:3333 on the browser.
But even that gives no output in the browser.
My Mongodb instance is also running fine.
Am I missing anything ?

[2016-12-13 12:34] ericmdantas commented on #235
Are there any errors in the console? If so, it can be related to #216.

[2016-12-13 12:42] srikanth-chitturi commented on #235
There are no errors in console.

$ npm start

up and running @: SDN-10 on port: 3333
enviroment: undefined

[2016-12-13 13:05] ericmdantas commented on #233
Hello, @high-malloy. It doesn't happen in my Windows machine.

Do you have any repo I can take a look/clone?

[2016-12-13 13:06] ericmdantas commented on #235
@srikanth-chitturi sorry for not being clear; I meant the browser's console.

[2016-12-23 00:17] ivancalva opened #236 "Error when running test"
I did a fresh installation of the generator ng2 - node - typescript and im trying to run the tests "npm run test-client" and "npm run test-server" but i get the next error.

**TEST-CLIENT**
`module.js:471
    throw err;
    ^

Error: Cannot find module 'async-each'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (modu

[2016-12-23 08:47] ericmdantas commented on #236
Hello, @ivancalva.

Do you have a repo I can take a look? Also, keep in mind the client tests should fail if you're using ng2, see #101. As for the server tests, it should work just fine - do you have `mongod` running?

[2016-12-23 22:26] saherrera commented on #88
Hi @ericmdantas, i am getting into this generator and got into the first problem.
adding the passport js, into the project.

is this still dead? or, do you have any advices to do it?

the tutorials that exists are implemented only using express, so i am trying to make it fit into de fullstack .

[2016-12-29 12:51] rahulswaminathan opened #237 "Error while running 'yo ng-fullstack' with branch v1.9"
Hi @ericmdantas , I'm getting an error while running `yo ng-fullstack` with the code in branch `v1.9`.

[code]

Code in `generator-ng-fullstack\_ng\client\angular.js`:
[code]

[2016-12-30 15:16] ericmdantas commented on #237
Hello, @rahulswaminathan.

What version of Node you're using? You've got to have version 6+.

[2017-01-02 08:00] rahulswaminathan commented on #237
You're right. My node version was 4.x. Upgraded to 6 and it is working now. Thanks!

[2017-01-02 08:00] #237 closed

[2017-01-02 08:48] ericmdantas commented on #237
:+1:

[2017-01-03 08:02] rahulswaminathan commented on #170
Hey @ericmdantas , any plans of a generator for Polymer projects?

[2017-01-03 09:11] ericmdantas commented on #170
Hey there, @rahulswaminathan.

That's no planned, but we might do it sometime in the future, who knows? :wink:

[2017-01-11 11:34] hdurix opened #239 "Error when trying to use lodash in client part"
Hello,

I get an error when I try to use lodash in client part.

Here's my current configuration:

- stack: `fullstack`
- server: `node`
- client: `ng2`
- transpiler: `typescript`
- no http/2
- no different static server

I added the following import:
`import * as _ from "lodash";`

Then, just for testing, I added:
`_.range(1, 50);`

Everything is compiling, but when the page is loaded, I get the

[2017-01-11 11:43] ericmdantas commented on #239
Hello, @hdurix.

Where did you specify the lodash dep? In the `index.html` or `config.js`? Could you please share the file?

[2017-01-11 12:25] hdurix commented on #239
I didn't specify any lodash dep, as it is declared in package.json (for server part), I thought it was enough so maybe it's the problem here.

After your answer, I tried to add the dep in `config.js` and `index.html` but I couldn't manage to make it work (same issue). How should I add the dep?

Thanks

[2017-01-11 12:37] ericmdantas commented on #239
It should be added in the `config.js` file. It's just a systemjs file, so there are some explanations on how to use it out there, but by just doing:

[code]

in your config.js should be enough.

Let me know how it goes.

[2017-01-11 12:51] hdurix commented on #239
No it wasn't enough but I finally found the correct way to do it.

In config.js: `'lodash' : 'npm:lodash/lodash.js'`

and in index.html: `<script src="./lodash/lodash.js?rev=@@hash"></script>`

Thank you for your help!

[2017-01-11 12:51] #239 closed

[2017-01-11 17:17] ericmdantas commented on #239
Awesome!

[2017-01-18 00:53] frgomes opened #240 "Emacs plugin for typescript (tide) warns about several small issues."
The compiler warns about small issues like double quotes instead of single quotes, some missing semicolons, etc.

[2017-01-18 00:54] frgomes commented on #240
I've forked the repository and I'm working on that.

[2017-01-18 08:56] #240 closed

[2017-01-18 09:02] ericmdantas commented on #240
`v1.8.41` relesed. Thanks once again.

Note to self: do the same changes in `v1.9` branch.

[2017-01-18 18:37] frgomes commented on #240
In case you need to apply the commands again (instead of applying a patch file):

These commands below do the magic.
A few other mistakes need to be adjusted by hand, like semicolons, whitespaces and tabs.

[code]

[2017-01-19 00:22] ericmdantas commented on #240
That's really helpful, thank you!

[2017-01-19 13:01] frgomes opened #242 "Prefer named exports insted of "export default" from templates."
Employing ``export default`` defeats code refactoring.

    $ find . -type f -name '*.ts' | xargs fgrep -H -n 'export default' | fgrep -v /node_modules/
    ./server/api/todo/model/todo-model.ts:8:export default schema;
    ./server/api/todo/dao/todo-dao.ts:67:export default Todo;

[2017-01-19 13:20] ericmdantas commented on #242
Right, but that should be done on all files, not only `.ts` files.

[2017-01-20 17:29] ericmdantas commented on #188
Closing as I can't reproduce it.

[2017-01-20 17:29] #188 closed

[2017-01-20 17:30] ericmdantas commented on #25
Done.

[2017-01-20 17:30] #25 closed

[2017-01-20 17:33] ericmdantas opened #243 "[1.9] Proxy for HTTPS server"
Right  now, every attempt to proxy requests to a HTTPS server falls into https://github.com/ericmdantas/aliv/issues/26. We've got to fix it, update the dep, before we move on with the release.

[2017-01-20 21:46] jelling opened #244 "No Exported Member errors on new site"
I created a new site per instructions but I get numerous errors (see below) from the stock code.

Here are my versions:

tsc -v
Version 2.1.5

web npm -v
3.10.9

web node -v
v7.1.0

The errors:

gulp
[16:41:55] Requiring external module babel-register
[16:41:56] Using gulpfile ~/Google Drive/Dev/Maverick/web/gulpfile.babel.js
[16:41:56] Starting 'client.build_ts'...
client/dev/index.ts(2,9): error

[2017-01-20 23:10] jelling commented on #244
I upgraded to the latest version and this issue was resolved.

[2017-01-21 12:08] ericmdantas commented on #244
Hey, @jelling!

Thanks for updating the generator. Good to know it's resolved! 👍

[2017-01-21 12:08] #244 closed

[2017-01-24 18:44] ericmdantas commented on #243
Fixed in https://github.com/ericmdantas/aliv/releases/tag/v1.4.2.

[2017-01-24 18:44] #243 closed

[2017-01-25 10:03] ericmdantas commented on #161
Final steps: update the docs, do some manual tests and we're good to release `v1.9`.

[2017-01-26 11:11] irthos opened #245 "Directive not rendering"
Hey this seems like a wicked fast workflow. Especially considering I've been on a more compile-during-dev setup. But I've made a directive, set it's source on index.html, and then added it to a state. I cannot see the thing render. Console.log only works above the directive definition, not within. I've switched out ng-route for ui.router if somehow that conflicts somewhere.

Appreciate any help :)

[2017-01-26 11:47] ericmdantas commented on #245
Hello, @irthos.

Stupid question, but are you using your directive anywhere? Like `<div my-directive-here></div>`?

[2017-01-26 13:39] ericmdantas commented on #245
I'll go ahead and close it since it's not directly related to the generator, but feel free to send the errors you're getting.

[2017-01-26 13:39] #245 closed

[2017-01-26 19:03] irthos commented on #245
yes, haha i've remembered to include the element. Seems to break when I add a template or templateURL to the returned object of the directive.

[2017-01-26 19:04] irthos commented on #245
how do you recommend adding a view to the directive?
` function() {
        var _link = function(scope, element, attrs) {
          console.log(scope);
          console.log(element);
          console.log(attrs);
        };

        var _restrict = 'A';
        var _scope = {};
        var _replace = true;

        return {
          restrict: _restrict,
          template:'yo',
          replace

[2017-01-29 11:26] irthos opened #246 "Build errors"
Hi, was getting build errors when pushing to heroku when I remembered to build a dist. I'm running into difficulties here, too. Tests have been commented out but getting errored out after the build looks pretty complete. Attached is one of the npm logs if it helps. I upgraded node/npm to the newest available and follow your guidelines but prolly missed an essential piece somewhere. Thank you.

[np

[2017-01-29 12:38] ericmdantas commented on #246
Is it a dup of https://github.com/ericmdantas/generator-ng-fullstack/issues/213?

[2017-01-29 21:09] frgomes opened #247 "Completely separated client and server sides?"
I suggest splitting apart server and client sides, making them completely separate and independent directory structures.

Optionally, when the user specifies *both*, a top level build script could provide shortcuts for automating mundane tasks performed on both sides, like ``npm install`` on both sides; ``ng serve`` on the client side and ``gulp run-watch`` on the server side, etc.

The user could

[2017-01-30 05:13] irthos commented on #246
Doesn't seem like it. After disabling tests and minification, I can finish the build clean. When pushing to heroku, mongo fails and I'm not sure what in the config is supposed to be adjusted. Does this error look familiar and have a fix?
`An error ocurred with the DB connection:  { MongoError: failed to connect to server [undefined:27017] on first connect`
I've set-up mlab on heroku and created th

[2017-01-30 08:56] ericmdantas commented on #246
What's the output when you log those enviroment vars?

[2017-01-30 09:31] ericmdantas commented on #247
What kind of separation are you suggesting?

For now we already have the `client` and `server` folders separated. The only thing both structures have to know from each other is the path for the dependencies - so the server can serve the static content.

[2017-01-30 11:24] irthos commented on #246
fresh installed and not getting the mongo error now. traded for one after building and pushing to gh. Heroku listens for the gh push and updates the server. The two changes I've made are custom folder structure for directives and services and I flipped in gulp-babel to process es6 during build.
`(index):1 Refused to execute script from 'http://www.scannabis.com/bower_components/angular/angular.js?

[2017-01-30 11:27] ericmdantas commented on #233
Dup of #216

[2017-01-30 11:27] #233 closed

[2017-01-30 11:28] ericmdantas commented on #246
Yeah, server seems to be alright.

Now I guess you're running into #216. When you're on the network tab and you inspect the downloaded file, does it show a `.js` file or `.html` file? Also, what's the `content-type` header being sent by the server?

[2017-01-30 11:32] ericmdantas commented on #246
By the way, are you developing in a Windows machine or an Ubuntu one?

[2017-01-30 14:53] frgomes commented on #247
Directories ``client`` and ``server`` are not complete projects, but only typescript sources for the application, among other things. These directories do not contain build scripts, for example.

I would like the ability to do change the build process or other characteristics of the server side, for example, without having to touch anything which could potentially break the client side.

The need

[2017-01-30 17:14] ericmdantas commented on #247
Oh, I see what you mean. Some things might be coupled, but it shouldn't be too compliacated to adapt/customize tasks, among other stuff. The separations of folders were created with that in mind.

Obviously, integrating with some projects will be easier than others, but that's expected.

Just a few notes:

The `tasks` folder have those.

Inside `tasks` there's the `server` folder, which contains o

[2017-01-30 19:43] irthos commented on #246
Thanks, Eric. Looks very similar to #216. As you thought, the js files are all filled with html and sent as text/html. The fix on htmlmin is in place. Running bash on osx. Curious if maybe I selected conflicting options on the generator.

`{
  "generator-ng-fullstack": {
    "username": "irthos",
    "appName": "scannabis",
    "stack": "fullstack",
    "server": "node",
    "client": "ng1",
    "

[2017-01-30 19:49] irthos commented on #246
is it possible that the server is serving index.html for all requests?

[2017-01-31 00:12] ericmdantas commented on #246
yep

[2017-01-31 02:30] irthos commented on #246
thanks, added that and path but still serving index.html for all requests. Incidentally, the mongo errors reappeared. when i switch to https server, heroku throws an application error. i'll post the https heroku logs on this post and the http logs on a follow-up.

HTTPS
`
2017-01-31T02:18:56.582446+00:00 heroku[slug-compiler]: Slug compilation started
2017-01-31T02:18:56.582451+00:00 heroku[slug-c

[2017-01-31 02:31] irthos commented on #246
HTTP
`2017-01-31T02:26:00.575069+00:00 heroku[slug-compiler]: Slug compilation started
2017-01-31T02:26:00.575079+00:00 heroku[slug-compiler]: Slug compilation finished
2017-01-31T02:26:00.410910+00:00 app[api]: Deploy f56c8cf by user mark.candaras+heroku1@gmail.com
2017-01-31T02:26:00.410910+00:00 app[api]: Release v76 created by user mark.candaras+heroku1@gmail.com
2017-01-31T02:26:00.616263+00:

[2017-01-31 02:31] irthos commented on #246
Very sorry for all that.

[2017-01-31 08:50] ericmdantas commented on #246
No need to be sorry, there's a bug to be fixed and you're providing all the needed info :wink:

[2017-01-31 09:08] ericmdantas commented on #246
I'll do the following: I'll upload a new app to heroku using the `ng-fullstack 1.8.x` version to see if there's something wrong with the workflow, similar to http://issue-97.herokuapp.com/

[2017-01-31 09:20] ericmdantas commented on #246
By the way, do you have your own certs or are you still using the ones provided by the generator?

[2017-01-31 09:57] ericmdantas commented on #246
I won't be able to finish it right now, but the initial work is being done here: https://github.com/ericmdantas/ng-fullstack-issue-216

Tried to deploy to heroku, but got the following error log:

[code]

Not sure why it'd not find the `.babelrc` file and its babel version in `package.json`.

[2017-01-31 10:03] ericmdantas commented on #246
Right, so after having the `babel` plugins in dependency instead of `devDependency`, it works (note that that's only needed when the server is "compiled at runtime" by babel).

Now https://ng-fullstack-issue-216.herokuapp.com/ is getting the errors reported in this issue, which is great because now I can tackle this.

Thanks for sticking by, @irthos.

[2017-01-31 10:12] ericmdantas commented on #246
One thing, who's your MongoDB cloud server? MongoDB or MongoLAB? Because depending on where you created your db instance and which name you gave your `enviroment var` in Heroku, you'd have to change the line in `server/config/db.conf.js`:

[code]

[2017-01-31 14:20] ericmdantas commented on #246
When running `npm run build-dist` locally and running `npm start` (which is done by Heroku), I can see the server running the `dist` static just fine.. I'm starting to guess it's related to the way Ubuntu is dealing with the paths.

[2017-02-01 07:17] irthos commented on #246
Thanks a lot for digging in the deeps here. I'm still using the stock certs rn, would you like me to get to it?

I changed the db config to the proper MONGOLAB_URI but still basically seeing the same error. (you might notice the error from removing new relic service for less logs, but makes no difference)

io:scannabis.com i$ heroku logs --app scannabis-app --tail
2017-02-01T06:56:27.148384+00:00

[2017-02-01 09:05] ericmdantas commented on #246
It doesn't make sense to `MONGOLAB_URI` to be `undefined` - the only reason that should happen is when such env variable is not set (in this case heroku > settings > reveal config vars) - same goes for `NODE_ENV`.

Anyway, I'm still trying to make sense on why the libs aren't being found but the source code is.

[2017-02-01 11:30] ericmdantas commented on #236
Closing as there was no response.

[2017-02-01 11:30] #236 closed

[2017-02-01 22:52] irthos commented on #246
I wonder if using http2 requires something different from express.

[2017-02-01 23:18] irthos commented on #246
Fwiw console.log shows the env vars as supposed to.

[2017-02-02 00:18] ericmdantas commented on #246
HTTP/2 doesn't work with express yet; see: https://github.com/molnarg/node-http2/issues/100. You're just using HTTPS.

As for the console.log, that's interesting.. I'm still investigating

[2017-02-02 05:23] irthos commented on #246
Me too. I've gutted the entire server and replaced the deps on package.json with a simple express and the application error is gone but we're back to serving index.html to the javascript.. possibly targeting the bower files moreso, still investigating.

[2017-02-02 05:49] irthos commented on #246
pretty sure we're isolating down to something around bower. They are returning as index.html which is why the angular module isn't found for the rest of the files in this log:

![screen shot 2017-02-01 at 9 46 20 pm](https://cloud.githubusercontent.com/assets/2566560/22538570/329c5402-e8c8-11e6-85bb-806f0ef8ea4e.png)

[2017-02-02 07:50] irthos commented on #246
hacky fix, remove bower_components from .gitignore. Until we get http2 flowing, suggested patch would include a script to minimize and concat bower files into a single js file, commonly known as vendor.js. Alternatively, we could take advantage of webpack or system.js to serve them on the fly from cdn or w/e repo.

Thanks for the assist and blazing fast dev env!

[2017-02-02 07:50] #246 closed

[2017-02-02 09:00] ericmdantas commented on #246
That's good to hear, @irthos. Thanks for the patience and working this one through.

As for the `bower_components` being removed from the `.gitignore`, that's more like the real resolution. The problem is that the `bower_components` inside `client/dev` should be blocked by deployments, while the `bower_components` inside `client/dist` should be deployed normally - that one would be hard to guess,

[2017-02-02 09:06] ericmdantas commented on #246
Also, instead of removing `bower_components` altogether from `.gitignore`, what I did was block `client/dev/bower_components` instead - so, `client/dist/bower_components` will be deployed alright.

[2017-02-02 09:12] ericmdantas commented on #246
It was like that, but then HTTP/2 came by, Golang implemented it and Node/Express stayed behind, so I had to make a decision to implement it for the ones that were "more advanced". But I'm definetely aware of the situation.

Also, for HTTP/2 is not only about leaving files without concatanation, there's a bunch of math behind it, as this article explains: https://medium.com/@asyncmax/the-right-way

[2017-02-02 09:14] ericmdantas commented on #246
`v1.8.48` released with the `.gitignore` change.

[2017-02-02 13:24] ericmdantas commented on #198
This will be reverted because of #213.

[2017-02-03 23:51] Adaok opened #248 "Can you explain me how launch app with client and server generate seperately ?"
Hello,

I'm not familiar with MEAN stack application and I would like to know how run the todo app when I generate the client and the server seperately.

I have a 404 error when I want call the Post API.

Thanks in advance :)

[2017-02-04 00:02] ericmdantas commented on #248
Hello, @Adaok.

Which part of the stack are you using `ng-fullstack`? Client or server?

[2017-02-04 00:11] Adaok commented on #248
Hey @ericmdantas ! I have generate two projects : one only client with ng2, node and typescript, and for the server : same things ng2, node and typescript. I have run first server, after the client, and when I want to add a item, I have a 404 error :/

[2017-02-04 11:38] ericmdantas commented on #248
I see.

Since you're using a proxy, you'll have to change some props inside your `.alivrc`. The properties `proxyWhen` and `proxyTarget` will have to be changed to fit your case. `proxyWhen` is the prefix given to your `api` calls, generally it's `/api/*` (so everything that hits this will be reverse proxied) and `proxyTarget` is the url of your server responsible for the response, it could be som

[2017-02-04 23:03] Adaok commented on #248
Thanks you @ericmdantas , that was the reason for my error.
Thanks again for your reply, I will be able to continue to look to work with your generator. :)

[2017-02-04 23:03] #248 closed

[2017-02-05 17:47] ericmdantas commented on #248
👍

[2017-02-07 08:51] ericmdantas commented on #161
Depending on https://github.com/labstack/echo/issues/838.

[2017-02-07 09:55] ericmdantas commented on #158
Looks like it's back on track: https://rethinkdb.com/blog/rethinkdb-joins-linux-foundation/.

[2017-02-07 09:56] ericmdantas commented on #170
Added RethinkDB to the mix again.

[2017-02-08 13:17] ericmdantas opened #249 "Implement HTTP/2 server for Node.js"
As done in: https://github.com/ericmdantas/aliv/issues/25

[2017-02-08 13:27] ericmdantas commented on #161
Added HTTP/2 server to the list.

[2017-02-08 13:46] ericmdantas commented on #249
Closed in 56e3834

[2017-02-08 13:46] #249 closed

[2017-02-08 13:53] ericmdantas commented on #249
Couldn't find the `typings` for `spdy`. We'll need it in case the user chooses `typescript`, otherwise the compilation of the server will fail.

[2017-02-08 13:57] ericmdantas commented on #242
Actually, I'll go ahead and close this, since it's a bit of a matter of taste.

I mean, if you're really exporting something that should be "unique", I don't see any problem on that being the only thing exported in such file.

[2017-02-08 13:57] #242 closed

[2017-02-09 16:42] pdaniel-frk opened #250 "go server issues"
Hello,

I've generated a new project using the provided instructions. Unfortunately i get an error when i try to execute **go get** command :

go install: no install location for directory .....\server outside GOPATH
        For more details see: go help gopath

Even if i put server in my gopath, i still get this error. I am using Windows. Also in the docs it is suggested to run **go run main.go**

[2017-02-09 17:13] ericmdantas commented on #250
Hello, @pdaniel-frk.

Go server is broken due to some breaking changes made in `echo`'s project (the web framework used) - so it's definetely something I'll have to look into (either update the version or downgrade it).

Thanks for reporting it.

[2017-02-09 17:29] pdaniel-frk commented on #250
I've made some changes for go to compile :

func Init(e *echo.Echo) {
	e.Static("node_modules","node_modules")

	if env := os.Getenv("GO_ENV"); env == "" {
		e.Static("client/dev","client/dev")
	} else {
		e.Static("client/dist","client/dist")
	}
}

But this does not seams to be the problem with the build process. The problems still remains.

[2017-02-10 10:44] ericmdantas commented on #250
You mean you can get the server to run, but you can't run `npm run dev`? Can you please try it as `npm run watch`?

[2017-02-10 11:22] pdaniel-frk commented on #250
Ok, npm run watch worked. In the UI i see only this message :

{"message":"Not Found"}

Thx

[2017-02-10 11:25] ericmdantas commented on #250
The first param for `e.Static` should be a string starting with `/` as in `/myFolder`. Can you please update it an restart the server?

[2017-02-10 11:27] pdaniel-frk commented on #250
This is what i did

package static

import (
	"os"

	"github.com/labstack/echo"
)

func Init(e *echo.Echo) {
	e.Static("/node_modules","node_modules")

	if env := os.Getenv("GO_ENV"); env == "" {
		e.Static("/client/dev","client/dev")
	} else {
		e.Static("/client/dist","client/dist")
	}
}

I still get the {"message":"Not Found"} error.

[2017-02-10 11:38] pdaniel-frk commented on #250
Ok, after doing this

func Init(e *echo.Echo) {
	e.Static("/","node_modules")

	if env := os.Getenv("GO_ENV"); env == "" {
		e.Static("/","client/dev")
	} else {
		e.Static("/","client/dist")
	}
}

I managed to get a step forward. Now i see something loading but i get javascript errors

system.js Failed to load resource: the server responded with a status of 404 (Not Found)
Reflect.js Failed to lo

[2017-02-10 13:08] ericmdantas commented on #250
Now that's an issue with echo, as described here: https://github.com/labstack/echo/issues/838

I'll probably downgrade to `v2` and keep using the former API until it's fixed.

[2017-02-14 11:52] pdaniel-frk opened #251 "1.9.0 version error"
Hello,

I tried using 1.9.0 version on Windows. I get this error when i try to generate the project

.... github\generator-ng-fullstack-1.9.0-0\app\index.js:3
const {Base} = require('yeoman-generator');
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Modul

[2017-02-14 12:28] ericmdantas commented on #251
Hello, @pdaniel-frk.

You'll need Node 6.x or above to get object destructuring to work.

[2017-02-14 12:28] #251 closed

[2017-02-16 11:28] #213 closed

[2017-02-16 11:29] #178 closed

[2017-02-16 11:30] ericmdantas commented on #161
Done.

[2017-02-16 11:30] #161 closed

[2017-02-16 17:27] ericmdantas commented on #211
Are there any files that should still exist even when generating a clean project?

Something like `client/dev/index.html`, `client/dev/app.js` and `server/index.js` - for example. Just wondering because it might be good to make the user remember the proposed folder structure, so he/she doesn't have to touch too many files to get the static server, build and other stuff to work.

[2017-02-16 18:10] ericmdantas commented on #211
ping @divanvb because of previous interest in the `clean project` feature

[2017-02-17 12:50] ericmdantas commented on #211
Released under `1.10.0-0`.

Download it by running `npm i -g generator-ng-fullstack@next`.

[2017-02-17 12:50] #211 closed

[2017-02-17 12:51] ericmdantas commented on #202
Clean project feature released under `1.10.0-0`.

Download it by running `npm i -g generator-ng-fullstack@next`.

[2017-02-17 13:11] ericmdantas commented on #218
Removing the version for now.

[2017-02-18 17:51] djcaesar9114 opened #253 "Problem using this generator"
Hello,
I'm used to coding my own lines, not using anything like Yeoman or other things like this. I read more and more good comments about it, so I tried this ng-fullstack generator. Actually, my experience is so far not as good as I expected.

I explain myself: I tried to generate an app answering the questions this way:

[code]

Everything went fine, excepted this warning at the end:

└── UNMET

[2017-02-19 17:02] ericmdantas commented on #253
Hey there, @djcaesar9114. Thanks for trying out `ng-fullstack`.

And, yeah, while it can be painful to understand the "black box" that goes in the first generated project, once you do, it's a beautiful world.

But, your problem seems to be related with Aurelia itself (ng1, ng2 and vue2 are working with your options). So it's a bug on our end, I'll label it as such and see what's going on.

Thanks

[2017-02-20 10:45] #250 closed

[2017-02-20 10:48] ericmdantas commented on #250
Should be fixed in `1.9.3`.

Please remove the previous echo folder in your `%GOPATH%/src/github/labstack` and run `go get` again.

[2017-02-20 11:34] ericmdantas opened #254 "Bump Angular from 2.x to 4.x"

[2017-02-20 17:19] djcaesar9114 commented on #253
Thanks for you answer. I'll wait until you fix this bug with Aurelia as I really prefer it rather than Angular.

[2017-02-20 18:04] ericmdantas commented on #253
Thanks for understanding.

Meanwhile, let me know if you got it working so I can fix it here.

[2017-02-21 09:58] klemensz commented on #88
That would really make sense to have authentication included in the default. Similar to what Angular Fullstack (see https://angular-fullstack.github.io/developing/) or MEAN.js (see http://meanjs.org/docs/0.4.x/#passport) has. In a first version local user/password authentication would be really nice, having other auth strategies like Facebook/Google out-of-the-box would be even more awesome. 🙂  I

[2017-02-24 18:34] ericmdantas commented on #201
Maybe use [webpack-stream](https://github.com/shama/webpack-stream)? So it works together with gulp.

[2017-02-25 06:52] Mohsen-Malekan opened #255 "generator doesn't work"
`yo ng-fullstack` throws an error
[code]

[2017-02-25 11:47] JankoLancer commented on #255
Same here.

[2017-02-25 12:54] JankoLancer commented on #255
Update node to 6.1 and resolve problem.

[2017-02-25 20:38] ericmdantas commented on #255
Yup, please update Node to the latest.

[2017-02-25 20:38] #255 closed

[2017-03-02 11:52] ericmdantas commented on #201
And, yeah, it won't be either gulp or webpack. They'll complete each other whenever possible,

[2017-03-02 21:53] ddesna opened #256 "Can not create server-side endpoint"
I have this error when I trying to create new NodeJS server-side endpoint:

[code]

Note: client-side Angular components creates without issues.
Using `generator-ng-fullstack@1.9.5 `

[2017-03-02 23:36] ericmdantas commented on #256
Hello, @ddesna.

Can you share the content of you `.yo-rc.json`?

[2017-03-03 06:50] ddesna commented on #256
Hi @ericmdantas,

[code]

[2017-03-03 10:03] ericmdantas commented on #256
I see.

Can you please add the following line there?

[code]

And try again? Since there's the options to work with koa now, that's something that's needed in the `yo-rc` file.

Either way, I'm patching a fix to consider express as the default one. Thanks for the report.

[2017-03-03 10:13] ericmdantas commented on #256
`v1.9.6` published with the fix.

[2017-03-03 10:13] #256 closed

[2017-03-04 08:52] ddesna commented on #256
Thanks @ericmdantas,
Adding `"nodeWebFramework": "express"` line, it was still happening but after update to `v1.9.6` it's working perfectly.

[2017-03-04 14:26] ericmdantas commented on #256
👍

[2017-03-07 01:44] frgomes commented on #247
I'm using only _npm_ now as per this article:
https://www.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

I have now a completely self contained frontend and a completely self contained backend. My main project has only a .gitmodules file and that's all.

In particular, I've removed _gulp_ from the build process. The reason for that is that now I'm using a tool called _s2i_ from _RedHat OpenShi

[2017-03-07 01:44] #247 closed

[2017-03-07 02:52] ericmdantas commented on #247
Thank you for all the information, @frgomes, it's definitely useful - and it's also a good example for someone who wants to do something like in your case.

👍

[2017-03-13 00:44] Dev-Force opened #257 "Configurable Content Output"
I nice idea would be to let the users create a configuration file with any changes they want to make to the naming and structure of the project before running the yo command

[2017-03-13 01:17] ericmdantas commented on #257
Do you mean like https://github.com/ericmdantas/generator-ng-fullstack/issues/192?

[2017-03-13 01:21] Dev-Force commented on #257
As I can tell no. Actually #192 could be a part of my suggestion. I suggest changing names of folders and files and whether or not to create daos controllers and views specifically for each.

[2017-03-13 09:54] ericmdantas commented on #257
I see.

As of now, I have no idea how to make it without making the questions being "too much". If you've got any idea, let me know :smile:

[2017-03-13 13:05] Dev-Force commented on #257
Thats what said. We dont need to achieve that through questions but through an optional configuration file. If someone wants to do that he wiil need to create a file with a specific name and put a json configuration in there. Then the generator will check if such a file exists in the working directory and inject the configuration if it does.

[2017-03-13 14:40] ericmdantas commented on #257
Just out of curiosity: what would you like to change?

[2017-03-15 20:01] dbilenkin opened #258 "TypeScript files are not actually watched in gulp watch task"
I noticed the gulp watch.js seems to be watching for html, css and ts files, but it looks like there is a bug in the ts line:

`_watchable.push(base.DEV + "**/.ts");`
`_watchable.push(base.DEV + "**/*.css");`
`_watchable.push(base.DEV + "**/*.html");`

Notice the `*` missing before the `.ts`. I'm assuming this is a mistake? Can I create a PR to add the `*`?

`_watchable.push(base.DEV + "**/*.ts");

[2017-03-16 09:47] ericmdantas commented on #258
Yup, this is a mistake.

Thanks for the PR!

[2017-03-16 09:57] ericmdantas commented on #258
Fixed by a34c1304ba58dd32ecc6673e9adc15141d64e434.

Thanks for the contribution.

[2017-03-16 09:57] #258 closed

[2017-03-16 09:57] ericmdantas commented on #258
Also, both versions `1.9.5` and `next` were released with the fix.

[2017-03-16 10:14] astroanu opened #260 "Missing: SyncTestZoneSpec"
In the latest version i'm getting this error when running client.unit_test. Any idea on how to solve this?

[code]

[2017-03-16 10:30] ericmdantas commented on #260
If you're using `ng2`, you're probably running into https://github.com/ericmdantas/generator-ng-fullstack/issues/101.

Closing as duplicated.

[2017-03-16 10:30] #260 closed

[2017-03-16 11:09] astroanu commented on #260
so there's no fix for this now ?

[2017-03-16 11:27] ericmdantas commented on #260
Nope, at the time there was too much going on the ng2 tests, even the core team was having trouble getting some tests running and/or keeping a given api stable - so I aborted the ng2 test task.

Nowadays the API might be more stable, but we'll need a release with the changes to the `*_test.ts` files, `karma.config.js` and so on.

[2017-03-16 11:28] ericmdantas commented on #260
PR is welcome, by the way :smile:

[2017-03-16 21:55] astroanu commented on #260
Cool, thanks. i'll take a look if i can get it to work somehow.

[2017-03-20 16:46] bernardbr opened #261 "Add capability to generate component using generator in a project with ng1."
Currently the version 1.6.x of Angular, supports components. Could you be add this capability on your generator?
Thanks!

[2017-03-20 18:31] ericmdantas commented on #261
Sure.

Do you have any template in mind? Something along the lines:

[code]

[2017-03-20 19:51] bernardbr commented on #261
I thought to use templateUrl instead of template. Something like this:
;(function(ng) {
  "use strict";

  ng.module('<%= appName %>', []);
    .component('<%= name %>', {
      templateUrl: `<%=path %>`,
      controller: [function() {
         this.user = {
           name: 'world'
         };
      }]
    });
}(window.angular));

But, the other one approach is good too.

Em seg, 20 de mar de 20

[2017-03-20 20:49] bernardbr commented on #261
I thought to use templateUrl instead of template. Something like this:

[code]

But, the other one approach is good too.

[2017-03-21 02:03] ericmdantas commented on #261
Sounds good.

But path won't be a variable, it'll be something like:

[code]

[2017-03-21 12:22] bernardbr commented on #261
Excelent!

[2017-03-21 12:24] bernardbr commented on #261
But the file have 2 "karma-ng-html2js-preprocessor", the first one setted to "^0.1.2"  and the second one to "^1.0.0".

Is it correct?

[2017-03-21 14:07] ericmdantas commented on #261
Are you going to send another PR with the component creation? I can do it myself if you want.

[2017-03-21 14:08] bernardbr commented on #261
I'll do a new PR with this new feature at night!

[2017-03-21 14:10] ericmdantas commented on #261
Awesome! :+1:

[2017-03-21 14:13] bernardbr commented on #261
But I'm in doubt about which template is better (The second one is more simpler to implement):

[code]

or

[code]

[2017-03-21 14:38] ericmdantas commented on #261
I'd go with the first one, so it'll be the same thing that's already being done in `ng2`. See [here](https://github.com/ericmdantas/generator-ng-fullstack/blob/master/_ng/client/angular.js#L258-L282).

To make that work, you'll have to create a new folder in `component/templates` called `ng1`, and then add the following files: `component.css`, `component.html`, `component.js` and `component_test.j

[2017-03-22 14:53] ericmdantas commented on #261
Closed by 4aad270.

[2017-03-22 14:53] #261 closed

[2017-03-22 15:02] ericmdantas commented on #261
`v1.9.8` released.

[2017-03-23 12:13] bernardbr opened #267 "@Next"
Hi!
Could you release the next version with ng1 component feature and the option to create without example as a "final" version 1.10?

[2017-03-23 12:37] ericmdantas commented on #267
Yup.

[2017-03-23 12:46] bernardbr commented on #267
Thanks! :clap:

[2017-03-23 12:50] ericmdantas commented on #267
Done.

Can you please give it a try?

[2017-03-23 12:52] bernardbr commented on #267
Off course!
Wait a minute please...

[2017-03-23 12:56] bernardbr commented on #267
The version 1.9.10 still create a todo's example. It's correct?

[2017-03-23 12:57] ericmdantas commented on #267
Yes, the version that has an option not to create it has to be installed as `npm i -g generator-ng-fullstack@next`.

[2017-03-23 13:04] bernardbr commented on #267
Oh! Ok...
This one is stable?
I'm directing my team to use the generator, but I'm afraid of the @next version don't be stable.

[2017-03-23 13:08] ericmdantas commented on #267
It is. It was created to help people use new features without having to wait for a long time before the whole version is done.

It's pretty much the current version (`@latest`) with a few new implementations from the next roadmap.

Every bug fixed in the `master` branch is fixed in the `next` branch too. As of right now, the only difference between `master` and `next` is the possibility to generat

[2017-03-23 13:42] bernardbr commented on #267
I get it! Thanks.

[2017-03-23 13:42] ericmdantas commented on #267
:+1:

[2017-03-23 13:42] #267 closed

[2017-03-24 10:12] ericmdantas commented on #254
http://angularjs.blogspot.com.br/2017/03/angular-400-now-available.html

[2017-03-27 06:11] zetekla opened #268 "method SendIndex in StaticDispatcher class not invoked!"
- [x] I understand that GitHub issues are not for tech support, but for questions specific to this generator, bug reports, and feature requests.

Item | Version
----- | -----
generator-angular-fullstack | 4.1.4
Node | v6.9.2
npm | 3.10.9
Operating System | OS X 10 El Capitan
etc | etc

Item | Answer
----- | -----
TypeScript
HTML
SCSS
Router
Client Tests | Jasmine / Mocha
MongoDB
Auth | Y

vcs at
h

[2017-03-27 10:53] ericmdantas commented on #268
Hello, @zetekla.

That's because you're in development, so [`aliv`](https://github.com/ericmdantas/aliv) will take care of the static stuff. Once you're in production, the `sendIndex` method will be called.

I cloned your repo and saw that there's no `.alivrc` file - that's what's causing the issue. If you create such file in the root of your app, and add the following content:

[code]

It'll work

[2017-03-27 10:53] #268 closed

[2017-03-27 13:40] ericmdantas commented on #192
this will be tackled in https://github.com/ericmdantas/ngf/issues/1

[2017-03-27 13:40] #192 closed

[2017-04-03 20:11] Oddadmix opened #269 "Is there a full resource generator with both client and server ?"
I wanted to know whether there is a generator for both client and server.

Also is there a way to configure the attributes for the model so that it would generate the right views  as well.

Thanks in advance.

[2017-04-04 01:31] ericmdantas commented on #269
Hey, @Oddadmix.

Yes. This generator is able to work with the client and server together - simply choose the `fullstack` option in the questions asked.

As of right now, there's no custom params being passed to the view/model - it's a pretty dull file being created.

[2017-04-04 01:31] #269 closed

[2017-04-06 18:26] catchlui opened #270 "Error"
Hi ,

I am getting the below error,while starting the application
53:36] Starting 'client.compile_from_sass_to_css:dev'...
G:/nodejs/est/node_modules/@angular/common/src/directives/ng_class.d.ts(48,34): error TS2304: Cannot find name 'Set'.
G:/nodejs/est/node_modules/@angular/compiler/src/aot/compiler.d.ts(44,32): error TS2304: Cannot find name 'Map'.
G:/nodejs/est/node_modules/@angular/compiler/s

[2017-04-06 18:47] ericmdantas commented on #270
If you already have `typings` installed globally (npm i -g typings), simply run `typings install` and try again.

[2017-04-06 18:47] #270 closed

[2017-04-10 11:38] ericmdantas commented on #254
When trying to compile, I'm getting the following error:

[code]

[2017-04-10 11:41] ericmdantas commented on #254
Updated `tsc` to `2.2.2` and now I'm getting:

[code]

[2017-04-12 05:26] steadycoding opened #272 "[koa + typescript] Error when compiling server code"
Steps to reproduce:
Windows 10
npm 4.5.0 and node.js 7.8.0
Have installed the ngfullstack generator
From cmd
1. Create directory \dev\ngFullStack
2. cd into directory
3. yo ng-fullstack
4. Options: appName, user, user@user.com, fullstack, github or bitbucket, ng2, sass, node, koa, , typescript, yes, yes, no
5. npm run dev

Comments:
I have repeated these steps using C drive only and from a separat

[2017-04-12 09:51] ericmdantas commented on #272
Hey, @steadycoding.

If I remember correctly, typescript and koa weren't getting along very well. Can you please post the whole error message? I'm pretty sure that's the error.

[2017-04-13 06:34] steadycoding commented on #272
@ericmdantas Yep. Since then I've tried all sorts of combinations.
The error that I get when I run the generator with these options
![image](https://cloud.githubusercontent.com/assets/17366068/24991673/7f6e3e4a-1fd1-11e7-8354-80e450741f70.png)
**npm run dev** error: "tsc && concurrently "nodemon ./server/index --watch server" "gulp""
**npm start** error: "node server/index"
**gulp** error:  a brow

[2017-04-13 10:07] ericmdantas commented on #272
Thanks for providing such details!

So, yeah, that's what I expected. Koa and Typescript are not working together - the other combinations are doing fine.

I'll check what's available in terms of typings for Koa and release a patch with it. If you'd like, feel free to send a PR :smile:

[2017-04-20 16:41] dassiorleando opened #274 "npm run dev does not works on a newly generated app."
Hi @all,
Hi just generate a new app to use it as a starter of my project, but it does not work at all.

**Details**
![capture d ecran 2017-04-20 a 17 37 33](https://cloud.githubusercontent.com/assets/7150752/25242121/79a2f562-25f0-11e7-8813-72bb0808919f.png)

**Error**
`DassiMacBook:free-bloog dassiorleando$ npm run dev

sh: concurrently: command not found
npm ERR! file sh
npm ERR! code ELIFECYCLE

[2017-04-20 18:32] ericmdantas commented on #274
Hey there, @dassiorleando.

That's a weird error, it's like it never ran `npm install` for you. Do you mind running it manually and trying again?

[2017-04-20 18:57] dassiorleando commented on #274
I done this:
`npm install -g concurrently` : Install concurrently globaly.
And looks like it is working.

[2017-04-20 19:15] ericmdantas commented on #274
Well, good to know.

`concurrently` was supposed to be installed locally only, but.. at least its working. Thanks, @dassiorleando.

[2017-04-20 19:15] #274 closed

[2017-04-20 19:44] dassiorleando commented on #274
Welcome.
The better is to run: `npm install --dev`
Not yet mensionded in the getting started.

To install all dev dependencies locally, concurrently and others one will be installed too.

[2017-04-20 19:45] ericmdantas commented on #274
But that's done automagically for you right after you answer the questions - `yo` calls `npm install` under the hood.

[2017-04-20 19:47] dassiorleando commented on #274
But dev dependencies was not.
Weird I know.

[2017-04-25 16:50] luiscabanillas commented on #254
Anything on this? i'm thinking of using this generator but I want to use Angular 4.x, is this error still popping up?

[2017-04-25 18:21] ericmdantas commented on #254
Hello, @luiscabanillas.

I tried to update it and got some typing errors (as described above) and I haven't touched it since then. I'm kinda busy these days, but I might be free this weekend, so I'll try to release a patch with the bump.

In the meantime, if you're interested, you can send a PR and I'll gladly merge it.

[2017-04-25 20:08] aditya61085 opened #275 "No option to add route directly?"
I didnt find command to directly add route to application with components. Is there any?

[2017-04-25 20:37] ericmdantas commented on #275
Nope.

What client framework are you using?

[2017-04-25 20:40] aditya61085 commented on #275
I am using angular 2.

I was looking something similar to https://angular-fullstack.github.io/generators/route/
I just switched from this as they dont have ang2 support yet.

[2017-04-25 20:48] ericmdantas commented on #275
I see.

Right now for ng2, in the todo app, the route lives in the same folder as the component. I'll have to check out how the other client frameworks prefer to have the routes separated, so I can implement the subgenerator.

[2017-04-27 13:03] ludoo0d0a opened #276 "test db helper - mongoose connection"
Tests should wait for Mongoose connection.
This would be better :

[code]

and in xxx_test.js

[code]

[2017-04-27 13:23] ericmdantas commented on #276
Hey, @ludoo0d0a. Nice catch.

If you feel like giving it a shot, feel free to do so. I'll only have free time on the weekend.

[2017-04-28 09:42] kieranfraser commented on #234
@ericmdantas  what should the config.js look like? I seem to be getting the same error as inicio and I'm unsure what you mean by "path to the angularfire2 dist folder" (currently my config.js is identical to inicio's)

[2017-04-28 09:48] kieranfraser commented on #234
Got it - final config.js:

`System.config({
	defaultJSExtensions: true,
  paths: {
    // paths serve as alias
    'npm:': './'
  },
  // map tells the System loader where to look for things
  map: {
    // our app is within the app folder
    app: 'app',

    // angular bundles
    '@angular/core': 'npm:@angular/core/bundles/core.umd.js',
    '@angular/common': 'npm:@angular/common/bundles/common

[2017-04-28 10:59] ericmdantas commented on #215
Closing as I can't reproduce it.

[2017-04-28 10:59] #215 closed

[2017-04-28 11:00] ericmdantas commented on #124
Too much work.

[2017-04-28 11:00] #124 closed

[2017-04-28 11:06] ericmdantas commented on #187
Out of scope.

[2017-04-28 11:06] #187 closed

[2017-04-28 11:06] ericmdantas commented on #150
Out of scope.

[2017-04-28 11:06] #150 closed

[2017-04-28 17:36] inicio commented on #234
Thanks, @kieranfraser. I see my error now—I was referencing the library folder whereas I should have referenced the library folder's Javascript file!

[2017-05-02 13:23] #276 closed

[2017-05-02 13:32] ericmdantas commented on #276
Since it's just enhancement, it'll be merged into master when `v1,10` is done.

Thanks once again.

[2017-05-02 13:34] ludoo0d0a commented on #276
you're welcome.
Nice to see that fixes are fast :+1:

[2017-05-02 13:37] ericmdantas commented on #276
:smile:

[2017-05-02 13:54] ericmdantas commented on #254
I found https://github.com/angular/angular/issues/14595#issuecomment-289303911, which seems to fix the errors.

I'll release a new version in `master` and `next` with the bump.

[2017-05-02 14:08] #254 closed

[2017-05-02 14:16] ericmdantas commented on #254
Versions published with the ng2 bump to 4.x.

[code]

[2017-05-03 13:26] ludoo0d0a commented on #254
Are these diffs the only things to do to upgrade an already generated app to 4.x ?
(^2.4.4-> ^4.1.0  + tsconfig.json:   "noImplicitAny": false,  "skipLibCheck": true )
https://github.com/ericmdantas/generator-ng-fullstack/commit/3c57a137632f5f004357030b57b0e736ac1a106b

[2017-05-03 13:31] ericmdantas commented on #254
yup

[2017-05-08 11:42] countrdd commented on #202
so it 203 implemented?

[2017-05-10 03:15] TheBrenny opened #277 "Todo app isnt' saving to Mongo's DB"
I've been doing ~7hours of non-stop Googling and research about why my Todo app isn't replicating what is visible in the Wikis.

I generate as follows:
[code]

I've generated using Angular as well, and have come to the conclusion that it's an issue with Vue. For some reason, adding an item doesn't update the database, and hence deleting an item won't throw an error because it's not reaching the da

[2017-05-10 03:32] ericmdantas commented on #277
Hello, @TheBrenny.

Right, so a couple questions:
- Is the information being shown in the `network` tab?
- Is the `mongod` service running?

Keep in mind that Angular and Vue choice does not affect the server side, so if there's a problem, it's just in the client - either the info is not getting there, or the db is not up yet.

[2017-05-10 03:46] TheBrenny commented on #277
Sorry, I should've been more clear: I'm fairly certain it's an issue on the client-side. I'm not gonna lie, I really have no clue why this is happening... 😄

Onto your questions:
1. Yes. See the picture below.
2. AFAIK, yes. As a foreground service, so I have an open Command Prompt.

![image](https://cloud.githubusercontent.com/assets/1498923/25882464/bca865a8-3582-11e7-87ea-6c6f8201f9e4.png)

[2017-05-10 05:20] TheBrenny commented on #277
If it's worth anything, here's the output from the Terminal and Command Prompt when running the Vue version and adding three items:
![image](https://cloud.githubusercontent.com/assets/1498923/25884132/57a17944-358f-11e7-8acc-af5fc568dd86.png)

Similarly, however running Angular:
![image](https://cloud.githubusercontent.com/assets/1498923/25884184/b018760e-358f-11e7-8bec-18f2216edf25.png)

It's sta

[2017-05-10 05:39] TheBrenny commented on #277
Found the issue. Vue 2 no longer has the `ready` function. It's been replaced by `mounted`. That's why I was never receiving the latest posts. ([See this SO answer for future reference](http://stackoverflow.com/questions/40209443/vue-js-ready-function-is-not-triggered#answer-40209796))

Wowee. What an adventure!

[2017-05-10 05:39] #277 closed

[2017-05-10 09:50] ericmdantas commented on #277
Haha, awesome catch, @TheBrenny.

Thanks for all the info!

[2017-05-17 12:23] ericmdantas opened #279 "[tasks/gulp.watch] - Should not watch changes in bower_components"
As reported by @fernandacanto, when using `ng1` + `bower` and using a module such as `angular-i18n`, the app page is never fully loaded.

That happens because the watch task is trying to map/watch everything inside `bower_components`, and that can be very slow/heavy, because some of the folders have way too many `.js` files - which is the case with `angular-i18n`.

It turns out this (in tasks/watc

[2017-05-17 12:29] ericmdantas commented on #279
Solved by 255ee74.

[2017-05-17 12:29] #279 closed

[2017-05-17 12:42] ericmdantas commented on #279
Released `1.9.18` with the fix.

[2017-05-17 12:50] ericmdantas commented on #279
Also released in the `next` branch.

[code]

[code]

[2017-05-31 12:06] ericmdantas opened #280 "Do not use generators in Koa server"
`async`/`await` have landed in Node.

[2017-05-31 13:06] ericmdantas opened #281 "require-dir is broken on node 8"
Reason why it's broken: https://nodejs.org/api/globals.html#globals_require_extensions

Issue: https://github.com/aseemk/requireDir/issues/45
PR: https://github.com/aseemk/requireDir/pull/46

[2017-05-31 19:07] ericmdantas commented on #281
`require-dir` version `v0.3.2` released.

Doing a fresh `npm i` or `npm i --save-dev require-dir@0.3.2` fixes the bug.

[2017-05-31 19:07] #281 closed

[2017-06-08 11:10] casper123 opened #282 "Heroku Error Gulp is not defined"
I'm getting this error after deploying on heroku

[code]

[2017-06-08 11:22] ericmdantas commented on #282
Hello, @casper123.

The error indicates you're using gulp in production? I guess you chose the `client only` app. In this case, you should have a different static server taking care of your frontend, not `gulp/aliv`.

[2017-06-08 11:22] #282 closed

[2017-07-02 23:09] alexri89 opened #283 "Task 'client.build:dist' is not in your gulpfile"
Hi there,

I installed a server-side application via your yo-generator (nodejs + typescript). After I ran npm run build-dist I came across the error message "Task 'client.build:dist' is not in your gulpfile".

Installation
- Server only, Nodejs
- Typescript
- Newest version of generator (just updated earlier today)

How can I fix that?

Cheers,
Alex

[2017-07-03 11:01] ericmdantas commented on #283
Hey, @alexri89.

For server-side builds (with typescript), the ideal scenario would be the IDE to build it for you on save. If that's not possible, then you can call the `gulp server.compile_tsc` directly.

But, I agree that can be improved. I'll release a patch soon.

[2017-07-03 11:28] ericmdantas commented on #283
`v1.9.19` released with the fix.

Changes:

- added the use of `server.compile_tsc` in `package.json` when the user selects server only and typescript
- `tasks/server/build_tsc.js` has a new `dest` path (`./server`)

[2017-07-03 11:28] #283 closed

[2017-07-28 09:06] ybchoo opened #284 "Just Question"
Eric
I have generated course, instructor service endpoint using what you have suggested and planned.
I too modified server/routes/index.ts  to include course and instructor route like what you have
suggested using your template but I juz cannot get http://localhost:3333/api/course, http://localhost:333/api/instructor to accept any get / post / delete request.
Can kindly advices? THanks for your he

[2017-07-28 10:59] ericmdantas commented on #284
Hey, @ybchoo. Thanks for the kind words :smile:

As for the questions, there are a couple things that could be going on:
- Are you compiling such changes? Since they're on `typescript`, there's a chance they're not compiled by the IDE on the fly;
- Are you using a secure app? Because that'd change the `http` to `https`.
- Which webframework are you using for the server? `express` is the only one t

[2017-07-28 12:47] ybchoo commented on #284
Hi Eric
I am juz a beginner in this hence lots of fundamental not iron out.
Thanks for creating such wonderful stuff.

No. I am using npm run build-dev

No.

I follow your framework, I guess it is express.

What I do not understand is how you incorporate other route to the
following?

   TodoRoutes.init(router);
   router.route("*").get(StaticDispatcher.sendIndex);
   app.use("/", router);

Regard

[2017-07-28 13:10] ericmdantas commented on #284
following?

   router.route("*").get(StaticDispatcher.sendIndex);
   app.use("/", router);

You should have your `CourseRoutes.init(router)` and `InstructorRoutes.init(router)` right below the `TodoRoutes.init(router)`.

See how it's being exported in the `/server/api/route/todo-route.ts` .

[2017-08-02 11:01] ericmdantas commented on #284
Hey, don't worry @ybchoo. I'm here to help :smile:

If you're getting the `[]` response, it means there's nothing saved in the database. When you do so, it'll return the array with the objects within it.

[2017-08-03 15:20] barajagmartin opened #285 "Name convention problems upon using generator"
Hi!

When I use the ngf generator for generating for example a component for Angular 2, it doesn't seem to follow the style guide from [Angular Style Guide](https://angular.io/guide/styleguide#components). Is there a reason for this?

[2017-08-03 15:46] ericmdantas commented on #285
Hey, @barajagmartin.

This is mostly because when the generator was created there was no such style guide for Angular2 yet. So some stuff were just kept as they were.

Are there any specific styles you'd like to see implemented?

[2017-08-03 16:23] barajagmartin commented on #285
Okay! Hmm, if I wrote `$ ngf g component car --feat car` as in [the ngf wiki](https://github.com/ericmdantas/ngf/wiki/API) it would be nice if:

- the "feature folder" would be called _car_
- the component would be called: _car.component.ts_
- the class would be called: _CarComponent_

The same would go for services etc.

Do you understand what I mean?

[2017-08-03 16:28] barajagmartin opened #286 "No scss-file is generated when using ngf generate"
When I run `ngf g cmp, some.component --ft someFeature` the style file generated is only a css-file. Would it be possible to generate a scss-file as in the 'todo example app'?

_Edit: When using Angular 2_

[2017-08-03 16:46] barajagmartin commented on #286
Made a pull-request https://github.com/ericmdantas/generator-ng-fullstack/pull/287

[2017-08-03 17:38] ericmdantas commented on #285
Yup, sounds good.

[2017-08-03 17:42] ericmdantas commented on #286
Oops, it should be that way. I'll release a patch with the fix.

[2017-08-04 07:03] barajagmartin commented on #285
Also, in [service](https://github.com/ericmdantas/generator-ng-fullstack/blob/master/service/templates/ng2/service.ts) for example, the name is MyService instead of the name when being generated.

Thanks!

[2017-08-04 11:30] #286 closed

[2017-08-04 11:32] ericmdantas commented on #286
`v1.9.20` published.

[2017-08-11 20:07] Spazer9 opened #289 "Koa 2"
This generator is amazing! although I wish it supported Koa 2

[2017-08-11 20:55] ericmdantas commented on #289
It was the main goal since the day Koa was introduced, but it took the v2 so long to be released that I had to release it with v1 instead.

I'll bump to v2 as soon as possible and will release in the `v1.9` patches.

Any changes from v1 I should be aware?

[2017-08-21 13:44] ericmdantas commented on #201
Consider `brunch`?

Repo: https://github.com/brunch/brunch
Blog: https://vuejsdevelopers.com/2017/08/20/vue-js-brunch/?jsdojo_id=reddit_vpb

[2017-08-21 13:51] ericmdantas commented on #284
I'm closing this since it should be working now.

If there's anything else you'd like to ask, feel free to do so.

[2017-08-21 13:51] #284 closed

[2017-08-21 15:01] ybchoo commented on #284
Thanks Eric. Working now. Apprec
CYB

On 21 August 2017 at 21:51, Eric M. Dantas <notifications@github.com> wrote:

--
Rgds
*_______________________________*
CYB
Important: This email is confidential and may be privileged. If you are not
the intended recipient, please delete it and notify me  immediately. Please
DO NOT copy or use it for any purpose, or disclose its' contents to ANY
other person.

[2017-08-31 03:49] ybchoo opened #290 "webpack"
Hi Eric
Will you b updating your generator to support latest angular4 together with webpack + es6/7?
If no, what are the possible problems be facing?

[2017-08-31 11:02] ericmdantas commented on #290
Hey, @ybchoo.

The webpack implementation will be done in https://github.com/ericmdantas/generator-ng-fullstack/issues/201, as for ng 4.3, it should only be a matter of updating the `package.json`.

I'm not having that much time right now, but I'll do it when I can.

[2017-08-31 12:54] ybchoo commented on #290
Thanks Eric
Look forward to your releases.

CYB

On 31 August 2017 at 19:02, Eric M. Dantas <notifications@github.com> wrote:

--
Rgds
*_______________________________*
CYB
Important: This email is confidential and may be privileged. If you are not
the intended recipient, please delete it and notify me  immediately. Please
DO NOT copy or use it for any purpose, or disclose its' contents to ANY
oth

[2017-09-22 06:11] ybchoo opened #291 "Samples For Multiple Client Pages Accessing Multiple Server Endpoint"
Hi Eric
Could you please kindly provide some samples on how can we have multiple pages on SPA accessing multiple server endpoint if time permit? Thanks

[2017-09-22 11:12] ericmdantas commented on #291
Hey, @ybchoo.

Do you mean the server has different domains or something else?

[2017-09-22 15:55] ybchoo commented on #291
Server x1.x2.x3.x4 3333
Client y1.y2.y3.y:3444.

Will be nice if you can provide some examples with different client
components
accessing different routes on server at the same time.

On 22 September 2017 at 19:12, Eric M. Dantas <notifications@github.com>
wrote:

--
Rgds
*_______________________________*
CYB
Important: This email is confidential and may be privileged. If you are not
the intended

[2018-02-15 11:08] ericmdantas opened #292 "bower -> npm/yarn"
Ref: https://bower.io/blog/2017/how-to-migrate-away-from-bower/

[2018-02-15 11:27] ericmdantas commented on #292
Affected projects: the ones that use `ng1` in the client side.

[2018-05-08 15:04] ericmdantas commented on #103
https://www.liquidlight.co.uk/blog/article/how-do-i-update-to-gulp-4/

[2018-05-09 12:12] ericmdantas commented on #88
Out of scope.

There's already too much stuff going on, so we'll have to cut out some of them.

[2018-05-09 12:25] ericmdantas commented on #27
Out of scope.

[2018-05-09 12:25] #27 closed

[2018-05-09 12:26] ericmdantas commented on #126
Out of scope.

[2018-05-09 12:26] #126 closed

[2018-05-09 12:28] ericmdantas commented on #130
I'm leaning towards having the files concatenated, like `lib_bundle_13jdhs.js` and `src_bundle_12313.js` and let the user choose how it'll be grouped.

[2018-05-09 12:28] #130 closed

[2018-05-09 12:29] ericmdantas commented on #257
Will be done in: https://github.com/ericmdantas/ngf/issues/1

[2018-05-09 12:29] #257 closed

[2018-05-09 12:39] ericmdantas commented on #280
That'll be done with #289

[2018-05-09 12:39] #280 closed

[2018-05-09 12:43] #174 closed

[2018-05-09 12:47] ericmdantas commented on #218
Maybe unecessary when `Ivy` lands? https://github.com/angular/angular/issues/21706

[2018-05-09 12:47] #218 closed

[2018-05-09 17:18] ericmdantas opened #293 "v2"
*Less is more.*

This generator has just turned 3 years old, and, as most of you know, 3 years ago the web was very different from what we have today.

Back then there were no `ng-cli`, `vue-cli` or `create-react-app`. So, the generators started to appear and take over. But, since the generators were mostly created and maintained by community members and not framework's core dev, the conventions w

[2018-05-09 17:20] ericmdantas commented on #285
Will be solved in https://github.com/ericmdantas/ngf/issues/4

[2018-05-09 17:20] #285 closed

[2018-05-09 17:28] ericmdantas commented on #272
Might be tackled in #289

[2018-05-09 17:28] #272 closed

[2018-05-09 17:29] ericmdantas commented on #253
Since there's not much support for Aurelia anywhere, I might have to close this one for now.

Might reopen it in the future, if we decide it belong in the `v2`.

[2018-05-09 17:29] #253 closed

[2018-05-09 17:36] ericmdantas commented on #202
`1.10` became `v2`.

[2018-05-09 17:36] #202 closed

[2018-05-09 17:39] ericmdantas commented on #275
Will be solved in each framework - also `v2`.

[2018-05-09 17:39] #275 closed

[2018-05-10 16:08] ericmdantas commented on #292
Biggest change is the "trustable" root for the client. When using bower_components, it's the same root that we find the `index.html` (inside client/dev); but, when changing to node_modules, it's the project root.. so the index.html will have to adapt.

[2018-05-11 13:54] ericmdantas commented on #103
Making use of `undertaker-forward-reference` for now, but it should be removed in a near future.

[code]

[2018-05-11 13:57] ericmdantas commented on #290
`ng1` will stick with `gulp` for now and `ng2` and `vue2` will have webpack.

[2018-05-11 14:44] #103 closed

[2018-05-11 14:46] ericmdantas commented on #292
Only thing missing is the build step for `ng1`.

[2018-05-14 12:29] ericmdantas commented on #292
Closed by 384345b

[2018-05-14 12:29] #292 closed

[2018-05-14 17:55] ericmdantas commented on #290
vue+webpack is 90% ready.. should start working on ng2 next.

[2018-05-14 19:33] #289 closed

[2018-06-04 18:29] ericmdantas commented on #290
Vue2 is ready to go. NG2 should be on the way.

[2018-06-04 19:26] ericmdantas commented on #290
Actually, dropping ng2 for now.. too much going on.

[2018-06-04 21:40] ybchoo commented on #290
Eric. You have developed nice piece of framework. Keep up your good work.

On 5 June 2018 at 03:26, Eric M. Dantas <notifications@github.com> wrote:

--
Rgds
*_______________________________*
CYB
Important: This email is confidential and may be privileged. If you are not
the intended recipient, please delete it and notify me  immediately. Please
DO NOT copy or use it for any purpose, or disclose i

[2018-06-05 13:01] ericmdantas commented on #290
Thanks for the encouraging words, @ybchoo. Appreciate it 😄

[2018-06-08 14:40] ericmdantas commented on #201
Let's keep it simple for now: ng1 has gulp and vue has webpack.

[2018-06-12 20:02] ericmdantas commented on #201
vue + parcel = https://alligator.io/vuejs/vue-parceljs/

[2018-06-12 20:13] ericmdantas opened #294 "vue2 + cordova"

[2018-06-12 20:14] #290 closed

[2018-06-12 20:14] #293 closed

[2018-09-18 02:20] ybchoo opened #296 "No Showing On Yeoman"
Hi Everyone
This is a great project but when I search this
generator-ng-fullstack on yeoman.io is no longer listed.
Is there some issue?

[2018-09-25 20:46] ericmdantas commented on #296
Hey, @ybchoo.

Sorry for taking so long to answer, I'm on vacation. As for the reported issue, I don't know what's wrong, but I couldn't find it either. I'll see what I can find about it and I'll let you know.

Thanks!

[2018-09-26 15:56] ericmdantas commented on #296
I have added the `yeoman-generator` string in the package.json's keyword. That should do the trick!

Thanks for letting me know, @ybchoo.

[2018-09-26 15:56] #296 closed

[2019-11-05 00:59] dgleba opened #297 "Error running project"
I ran the generator and I get an error starting the app.

Can someone look at my output below and suggest a way I might get it running?

[code]

[2019-11-05 12:46] ericmdantas commented on #297
Hello, @dgleba!

Which Nodejs version are you using?

[2019-11-05 14:49] dgleba commented on #297
[code]

[2019-11-05 17:07] ericmdantas commented on #297
Thanks!

Looks like it's an error with the `webpack-cli` lib, can you please update it to `webpack-cli@3.1.1` and try again?

[2019-11-25 02:24] dgleba commented on #297
That fixed it.
thanks.

[2019-11-25 02:24] #297 closed

[2019-11-25 02:34] dgleba opened #298 "Duplicate - please ignore this."
I had trouble submitting this. got a 500 from github.com. Then it showed up.

Just ignore this one and see the next

[2019-11-25 02:35] dgleba opened #299 "Troubles continued from #297"
Continuing from #297

I got:
[code]
Also more missing as I fixed one after the other.

I did:

[code]

That got it running.

Then I didn't see entered todo's - just an empty line. See pic below.

![2019-11-24 21_19_32-Robo 3T - 1 3](https://user-images.githubusercontent.com/4622715/69507680-5a254f80-0f01-11ea-999f-eafed175f7cd.jpg)

There is data in mongodb.

![2019-11-24 21_20_01-Robo 3T - 1 3](h

[2019-11-25 02:39] #298 closed

[2019-11-25 13:08] ericmdantas commented on #299
Hey there, @dgleba!

The error is in the `Todo constructor` in the `todo-cmp.vue` file. There's no todo object being passed to the constructor and no assignment happening. Here's how to fix it:

[code]

[code]

I'll release a fix in a moment.

[2019-11-25 13:36] ericmdantas commented on #299
`v2.0.18` released. Thanks for bringing up the issue, @dgleba!

[2019-11-25 13:36] #299 closed

[2019-11-25 15:09] dgleba commented on #299
Thanks for looking into it!

[2019-11-25 15:54] dgleba commented on #299
I had to
[code]
How can that be added to the system?
Can you comment?

[2019-11-25 20:04] ericmdantas commented on #299
Sure, I'll take a look when I get home.

[2019-11-27 15:08] ericmdantas commented on #294
Not worth it.

[2019-11-27 15:08] #294 closed

[2019-11-27 15:08] #203 closed