[2015-03-15 03:30] honkskillet opened #1 "proposed tech stack for this generator"
Hey,
While this repo is in an embryonic state, I thought I'm make an issue for discussing what new tech to include.  Give the impending dawn of es6, I think it would make sense to do things in an es6 type of when possible.   With that in mind, I propose using

jspm  - http://jspm.io (Check out this video  https://www.youtube.com/watch?v=iukBMY4apvI , I cannot recommend it enough.)
traceur
es6 prom

[2015-03-16 11:02] ericmdantas commented on #1
Hey there!

Just checked the video and it seems really nice, man. I'll definetely give it a try! By the way, have you tried it with angular.js? If so, how do you deal with the unit tests?

I was just checking [this post](http://engineering.iconnect360.com/angularjs/). Seems pretty cool indeed.

Depending on what we'll be using, io.js should do just fine. But I'll take a look at what traceur has go

[2015-03-16 18:49] honkskillet commented on #1
Nice.

I haven't tried jspm with angular yet so I can't speak towards unit testing.

What are you thinking about for Authentication?

[2015-03-16 18:51] honkskillet commented on #1
And the scaffolder? (Yeoman vs Slush).

[2015-03-16 22:03] ericmdantas commented on #1
Backend I'd probably go with [Passport](https://github.com/jaredhanson/passport). And frontend I just learned about [Satellizer](https://github.com/sahat/satellizer). But I have only used the first one, so I'd have to take a look if they're meant to work together or separeted.

Probably with Yeoman, mostly because of the community around it. But I'll keep an eye on Slush, seems interesting.

I'll

[2015-03-16 22:32] honkskillet commented on #1
I’ll look around for unit test info.

Re Satellizer, much like angular-fullstack, it is pretty much married to Angular 1.x at this point.
Check out the github issue https://github.com/sahat/satellizer/issues/320 <https://github.com/sahat/satellizer/issues/320>

I don’t really have a strong opinion about which scaffolder to use. As I see it, the major pro of Yeoman is size of the community.  The co

[2015-03-16 22:50] ericmdantas commented on #1
I see.. That's a problem. But I believe if the community really adopts Angular 2.0, they'll follow - or someone else will.

About the scaffolder, I haven't created a 'generator' with slush yet, but I'll give it a try before saying it's good or bad. But the community is definetely something to care about when choosing one way or the other.

[2015-03-17 11:12] ericmdantas commented on #1
By the way, I'm really leaning towards babel instead of traceur.

It just seem cleaner and without those global objects/configurations from traceur.

[Here's an example of vanilla javascript](https://babeljs.io/repl/#?experimental=true&playground=true&evaluate=true&loose=true&spec=false&code=var%20_%20%3D%20()%20%3D%3E%20undefined%3B%0A_.isString%20%3D%20str%20%3D%3E%20!!str%3B%0A%0Aclass%20Person

[2015-03-17 21:11] honkskillet commented on #1
Sounds reasonable.  Having to include a separate traceur script in the build is ugly and babel is ahead in it’s implementation of es6 anyways.
https://kangax.github.io/compat-table/es6/ <https://kangax.github.io/compat-table/es6/>

[2015-03-18 01:33] ericmdantas commented on #1
Yeah.

Angular's core team has been using TypeScript for development, because of all the things that'll help you while on development, but check their ES6 coverage.. not even 10%.

I don't think I'll add an option for it anytime soon. We'll have to wait and see if they pick up the rhythm.

[2015-03-18 01:48] ericmdantas opened #2 "Improve tests"
Ideas:

- Check how to test deep file trees
- Mock user inputs and check file contents

[2015-03-21 20:40] #2 closed

[2015-03-22 13:58] ericmdantas commented on #1
About the comment above, looks like they'll release version 1.5~, which should close the gap between them and other transpilers - I'll keep an eye on it, for now, I'll keep using babel.

@kingcody, mind taking a look whenever possible? =]

[2015-03-24 00:43] ericmdantas opened #3 "Add e2e tests"

[2015-03-24 23:43] #3 closed

[2015-03-28 02:06] ericmdantas opened #4 "SubGenerators: endpoint -- Improve integration of the files created"
Also, refactor server side subgenerators, make it DRY.

[2015-03-29 01:23] ericmdantas opened #5 "Watch and build client files - gulp"

[2015-03-31 02:14] ericmdantas commented on #5
Closes with the commit: 90a5c51f5335b94ecf070167254fcdafdd2a1fb1

[2015-03-31 02:14] #5 closed

[2015-04-01 01:03] ericmdantas opened #6 "Separate gulp tasks in modules"

[2015-04-02 01:02] ericmdantas opened #7 "Make browser-sync work with express server"
I don't think it has to use nodemon, I'm trying to make it work with pure ```iojs index```.

I've been having problems with the port, since I'll start express server with ```3333``` and browser-sync will automatically start with any number but ```3333```.

Not sure if proxy will help here.

[2015-04-02 01:49] #7 closed

[2015-04-03 02:29] ericmdantas opened #8 "Use wiredep inside karma.conf.js"
Use the same rule it's being applied to index.html.

[2015-04-03 17:56] ericmdantas commented on #8
Not doing this now.

[2015-04-03 17:56] #8 closed

[2015-04-03 17:57] ericmdantas opened #9 "Add router subgenerator (AngularJS 1.4)"
As soon as AngularJS 1.4 is out (stable), release a version with the new router and a subgenerator for such.

[2015-04-03 17:59] honkskillet commented on #9
Will this be an angular 1.x stack?  I thought it was going to be a 2 stack.

[2015-04-03 18:50] ericmdantas commented on #9
It's an angular latest stable version stack.

The next one to come is 1.4, as soon as 2.0 is out, I'll make sure it's a 2.0 stack.

[2015-04-05 15:46] #9 closed

[2015-04-05 22:46] ericmdantas commented on #1
[Typescript 1.5-alpha](https://github.com/Microsoft/TypeScript/releases/tag/v1.5.0-alpha) is out.

I'm taking a look, if it's good enough, I'll switch from babel to Typescript.

[2015-04-06 20:22] meetandrew opened #10 "Generated JS files should be wrapped in an IIFE"
I noticed that JS files are created aren't wrapped up in an IIFE.  Is there any reason for this?

[2015-04-07 00:22] ericmdantas commented on #10
Hello!

That's in my todo list actually, I was about to commit it today, but I dont have internet at the moment.

I'll also move the "use strict" inside the functions, so it doesnt get mixed with others.

I might do something like:

[code]

[2015-04-07 15:27] ericmdantas opened #11 "Use gulp-inject to inject brand new files (css and js) wherever its needed"
Files needed:

- index.html;
- karma.conf.js.

Module: [gulp-inject](https://github.com/klei/gulp-inject).

[2015-04-08 00:13] ericmdantas commented on #10
@meetandrew, just released v1.1.0. Mind to taking a look whenever possible? =]

[2015-04-09 00:17] ericmdantas commented on #10
I'm closing this, let me know if anything goes wrong.

[2015-04-09 00:17] #10 closed

[2015-04-13 12:16] jgodi opened #12 "v1.1.0 Errors"
I saw this from the other full stack generator and wanted to try it out (great work!). After installing everything and running the command:

`yo ng-fullstack`

It errored out at:

[code]

The v1.1.0 release doesn't have the `.gitignore` file in the templates. Do you mind pushing a new release?

Also, what are you thoughts and ideas on this? I would love to contribute and use this more!

[2015-04-13 12:23] jgodi commented on #1
As for the client side code, any thoughts using material over bootstrap?

    https://material.angularjs.org/#/

and for coding style (already does a lot of these, but just a few more tweeks)

    https://github.com/johnpapa/angular-styleguide/blob/master/README.md

[2015-04-13 14:10] ericmdantas commented on #1
Hello, @jgodi!

I have taken a look at material.angularjs, but have never used it. Is that stable enough to be used?

As for the PR, go for it! Just don't forget to check the tests in your machine - to make sure nothing is broken. Thanks!

[2015-04-13 14:16] jgodi commented on #1
Ya, they are about to release perform a v0.9 release and I have been using it in our company applications so far. It doesn't have all the components that Bootstrap has, so maybe just wait off until the v1.0 when it will have more components.

Sounds good!

[2015-04-13 14:27] ericmdantas commented on #12
Hello, @jgodi - thanks :D

That's a weird error, I'll try to reproduce it and I might push a new release today with the fix.

About the ideas: they're still floating around, I have a bunch of things to try out and include here, most of them I'm studying and checking the pros/cons, but I'm definetely open for new ideas - so, feel free to share them.

Just so you have an idea, I'm thinking about hav

[2015-04-13 14:32] jgodi commented on #12
That would be cool. We were initially going to use go for our backend on a new project, but ended up going with node just because the ease of the old generator.

Tonight I will play around with the generator and see if there are any things I can do with the gulp builds or anything once I get it working.

Thanks!

[2015-04-13 14:40] ericmdantas commented on #12
That's nice, turns out I'll have someone to check what I'm doing with the go code then :smile: .

Alright, so I managed to simulate the error at work (installing and running ```yo ng-fullstack```). The error doesn't happen when using ```npm link``` (working at home).

I'm looking into it.

[2015-04-13 14:46] ericmdantas commented on #12
Well, looks like there are more people with this issue: https://github.com/sindresorhus/generator-nm/issues/3

They might be trying to make it work with [this commit](https://github.com/sindresorhus/generator-nm/commit/01eb1d547faa1ff3a4808390c164f8918be9b01e)

I'll give it a try later today.

[2015-04-13 21:34] ericmdantas commented on #12
I'll let it open until installation of 1.1.1 is ok.

Gonna release it now.

[2015-04-13 21:38] ericmdantas commented on #12
Alright, version ```1.1.1``` is out.

Could @jgodi and @justingreenberg please update give it a try to run ```yo ng-fullstack```?

Thanks!

[2015-04-13 21:38] jgodi commented on #12
Yes, I will try tonight

[2015-04-13 21:47] justingreenberg commented on #12
updated npm module to `1.1.1` — `yo ng-fullstack` is working as expected :smile:

[2015-04-13 22:00] ericmdantas commented on #12
Thanks, @justingreenberg! Good job =]

Just waiting on @jgodi - no rush :smile: .

[2015-04-13 22:40] ericmdantas commented on #6
Separate it in modules, like:
- watchables;
- compiles;
- copy;
- builders.

But also make sure ```client``` and ```server``` have different tasks, in case one of them takes a different road, the other one is not touched.

[2015-04-14 00:09] jgodi commented on #12
Works for me too. Thanks!

[2015-04-14 00:43] ericmdantas commented on #12
Alright, closing this.

Thanks, guys!

[2015-04-14 00:43] #12 closed

[2015-04-14 10:30] ericmdantas opened #14 "Core contributors"
Hello, guys!

As discussed in DaftMonk/generator-angular-fullstack/issues/884, I'd like to open an organization and make things move forward. Right now, what I have here was based on my needs when I created - there's nothing written in stone - feel free to be creative.

[Bring in some ideas](1), good or bad, we'll discuss it all!

As for this issue, I'd like to know who I can count with for the co

[2015-04-14 10:40] Toub commented on #14
I would like to start talking about the following topics:
* directory structure (e.g. server & client clear separation, naming conventions, no duplicate names)
* coding best practices (e.g. based on https://github.com/johnpapa/angular-styleguide)
* gulp (core task, split configuration in several files, best practices)

We should open issues for theses topic and fix them before starting more comple

[2015-04-14 10:45] ericmdantas commented on #14
[Gulp task issue is right here](6)

@jgodi said he'd give a hand with the best practices based on jhon papa's styleguides.

About the directory structure, do you see something that should be changed or do you mean to document the way modifications should be made? Or both?

[2015-04-14 14:00] jgodi commented on #14
Yes, I will comb through the client side code and get it up to terms with the style guide. Should be done soon :)

I do agree that splitting of the gulp tasks would be nice. More so, I would like to see a `gulp.config.js` where all the paths/files/settings are defined that are pulled into the gulp tasks. That way users have a one stop shop to change config rather then hunting down into task files.

[2015-04-14 14:01] Toub opened #15 "Directory structure"
I open a new issue from the discussion started in #14 (Core contributors)

Well, both ;-)

A few suggestions to consider (just some ideas, a base for discussions):
* some files on server and client side have the same name, and it is a pain when you want to open files by name in your editor (e.g. todo.model.js, todo.dao.js)
* todo.js contains the controller but is named todo.js (not explicit)
* tes

[2015-04-14 14:03] Toub commented on #14
I created a separated issue about this topic:  #15 (Directory structure)

[2015-04-14 15:59] ericmdantas commented on #15
I'm aware of this one, but I just couldn't find anything better to name it. Maybe suffix, preffix with client/server?

That's actually the syntax for the new angular router, it's pretty strict for that. When I tested it, if it had a different name, angular wouldn't find the file. [See](http://blog.thoughtram.io/angularjs/2015/02/19/futuristic-routing-in-angular.html).

That's a tricky one. Since w

[2015-04-14 20:06] remicastaing opened #16 "Bower depencies"
I'm opening this issue to gather some dependencies consideration:
- [js-data](https://github.com/js-data/js-data) instead of ngresource - it is an data abstraction layer, very flexible (proposed by @Toub)
- [a0-angular-storage](https://github.com/auth0/angular-storage) instead of ngCookie: uses localStorage by default, Lets you save JS Objects, etc.
- [angulartics](https://github.com/luisfarzati/a

[2015-04-14 20:32] remicastaing opened #17 "One account multiple strategies"
In https://github.com/DaftMonk/generator-angular-fullstack/issues/359, I shared a proposition for managing multiple authentication strategies for one account: having several `account` object (one for every auth strategy) for one `user` object.

The `account` object would keep the credential or the social id. Every `account` would be linked to the same `user` object after email confirmation. They w

[2015-04-14 22:52] ericmdantas commented on #16
Hello, @remicastaing.

I still have to take a look at it, but it seems promising.

For now, I think [ng-xtorage](https://github.com/ericmdantas/ng-xtorage) there might do the trick for storage. I works for local/sessionStorage, [forms](https://github.com/ericmdantas/ng-xtorage-form) and it also has a module [helper for expiration](https://github.com/ericmdantas/ng-xtorage-expiration).

Looks good,

[2015-04-14 23:00] ericmdantas commented on #17
Hey there, @remicastaing.

Looks like I've been working on a very similar thing back at work. We have these g+ and facebook accounts tied to a user. Seems like the same scenario.

I don't know if you've seen the todo app when you run ```yo ng-fullstack```, but I was thinking about making the todo app work with some sort of auth. You don't see the todo list until we know who you are.

Maybe we alre

[2015-04-14 23:03] ericmdantas commented on #14
Alright, just created the organization: [nxgen](https://github.com/nxgen).

Nothing there yet, just waiting on who's willing to contribute so I can add you there and move this repo.

:smile:

[2015-04-14 23:21] jgodi commented on #14
Perfect. When I get more free time I will be a regular contributor :)

[2015-04-14 23:41] ericmdantas commented on #14
@jgodi, good to hear! =]

Also, noted about the server, should not be hard to separate things, but we'll have to sort the gulp tasks first, so client tasks won't mix with server tasks and suchs. I'm stuck with go integration for now, but I'm keeping an eye on it.

[2015-04-15 01:40] ericmdantas commented on #1
Reminder:

Keep an eye on io.js with the update of v8 (4.2).

That'll change a few things, like, not needing babel to transpile classes in io.js (server).

[Here's the issue.](https://github.com/iojs/io.js/issues/1393)

[2015-04-15 06:10] Toub commented on #16
I already use js-data on several projects so I can help with that one.

[2015-04-15 10:13] ericmdantas commented on #16
We'd be better use the [angular wrapper](https://github.com/js-data/js-data-angular), right?

[2015-04-15 10:45] ericmdantas commented on #16
Just watched the [video about js-data](https://www.youtube.com/watch?v=8wxnnJA9FKw) by its creator. Seems really nice indeed. I'd love the help, @Toub.

The thing we have to keep in mind is that the user of this generator will choose between ```io.js (javascript)``` on the backend or ```go (golang)```. So, we might still have ```ngResource``` or something similar floating around (when the user cho

[2015-04-15 10:53] ericmdantas opened #18 "Create subgenerator for filters"

[2015-04-15 10:58] ericmdantas commented on #16
About angulartics:

Do I still have to have this in my html?

[code]

Or the module will take care of it?

[2015-04-15 11:41] jgodi commented on #15
I will be making the client side code conform to [John Papa's Style Guide](https://github.com/johnpapa/angular-styleguide/blob/master/README.md), which has the client side directory structure defined. We can use that as a base.

As for the tests mixed in with the client side code, I personally prefer it. While you are working on a controller your test is right there and easy to update and work wit

[2015-04-15 11:42] jgodi commented on #16
You will still need that, just take the

[code]
part out of it since that library will take care of sending page views.

[2015-04-15 12:13] Toub opened #19 "Have option to use either: ngResource or js-data model layer"
As mentioned in #16 "Bower dependencies", we should introduce an abstraction layer such as js-data.

The basic:
* add bower dependency: js-data-angular
* load the module 'js-data' in client app.js
* configure the default behavior (by default use http://www.js-data.io/docs/dshttpadapter):

    DSProvider.defaults.basePath = '/api';
    DSProvider.defaults.idAttribute = '_id'; // for mongo-db

* def

[2015-04-15 12:15] Toub commented on #16
I created a new ticket for js-data: "Replace ngResource by js-data model layer" #19

[2015-04-15 12:26] jgodi opened #20 "Store 'appName' in .yo-rc.json"
While I am going through each client side file and making them conform to the style guide, I have noticed that the sub generators do not know about the application name. Therefore, they are not able to automatically have the correct module name.

I propose we utilize the [Yeoman Config](http://yeoman.io/authoring/storage.html) to save that variable (and any other required variables) inside the `.y

[2015-04-15 12:36] jgodi opened #21 "Implement Style Guide"
Implement the [John Papa's Style Guide](https://github.com/johnpapa/angular-styleguide/blob/master/README.md) for client side code.

[2015-04-15 12:36] ericmdantas commented on #15
@jgodi, sounds good!

My only doubt is the server code, would we need to have a ```dist``` folder for the server too? Because it doesn't feel right to have ```src code```  and ```test code``` side by side in production.

[2015-04-15 12:36] jgodi commented on #21
Work can be seen in my [fork](https://github.com/jgodi/generator-ng-fullstack). Hopefully be finished by the weekend :)

[2015-04-15 12:40] Toub commented on #15
What about?

/src/client
/src/server

/dist/client
/dist/server

/.tmp/...

[2015-04-15 12:43] ericmdantas commented on #20
Definetely.

I will have to use it for the ```go``` integration as well, for when the user chooses to create an endpoint, I'll have to know if it's for ```io.js``` or ```go```.

I haven't create the api for the writing there, but make sure we separate this generator (generator-ng-fullstack) from the others. Like:

[code]

Maybe we could even fill this file with the default stuff and let the user c

[2015-04-15 12:44] ericmdantas commented on #21
Can't wait!

Let me kbnow if you need anything :smile:

[2015-04-15 12:47] ericmdantas commented on #15
/src/server

/dist/server

And then gulp would take care of transpiling/building/hinting/etc both the client and server code. I think that's ideal.

[2015-04-15 12:48] ericmdantas opened #22 "Add Google Analytics script to index.html"
Just above the script tags.

[code]

[2015-04-15 12:58] jgodi commented on #15
They wouldn't be side-by-side in production, only in development. Our `gulp` task to build the dist version of the application will ignore all test files.

As for the packages, I like that approach.

[2015-04-15 13:03] ericmdantas commented on #16
@jgodi, alright. Gonna do that later today [#22](22).

@Toub, good idea - that's a big issue by itself.

[2015-04-15 13:06] ericmdantas commented on #15
@jgodi, yeah @Toub's suggestion solves the production thing.

As for the extension for the tests, I prefer ```_test.js```, but that might just be me.

[2015-04-15 13:58] remicastaing commented on #22
It would be awesome to have a gulp task changing UA-XXXXX-X. You could have a dev and prod ID.

[2015-04-15 14:50] ericmdantas commented on #22
@remicastaing, good idea.

```gulp-replace``` should do the trick,

[2015-04-15 15:18] jgodi commented on #22
You can also use `gulp-config` to have different configs based on the build level too.

[2015-04-15 15:38] ericmdantas commented on #19
Just as a reference for others, [here's a good video about it](https://www.youtube.com/watch?v=8wxnnJA9FKw).

[2015-04-15 21:58] #18 closed

[2015-04-15 22:00] #22 closed

[2015-04-15 22:03] ericmdantas opened #23 "Have google analytics ID separated for development/dist"
Idea by @remicastaing.

Supported by @jgodi, who hinted at using ```gulp-config```.

[Came from this issue](22).

[2015-04-15 22:14] ericmdantas commented on #19
Just a question:

By using js-data, we'd still have the model for forms, right? [Like the todo.model.js](https://github.com/ericmdantas/generator-ng-fullstack/blob/master/app/templates/client/dev/js/todo/model/todo.model.js).

[2015-04-15 22:22] ericmdantas commented on #4
Endpoint integration seems to be good enough.

Gonna open a new refactoring issue when all the options in the CLI are stable.

[2015-04-15 22:22] #4 closed

[2015-04-15 22:27] ericmdantas commented on #15
Also, I think we should hold this one a bit until we have #6 finished, or at least separated enough.

[2015-04-16 02:00] jgodi commented on #19
Yes, you can see it here. http://www.js-data.io/v1.8.0/docs/js-data-angular

For me I can live without this js-data. I use Ember Data in a project and it over complicates things more so then some applications need. Would be nice for this to be an opt-in feature rather in a core feature.

[2015-04-16 06:56] Toub commented on #19
You don't have to define all properties of your model, but you can: http://www.js-data.io/v1.8.0/docs/dsdefineresource

Here is how you can validate the model: http://www.js-data.io/v1.8.0/docs/schemata--validation

Maybe that jgodi is right, and that the user should be able to choose if using js-data, ngresource, restangular...

But the good of js-data is the abstraction layer so you can do power

[2015-04-16 08:45] remicastaing commented on #17
I managed to install and run the generator yesterday night.
With G+ and FB, there is no problem to corallate two accounts: the provided email is already verified.
With a local or a Tw auth strategy, you have to confirm the email yourself first.

[2015-04-16 08:46] remicastaing commented on #14
How about to have a dedicated gitter for this generator?

[2015-04-16 10:12] ericmdantas commented on #14
@remicastaing, [there you go](https://gitter.im/ericmdantas/generator-ng-fullstack) :smile:

[2015-04-16 10:21] ericmdantas commented on #17
I see.

What framework are going to use, or suggest? I remember [Passport](https://github.com/jaredhanson/passport) was pretty good - not sure if it's still being maintained.

And for the client, there's this [satellizer](https://github.com/sahat/satellizer) that I have heard before, but have never used.

[2015-04-16 10:31] ericmdantas commented on #19
For some reason the links are broken to me, I'll take a look when I get home.

But I agree with the opt thing.

For now, we could leave it between ```ngResource``` and ```js-data```.

[2015-04-16 11:18] remicastaing commented on #17
With generator-angular-fullstack, there is passport on the server side and
no framework on the client side (lightweight custom code).
Le jeu. 16 avr. 2015 à 12:21, Eric Mendes Dantas <notifications@github.com>
a écrit :

[2015-04-16 11:41] ericmdantas commented on #17
Noted.

[2015-04-16 11:42] remicastaing commented on #14
Wouldn't be good to have a repository with a generated app to discuss about
the result and about the generator?
Le jeu. 16 avr. 2015 à 12:12, Eric Mendes Dantas <notifications@github.com>
a écrit :

[2015-04-16 11:43] jgodi commented on #14
We can use the gh-pages branch for that possibly.

[2015-04-16 11:52] jgodi opened #25 "SCSS over LESS?"
I vote for SCSS over LESS. Then we can use [Bourbon](http://bourbon.io), which is an amazing mixin library that makes CSS work cake. We can use `gulp-node-sass` to compile it, so users do not have to have Ruby installed.

[2015-04-16 11:54] ericmdantas commented on #25
I vote both + the option of having no pre processor at all.

[2015-04-16 11:55] jgodi commented on #25
:+1:

[2015-04-16 12:06] khwerhahn opened #26 "sequelize.js as ORM"
Is there a general interest to support [sequelize.js](https://github.com/sequelize/sequelize)? mongo isn't always going to work for every project.

[2015-04-16 12:23] ericmdantas commented on #26
I have never used it, but it's a good idea.

I'd need help with the dev, though. I don't know its best practices.

[2015-04-16 12:52] khwerhahn commented on #26
Hi @ericmdantas,

I'm glad to help out soon, but I'm currently busy and don't have much time to spare.

In https://github.com/DaftMonk/generator-angular-fullstack/tree/canary they have included it into the project. I'm using the generator for a current project, but have diverted a little bit from how it was implemented there. I keep all models in a model folder which are are loaded in via the inde

[2015-04-16 13:03] ericmdantas commented on #26
@khwerhahn, that's very helpful!

I'll take a closer look asap and I'll see where this fits. Thanks!

[2015-04-16 13:40] khwerhahn opened #27 "Angular Material"
Would also be a very nice alternative to bootstrap: https://material.angularjs.org. Its a very very awesome project.

Its being developed by the angular team, so there will be very nice support.

[2015-04-16 15:19] ericmdantas commented on #27
That's a pretty good alternative. Specially because of the [google design](http://www.google.com.br/design/) layout.

How is the stability, though? They're about to release 0.9.0 - is that already a production ready version or should we wait until 1.0.0 comes out?

[2015-04-16 15:29] khwerhahn commented on #27
@ericmdantas I think it would be wise to wait for the 1.0, but I don't think, that there are going to be major changes, just little fixes. They work pretty fast, so I think its not going to be long until the first major release.

[2015-04-16 15:45] ericmdantas commented on #27
@khwerhahn, to be honest, I don't even like bootstrap that much. I'd rather do most things by hand, but sometimes we just don't have enough time :smile:

There's just something that should be taken into consideration: the size of this dependency (how many Kbs will be downloaded?). I'm aware of all the caching stuff, but the first opening of our app can be a deal breaker.

I know bootstrap itself i

[2015-04-16 17:14] khwerhahn commented on #27
Yeah size matters. Angular Material focuses on mobile with the iconic team putting in a lot of work. So I'm sure we'll be fine

[2015-04-16 18:13] ericmdantas commented on #27
:+1:

[2015-04-16 19:41] khwerhahn opened #28 "dynamic roles based authorisation"
I would also suggest to include [connect-roles](https://github.com/ForbesLindesay/connect-roles). I'm sure that I'm not the only one who has to use roles in their projects. It mixes in perfectly with passport.

I'm sure it would help a lot of projects

[2015-04-17 10:26] dmarcelino commented on #14
I would love to get @kingcody's feedback on this as he is quite active on generator-angular-fullstack and may bring some interesting ideas to this in addition to expertise.

[2015-04-19 11:11] dotch commented on #25
We should also consider using postcss as a way to deal with vendor prefixes, so people don't have to care about them on the css/preprocessing side.
E.g. We could add a postcss gulp task that adds vendor prefixes for the latest 2 versions of every major browser. (Basically only relevant for safari anyway...)

[2015-04-19 13:20] ericmdantas commented on #25
@dotch, good. I have never used it, but even experienced people seem to like it better than the pre processors.

[2015-04-20 00:29] ericmdantas opened #30 "(server_go): Improve Go's http response when there are errors"

[2015-04-20 11:17] ericmdantas opened #31 "(server_go): Add unit tests (most important is the DAO)"

[2015-04-20 11:38] ericmdantas commented on #6
[Aurelia's separation seems interesting](https://github.com/aurelia/framework).

Then inside build we could have ```server``` / ```client``` (maybe ```common```) and go from there.

[2015-04-21 00:01] #30 closed

[2015-04-21 20:34] ericmdantas commented on #31
Enough tests for now.

[2015-04-21 20:34] #31 closed

[2015-04-28 01:31] ericmdantas opened #33 "Separate README (Go vs io.js)"
Maybe have it in the wiki?

Having the Readme with a few info and having the wiki handling the io.js and Go config and steps to get it working.

[2015-04-28 01:33] ericmdantas commented on #20
Already doing this. Gonna push 1.3 soon.

If there's anything, let me know.

[2015-04-28 01:33] #20 closed

[2015-04-28 10:23] ericmdantas commented on #33
Also, don't release 1.3 before this is done.

[2015-04-29 01:50] ericmdantas commented on #33
Separation done.

[2015-04-29 01:50] #33 closed

[2015-05-09 13:45] eikooc opened #35 "SyntaxError: Use of const in strict mode"
Ran:
``yo ng-fullstack``

And got the result below. Same error happened when run with sudo

[code]

[2015-05-10 21:58] ericmdantas commented on #35
Hello, @eikooc.

You'll need io.js installed to run this generator.

[2015-05-10 22:37] ericmdantas commented on #14
Closing this. Better discuss in separate issues.

[2015-05-10 22:37] #14 closed

[2015-05-10 22:37] ericmdantas commented on #1
Closing.

[2015-05-10 22:37] #1 closed

[2015-05-10 22:37] #35 closed

[2015-05-10 23:04] ericmdantas commented on #16
Closing this one, most things have been taken care of.

[2015-05-10 23:04] #16 closed

[2015-05-10 23:28] ericmdantas commented on #21
Closing this. PR still got some stuff to fix, like Travis build and so on.

Just waiting for the changes so I can merge.

[2015-05-10 23:28] #21 closed

[2015-05-17 00:15] ericmdantas opened #36 "Implement jspm integration"

[2015-05-23 00:59] honkskillet commented on #30
Golang!  I was not expecting that.

[2015-05-23 01:31] ericmdantas commented on #30
Haha, Go is awesome!

[2015-05-29 10:12] ericmdantas opened #37 "[1.4] Implement Typescript Integration"
Note: For now, do it only on the server side.

[2015-05-29 10:13] ericmdantas opened #38 "[1.x] Implement Angular2 integration"
Note: There's no ```$http``` like service around yet. Might implement it not integrating with the server for now.

Also, use Typescript.

[2015-05-29 10:31] ericmdantas opened #39 "[1.4] Remove implementation of new router for Angular 1.4."
Looks like they moved the release of the new router for 1.5.

[2015-05-30 20:57] ericmdantas commented on #38
Might as well remove 1.x implementation.

[2015-05-31 19:02] ericmdantas commented on #39
Might remove Angular 1.x implementation, make it 2.x only.

[2015-06-02 15:19] dmarcelino commented on #26
I'm also tight on time right now due a deadline closing soon, but one thing I would like to help with would be integrating [waterline](https://github.com/balderdashy/waterline). Waterline is a multi-adapter ORM with official support for MySQL, PostgreSQL, Mongo, Redis, local memory and disk. Community adapters exist for less mainstream data stores. Perhaps the biggest disadvantage of waterline com

[2015-06-02 15:29] ericmdantas commented on #26
@dmarcelino I personally have never used it, but it'd be great to have such integration.

I also have been very busy, but I'd definetely merge a PR on the subject.

[2015-06-04 08:49] mcaudy opened #40 "The new generator-ng-fullstack seems to be broken. Asking for XCode"
This project looks really great, and I am now using it instead of DaftMonks angular-fullstack.

I installed an earlier version of generator-ng-fullstack that I downloaded on 04-16-2015 and everything ran perfectly and I got the expected ToDo app

I saw that you updated the generator-ng-fullstack-master a few days ago  with new features and I donwloaded it again today: 06-04-2015.

I updated genera

[2015-06-04 08:56] remicastaing commented on #40
I remember something similar. I think I solved it by starting and updating XCode.

[2015-06-04 13:41] ericmdantas commented on #40
Hello, @mcaudy and thanks for the feedback!

Does the generator finish installing? Because if that's an error with node-gyp, as I think it is (from the protractor dependency), it should work just fine.

[2015-06-04 17:29] mcaudy commented on #40
Quick reply. More later

@ericmdantas Are you doing this development on a Mac or on Linux? I recently upgraded to Yosemite (OS 10.10..3) and that may be causing all or part of the current problem, but see NOTE 1 below.

It am not sure whether the generator finished installing or not, because I had already installed the 4-16-2015 version of generator-ng-fullstack, which I think would have been over

[2015-06-04 17:34] ericmdantas commented on #40
Developing on Windows, for now.

As for the error, could you please try to install protractor locally in an empty folder?
Just to see if it's really what I'm thinking it is.

[2015-06-05 03:06] mcaudy commented on #40
@ericmdantas  I will do the protractor test later, but I want to do some additional tests on my system first.

@remicastaing  what version of OS X are you running?  Have you actually tried the latest version of the generator-ng-fullstack?

[2015-06-05 08:15] mcaudy commented on #40
@ericmdantas   I discovered that the working generator-ng-fullstack that I downloaded on 04-16-2015 is about 50 times bigger (47.9 MB vs 700 KB)
than the generator-ng-fullstack-master that I downloaded and tried to use yesterday, 06-04-2015.

I also tried downloading today the git clone version, and got about the same, much smaller, file size

generator-ng-fullstack_04-16-2015

[2015-06-05 09:39] remicastaing commented on #40
I have the latest version of Mac OS. I didn't test the latest version of the generator.
As I said, your issue remembers me one of mine a few month ago.

[2015-06-05 13:06] ericmdantas commented on #40
I'm trying to simulate the error, but no luck. Just when I run:

```$ yo ng-fullstack```

I keep getting:

```Cannot find module 'concat-map'```

Says it doesn't find it here:

[code]

But the file is where it's supposed to be... I'll see if I can make any progress later today, when I get home.

[2015-06-05 17:55] mcaudy commented on #40
@remicastaing Since you and I are running the same system - Yosemite 10.0.3  - but you have not tested the latest version of the generator, I would like to suggest that you try the following.

Create a zip file of the generator-ng-fullstack that was globally installed in your /usr/local/lib/node_modules/  directory and name and date it, something like:
generator-ng-fullstack_06-05-2015-A.zip

This

[2015-06-05 18:25] mcaudy commented on #40
@ericmdantas the problem you are having with Yo not recognizing some of your files is similar to problems I had last year, when I first started using yo.

I found the solution in a comment on the internets:  On Mac / Linux,  NPM installs an invisible ".npm/" directory in your home directory:
on my mac:  Users/mcaudy/.npm/
where 'mcaudy' is my username.

To get Yo (and NPM) working properly, you ha

[2015-06-05 18:29] mcaudy commented on #40
Note: this comment system deleted the single quotes on the 'whoami' in the above three commands for some reason. Those quotes may be necessary for the commands to work properly

[2015-06-06 02:22] ericmdantas commented on #40
Alright, bad news everyone.

I just ```unlinked``` the generator from my computer, uninstalled it, and reinstalled it again and **I've got no errors** (other than protractor's dependency of node-gyp that depends on other stuff that I don't have).

So I'd say two things could help us to track the bug:
- @remicastaing tries to install the latest version and let us know what happens;
- @mcaudy tries

[2015-06-06 02:27] ericmdantas commented on #40
Also, @mcaudy thanks for the tips. If I don't get it to work when I'm at my company computer, I'll give your tips a try.

[2015-06-06 09:27] remicastaing commented on #40
I installed the latest version and after gulp it, I got:
[code]
But it should be a no brainer to fix.

[2015-06-06 11:30] remicastaing commented on #40
I forgot to `bower install`.

Now, with `gulp`, it starts but I'm getting nothing on my browser over port 3000.

[2015-06-06 13:30] ericmdantas commented on #40
Could you please run gulp build_temp and then npm start?

[2015-06-06 13:31] ericmdantas commented on #40
I might have switched some tasks, that's why you have nothing on your browser.

[2015-06-06 14:21] remicastaing commented on #40
Better, but with some error in the browser now:
![capture d ecran 2015-06-06 16 20 39](https://cloud.githubusercontent.com/assets/1715952/8019971/16c6ebe0-0c68-11e5-8751-b9284bb3678c.jpg)

[2015-06-07 01:09] ericmdantas commented on #40
That's weird. It didn't happen here.

Could you try ```gulp``` and then ```npm start```?

[2015-06-08 00:11] mcaudy commented on #40
@ericmdantas I have had some success using Ubuntu after I had repeated problems installing XCode on Yosemite OS 10.10.3, and then could still not get the yo ng-fullstack to run although the new generator-ng-fullstack seemed to install properly.

Given my recent problems with Yosemite, and my repeated, years-long frustation with XCode, I decided to switch back to Ubuntu.

I am going to send a set o

[2015-06-08 00:13] mcaudy commented on #40
Successful npm install -g protractor on Ubuntu 14

mcaudy@MEAN-Ubuntu-14:~$ npm install -g protractor
|

make: Entering directory `/usr/local/lib/node_modules/protractor/node_modules/selenium-webdriver/node_modules/ws/node_modules/utf-8-validate/build'
  CXX(target) Release/obj.target/validation/src/validation.o
  SOLINK_MODULE(target) Release/obj.target/validation.node
  SOLINK_MODULE(target) Rel

[2015-06-08 00:14] mcaudy commented on #40
Successful npm install -g generator-ng-fullstack on Ubuntu 14 !!

mcaudy@MEAN-Ubuntu-14:~$ npm install -g generator-ng-fullstack
npm WARN optional dep failed, continuing fsevents@0.3.6
generator-ng-fullstack@1.3.3 /usr/local/lib/node_modules/generator-ng-fullstack
├── gulp-rename@1.2.2
├── chalk@0.5.1 (ansi-styles@1.1.0, escape-string-regexp@1.0.3, supports-color@0.2.0, has-ansi@0.1.0, strip-ansi@

[2015-06-08 00:15] mcaudy commented on #40
yo ng-fullstack errors on Unbuntu 14 after generator-ng-fullstack_06-07-2015 install

I already showed that the v2 generator generator-ng-fullstack_06-07-2015 was successfully installed on Ubuntu 14

But there still seems to be a simple syntax error in the generator that is creating yo ng-fullstack errors and blocking app creation

mcaudy@MEAN-Ubuntu-14:~/apps$ yo ng-fullstack
[?] ================

[2015-06-08 00:31] ericmdantas commented on #40
I guess that's because you're using node instead of io.js?

[2015-06-08 00:44] mcaudy commented on #40
Possibly because of node instead of io.js.

I don't want to get into a lengthy node vs io.js discussion here. I have researched that topic carefully and I have seen clear statements that Node and io.js are planning eventually to merge again.

However, there are many other possible explanations:

Ubuntu 14 is widely used in the Open Source community - I would guess probably more than any other OS -

[2015-06-08 01:02] ericmdantas commented on #40
I'd love some help, that's for sure.

As for the node vs io.js, I'm really tempted to make a server for node too. Since we're using babel/typescript, it's not that hard. I don't really know how they're merging io.js with node, and when that's happening. So, I might have a server for node.

The main changes I can think of:
- Create a new server folder, this time for node (and when the merge happens

[2015-06-08 05:04] tristanisfeld opened #41 "Syntax error fails install"
$ yo ng-fullstack
C:\Users\trist\AppData\Roaming\npm\node_modules\generator-ng-fullstack\app\index.js:3
const yeoman = require('yeoman-generator');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module

[2015-06-08 05:12] #41 closed

[2015-06-08 10:08] ericmdantas commented on #41
Hello. This is because you need io.js installed instead of node. Im reverting it, since they're merging io with node =]

[2015-06-08 16:11] tristanisfeld commented on #41
Yes, thank you @ericmdantas . I realized that and then closed the issue. I had to uninstall iojs since it broke many packages, but using windows, there is no switcher. So I'm glad you are reverting it :)

[2015-06-08 16:57] trainerbill commented on #35
I get the same error and have iojs installed:

sudo npm install -g iojs
iojs@1.0.0 /usr/local/lib/node_modules/iojs

[2015-06-08 17:33] trainerbill commented on #35
Obviously I am late to the iojs party... Didn't know what it was.  I think you should put in the README that iojs is required and link to NVM

https://github.com/creationix/nvm

Makes it easy to install iojs and switch between node and iojs

[2015-06-08 17:54] ericmdantas commented on #35
Will do.

[2015-06-08 18:35] programming-kid opened #42 "How about deploying on Docker"
Wow m excited to have found this i have been using https://github.com/DaftMonk/generator-angular-fullstack as my primary generator to start any project , but it is now almost dead

I found this while researching for my new generator. ```ng-fullstack``` looks kinda hot & promising  , but not production ready according to me , while features are being added to this generator i wanted to suggest to i

[2015-06-08 18:49] ericmdantas commented on #42
Hey there! And that's a very good idea!

I still have to try my luck with docker, but it's definetely worth having this feature.

As always, PRs are welcome! =]

[2015-06-08 18:50] ericmdantas commented on #42
As for the production ready status, yeah, I'd say play with it a bit but don't go very far just yet. We're still messing around here and there trying to find the best ways to implement and reuse stuff.

[2015-06-08 19:48] programming-kid commented on #42
i am too messing around with docker, i have project on fullstack i will be migrating from it soon , i am just evaluating my options here, keep up the good work :+1:

[2015-06-09 06:43] kidddddd1984 commented on #40
/home/k-asuka/local/lib/node_modules/generator-ng-fullstack/app/index.js:3
const yeoman = require('yeoman-generator');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)

[2015-06-09 10:09] ericmdantas commented on #40
Hello, @kidddddd1984!

I made it possible to use it with node with the release 1.3.4-0. Could you please give it a try?

[2015-06-10 04:42] kidddddd1984 commented on #40
yo ng-fullstack
module.js:338
    throw err;
          ^
Error: Cannot find module 'yeoman-generator'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:25)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    at Object.<anonymous> (/Users/liuchang/.nvm/versions/node/v0.12.4/lib/node_modules/generator-ng-fullstack/app/in

[2015-06-10 10:46] ericmdantas commented on #40
@kidddddd1984, just tried it in a different computer and it worked just fine.

Could you please try the following:

- ```$ npm cache clean```
- ```$ npm i -g yo```
- ```$ npm i -g generator-ng-fullstack@1.3.4-0```
- And then inside your to-be-project: ```$ yo ng-fullstack```

[2015-06-10 23:49] ericmdantas commented on #39
Removed already.

[2015-06-10 23:49] #39 closed

[2015-06-10 23:49] ericmdantas commented on #38
Integration sort of complete. Pending on ```$http``` type of service.

[2015-06-11 02:00] ericmdantas commented on #37
1.4 released, closing this.

[2015-06-11 02:00] #37 closed

[2015-06-11 06:42] kidddddd1984 commented on #40
Yes it worked!
2015年6月10日 下午7:46于 "Eric Mendes Dantas" <notifications@github.com>写道：

[2015-06-11 10:21] ericmdantas commented on #40
@kidddddd1984, awesome!

@mcaudy, since it looked like it was an isolated problem, can I close this issue?

If there's something else that is not working, please let me know.

[2015-06-11 10:33] ericmdantas commented on #38
Write a wrapper for the [fetch api](http://davidwalsh.name/fetch) to make the client and server talk.

[2015-06-11 11:03] ericmdantas opened #43 "Make it possible to not have the server boilerplate/generator, make it client only"
And server only, if the flag is set.

#6 is needed for this.

[2015-06-11 18:33] ericmdantas commented on #38
Or maybe wait for [this](https://github.com/angular/angular/commit/21568106b114943b59ce37832d82c8fb9a63285b).

[2015-06-12 03:46] mcaudy commented on #40
This latest version of the generator-ng-fullstack works on Mac Yosemite 10.10.3
The "XCode" problems that I reported to start this issue went away once I installed XCode on Yosemite.

[2015-06-12 10:03] ericmdantas commented on #40
Alright, cool!

Closing this, then. Thanks for the feedbacks, guys!

[2015-06-12 10:03] #40 closed

[2015-06-17 10:20] ericmdantas commented on #38
Alright, Http stuff [have landed on .27](https://github.com/angular/angular/blob/master/CHANGELOG.md#features).

[2015-06-23 04:37] FreakTheMighty opened #44 "Project created in parent directory"
I'm not sure if I'm missing something, but when I run the generator the project is created in the parent. For example,
[code]

The project is created in `/tmp`

[2015-06-23 04:47] FreakTheMighty commented on #44
My mistake, there was a `.yo-rc.json` in the tree, removing it fixed the problem.

[2015-06-23 04:48] #44 closed

[2015-06-23 11:34] ericmdantas commented on #44
That's weird. Was the ```.yo-rc.json``` generated by ```yo ng-fullstack``` or was it already there?

[2015-06-23 14:43] FreakTheMighty commented on #44
I must have run the generator in tmp to start. I cleaned up visible files,
but not dot files.

On Tue, Jun 23, 2015, 4:34 AM Eric Mendes Dantas <notifications@github.com>
wrote:

[2015-06-23 15:00] ericmdantas commented on #44
Alright =]

[2015-06-24 14:42] val-samonte commented on #27
+1 on this.

[2015-06-24 19:52] remicastaing commented on #27
Keep an eye on the the upcoming [Material Design Lite](https://developers.google.com/web/tools/material-design-lite/).

[2015-06-24 21:25] ericmdantas commented on #27
@remicastaing thanks!

[2015-06-29 00:13] FreakTheMighty opened #45 "Gulp Error: Unrecognised input. Possibly missing opening"
When I run gulp in the root of the project I get this error:

[code]

I'm not very familiar with gulp, but it appears the less task is attempting to glob a directory that isn't there with this line `var _less = DEV_DIR + 'css/**/*.less';`.

[2015-06-29 10:22] ericmdantas commented on #45
Hello.

Do you have anything inside your ```client/dev/css``` folder?

[2015-06-29 19:15] FreakTheMighty commented on #45
@ericmdantas I do

[code]

[2015-06-29 19:43] ericmdantas commented on #45
Alright, I'll take a look at it when I get home.

[2015-06-30 00:27] ericmdantas commented on #45
I did get the error at first, but then it didn't happen again.

[2015-06-30 00:42] ericmdantas commented on #45
Turns out the problem is with bootstrap's version ```3.3.5``` version.

Could you please change the version of your bootstrap in the bower.json?

From:

[code]

To:

[code]

[2015-06-30 00:47] ericmdantas commented on #45
Also, here's the [bootstrap issue](https://github.com/twbs/bootstrap/issues/16663).

[2015-06-30 00:52] #45 closed

[2015-07-01 21:44] FreakTheMighty commented on #45
:+1: that worked, thank you

[2015-07-02 01:30] ericmdantas commented on #45
Good to know =]

[2015-07-08 01:37] ericmdantas commented on #27
@remicastaing that was released, by the way.

Site: http://www.getmdl.io/
Github: https://github.com/google/material-design-lite

[2015-07-13 16:01] jfelten opened #46 "go projects don't work"
I was able to create a go project, and was able to make it run by manually removing hte githib imports in main.go.  None of the tests work due to invalid imports in the todo classes Ex:
go test ./... -cover -bench .

api/todo/routes/todoroutes.go:4:2: invalid import path: "github.com/<%= username %>/<%= appName %>/server/api/todo/controller"

If I try to add my own endpoint following the documenta

[2015-07-13 19:46] ericmdantas commented on #46
@jfelten Thank you for the feedback, I'll take a look when I get home.

[2015-07-13 23:11] ericmdantas commented on #46
Yeah, there's definetely a bug. I'll fix it as soon as possible.

[2015-08-22 22:26] dmitryfd opened #47 "Gulpfile missing babel declaration, doesn't watch views"
Any execution of compile:babel fails, as this line is missing and babel variable is not declared.

    var babel = require('gulp-babel');

Also, page doesn't reload on changes in views' html, because _views variable (although declared) doesn't seem to be added to _watchable array.

     _watchable.push(_views);

Finally, I believe that first task executed upon changes (on watch) should be del_temp

[2015-08-23 23:25] ericmdantas commented on #47
I might've been cleaning up some stuff and forgot this, thanks for the PR!

[2015-08-23 23:25] #47 closed

[2015-08-24 10:43] ericmdantas opened #49 "Switch from bower to npm"

[2015-10-02 13:39] ericmdantas opened #50 "Update do Node 4.x"

[2015-10-10 02:24] ericmdantas commented on #36
Not implementing jspm anymore.

[2015-10-10 02:24] #36 closed

[2015-10-10 18:42] Kageetai commented on #49
What is that supposed to mean? How are you supposed to switch from one to the other? There two different package managers for different purposes.

[2015-10-10 19:04] ericmdantas commented on #49
Hello, @Kageetai.

I was in a conference in Porto Alegre (Brazil) and Laurie Voss was talking about how npm is planning to work better (with less tooling) for frontend development - so I thought I'd open an issue to not forget about that.

But don't worry, we're not there yet :smile:

[2015-10-10 19:14] Kageetai commented on #49
Oh okay, I didn't know about that, sounds interesting...

[2015-10-10 19:44] ericmdantas commented on #49
Definetely, not to mention that bower just can't keep up with npm. The only thing that holds most people back is the tooling that involves bringing node modules to the client side.

But it looks like they're working on it.

[2015-10-11 15:03] ericmdantas opened #51 "Separate main logic from yeoman's starting points"
Right now, it's too difficult to **unit test** most of the stuff yeoman provides, because most of the logic is inside of yeoman's main starting points.

Refactor just like https://github.com/ericmdantas/generator-angularjs-module/tree/master/app, so things are much easier to test and maintain.

[2015-10-17 14:33] charliegroll commented on #46
Bump on this issue

I get this same error when trying  ```yo ng-fullstack:resource Event --feature event``` in a node app

[10:26]:elapsed % yo ng-fullstack:resource Event --feature event
module.js:338
    throw err;
    ^
[code]

[2015-10-17 14:53] ericmdantas commented on #46
Hello, @charliegroll.

That's a different error, though. Do the other sub generators work? Like controller, service, etc?

[2015-10-17 15:01] charliegroll commented on #46
I get the same error for service and filter

[2015-10-17 15:02] ericmdantas commented on #46
Alright, I'm takin a look.

[2015-10-17 16:12] ericmdantas commented on #46
I got to simulate it with the latest version.

Good news is that it's working alright with the master version.

[2015-10-17 16:31] charliegroll commented on #46
Awesome, thanks!

[2015-10-17 23:34] ericmdantas commented on #46
@charliegroll I published 1.5.0-0, could you give it a try?

[2015-10-18 00:10] charliegroll commented on #46
I updated ng-fullstack from the yo prompts and still get the error

[2015-10-18 00:12] ericmdantas commented on #46
@charliegroll could you uninstall and install it again?

`npm uninstall -g generator-ng-fullstack`
`npm i -g generator-ng-fullstack`

[2015-10-18 00:27] charliegroll commented on #46
I completely reinstalled it and I'm still seeing 1.4 in the package.json

[code]

[2015-10-18 00:43] ericmdantas commented on #46
oh, try installing it as generator-ng-fullstack@latest

[2015-10-18 01:19] charliegroll commented on #46
I can't start a project from nothing now

[code]

[2015-10-18 02:02] ericmdantas commented on #46
`1.5.1-0` published. Coud you try that?

[2015-10-18 23:52] charliegroll commented on #46
Created a new project and installed a resource. Thanks!

[code]

[2015-10-18 23:54] charliegroll commented on #46
Created a new project and installed a resource. Thanks!

    [19:50]:elapsed % yo ng-fullstack:resource Event --feature event
       create client/dev/js/event/resource/Event.resource.js

[2015-10-19 00:10] ericmdantas commented on #46
Awesome! Thanks for trying it out.

[2015-10-23 09:44] ericmdantas opened #52 "Implement Koa server"
With async/await.

See [this discussion](https://github.com/koajs/koa/issues/533).

[2015-10-24 10:52] ericmdantas commented on #52
I'll have to wait for the other modules to implemet the `async/await` stuff as well.

[2015-10-30 00:15] aendrew commented on #25
Just do it like every other generator — give the user the option to select from a multitude of CSS preprocessors. A good implementation of this is `generator-react-fullstack`.  Would anyone be interested in me PRing this?

[2015-10-30 00:20] aendrew commented on #45
Note, this was a breaking issue for me installing via `npm install -g generator-ng-fullstack` as per the documentation. Given it's now fixed in `master`, I'd very much recommend doing a new release ASAP so as not to dissuade new users, or at least signpost this issue in the README.

Super cool generator otherwise! Looking forward to using it!

[2015-10-30 00:23] ericmdantas commented on #45
@aendrew Hello, thanks!

It should be fixed now, it's been a while as `bootstrap 3.3.1` in the bower.json.

[2015-10-30 00:24] ericmdantas commented on #25
@aendrew go for it :+1:

[2015-10-30 00:25] aendrew commented on #49
In shiny new Angular 2 land, and especially when we have stuff like Webpack and TypeScript precompiling/transpiling/whatever everything anyway, there really isn't any reason at all to continue using Bower. Bower was mainly useful when we're using stuff like Wiredep to insert dependencies so as to be consumed as globals via script tags; now that all the module loading is done withn the script itsel

[2015-10-30 00:30] aendrew commented on #25
@ericmdantas Cool, will do so sometime in the next week or two.

[2015-10-30 00:31] ericmdantas commented on #49
Pretty much.

For ng2 I have been using npm only, as a package manager, and system only for loading the client-side modules. No fancy stuff like webpack, jspm, rollup or anything else.

It's been pretty good so far.

[2015-10-30 00:32] ericmdantas commented on #25
@aendrew alrighty. I hope I'll have #6 done by then.

[2015-10-30 00:36] aendrew commented on #45
Odd; I got 1.4.0 from a NPM install, but now have 1.5.1-0 via `npm install generator-ng-fullstack@latest`. Not sure why it gave me the older version (maybe you need to do a `npm publish`? No idea.); apologies, working fine now, please disregard!

[2015-10-30 00:40] ericmdantas commented on #45
That's probably because of the pre-release thing, I'm moving some things around and I'll release the 1.5 soon.

[2015-11-01 19:11] madskonradsen opened #53 "server.ts won't start"
node index throws error. I guess the server.ts isn't being transpiled

node index

module.js:339
    throw err;
    ^

Error: Cannot find module './server/server'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonymous> (/Users/mads/Desktop/test/ind

[2015-11-01 19:48] ericmdantas commented on #53
Hello.

Could you try with `npm start`?

[2015-11-01 19:51] madskonradsen commented on #53
Same issue... But npm start is also just a "shortcut"...

mads$ npm start

module.js:339
    throw err;
    ^

Error: Cannot find module './server/server'
    at Function.Module._resolveFilename (module.js:337:15)
    at Function.Module._load (module.js:287:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonymous> (/Users/mads/Desktop/test/index.js:1:

[2015-11-01 20:29] ericmdantas commented on #53
Alright, got the bug.

The `tsconfig.json` file is misplaced. I'll fix it and release a version you'll be able to install via:

[code]

[2015-11-01 22:58] ericmdantas commented on #53
Alright, `1.5.2-0` is published.

Install it:

[code]

When you're done installing, just run:

[code]

[code]

[code]

Also, make sure you already have mongodb running.

[2015-11-02 09:33] madskonradsen commented on #53
I get a lot of errors with tsc... I assume it has to do with some setting?

Madss-MacBook-Pro:test mads$ cd server
Madss-MacBook-Pro:server mads$ tsc
api/todo/controller/todo.controller.ts(8,10): error TS2339: Property 'getAll' does not exist on type 'Model<Document>'.
api/todo/controller/todo.controller.ts(9,28): error TS2339: Property 'status' does not exist on type 'Object'.
api/todo/controller

[2015-11-02 14:01] ericmdantas commented on #53
Yeah, probably some minor thing.

Other than that, is it working now?

[2015-11-02 14:06] madskonradsen commented on #53
Yeah it's working!

[2015-11-02 14:14] ericmdantas commented on #53
Alright, cool!

I got this bunch of messages too, but my pc just gave up on me, so I dont know when I'll be able to fix it. Probably somewhere around wednesday.

If you know what is wrong, either let me know or submit a PR.

[2015-11-04 09:27] ericmdantas commented on #53
Since the server is starting just fine, I'm closing this and opening one to fix the typings.

Thanks for the feedback!

[2015-11-04 09:27] #53 closed

[2015-11-04 09:30] ericmdantas commented on #51
Most of the separation is done, closing this.

[2015-11-04 09:30] #51 closed

[2015-11-04 09:31] ericmdantas commented on #50
Updated to Node 5.x.

[2015-11-04 09:31] #50 closed

[2015-11-04 09:32] ericmdantas commented on #38
Separate the package.jsons for angular2 and server-side and then merge it together.

[2015-11-04 09:39] ericmdantas commented on #28
I was thinking and this probably doesn't belong to the core, more like a specific implementation, for the type of system that really needs a authentication and suchs.

Let me know if you disagree.

For now, I'm closing this

[2015-11-04 09:39] #28 closed

[2015-11-04 09:40] ericmdantas commented on #23
Not doing this right now.

[2015-11-04 09:40] #23 closed

[2015-11-04 09:47] ericmdantas commented on #46
Just so we're clear, this error:

module.js:338
throw err;
^
Error: Cannot find module '../known-paths'
at Function.Module._resolveFilename (module.js:336:15)

Is already solved. The go one is still around.

[2015-11-04 09:47] ericmdantas commented on #17
Closing this, I don't think it belongs to the core.

[2015-11-04 09:47] #17 closed

[2015-11-06 01:19] ericmdantas commented on #6
Modules separated, a bit of refactoring to be done, but most of the hard stuff is in the past.

[2015-11-06 14:02] #43 closed

[2015-11-06 17:54] #6 closed

[2015-11-11 00:39] ericmdantas commented on #42
Decided not to do that in the core, thanks for the suggestion, though :smile:

[2015-11-11 00:39] #42 closed

[2015-11-11 00:47] ericmdantas commented on #38
Last bit might be the most annoying one: **loading stuff that exist in the parent directory of client**;

Right now we have the following structure:

[code]

With ng1, everything is kept inside `client` (bower_components, in this case), so, nothing to worry there.

But with ng2, the deps are inside `node_modules`, mixed with the server deps, which could be a mess if you have the separation above.

[2015-11-11 00:51] ericmdantas commented on #38
Possible solution:

[code]

[2015-11-17 09:55] ericmdantas opened #54 "Update to Babel6"
And make it local.

[code]

[2015-11-22 18:31] ericmdantas opened #55 "Add angular2, systemjs, and reflect-metadata to package.json when user choses ng2"

[2015-11-22 18:50] #54 closed

[2015-11-22 23:20] ericmdantas commented on #55
Done with 271e45b

[2015-11-22 23:20] #55 closed

[2015-11-22 23:20] ericmdantas commented on #19
Droping from core.

[2015-11-22 23:20] #19 closed

[2015-11-26 00:53] ericmdantas opened #56 "Improve default html/css"

[2015-11-26 01:46] #56 closed

[2015-11-26 09:16] ericmdantas commented on #38
Missing points:

- gulp should compile the info in `client/dev/**/*.ts`, so the user wouldn't have to go to the folder himself and run `tsc`;

- finish the implementation of ng2 tests;

- fix the `POST` in `todo_service.ts`, the server can't parse the given object for some reason;

[2015-11-30 13:55] manjeshpv opened #57 "go get error in windows"
In installed generator, then generated project, npm and bower installed.

Now I'm getting a error while installing `go get`
[code]
then I changed imports in `main.go`
from `	"github.com//gorest/server/routes"`
to  `	"github.com/gorest/server/routes"`

Still package is not resolving. I'm unable to findout https://github.com/gorest/server/routes

Update 1: I'm a beginner, Now I get to know its impor

[2015-11-30 17:44] ericmdantas commented on #57
Did you get it to run with your name in it?

[2015-12-09 15:11] bbartlett opened #58 "Typescript in client (for ng1)?"
Any plans for Typescript support in the client in the Angular1 templates?  I saw that issue #37 says "server only for now", but looks like Typescript support is creeping in on the ng2 templates. Any plans for ng1 support as well?

[2015-12-09 16:28] ericmdantas commented on #58
Hello, @bbartlett.

Typescript for ng1 isn't in the schedule, to be honest.

I'm looking to finish the ng2 integration with ts first, get 1.6 ready to go, and then I might be able to take a look at the integration for ng1.

Having said that, PRs are always welcome, if you want to start something for ng1, let me know and I'll help you.

[2015-12-09 17:30] bbartlett commented on #58
Didn't think so, but was hoping ...

I need to improve my use of Typescript on the Angular side a bit, but once I have something reasonably decent, I'll reach back out to you to contribute it back.

[2015-12-09 19:02] ericmdantas commented on #58
Alright! :smile:

[2015-12-15 15:20] tmundt opened #59 "Syntax error when running "node start""
After generating the code and starting with
"node start" I get an error stating that "node index" command failed. Starting with "node index" by myself I get an syntax in index.js (see below). I think it has to do with the "=>" sign that cannot be resolved.

/Users/thomasmundt/projects/tests/ng-fs-test/node_modules/babel-core/lib/transformation/file/index.js:671
      throw err;
      ^

SyntaxErro

[2015-12-15 20:34] ericmdantas commented on #59
Hello, @tmundt.

Do you have babel installed? If so, what version are you using?

[2015-12-16 08:19] tmundt commented on #59
Yes babel is installed globally:

$ npm -g list babel
/usr/local/lib
└── babel@6.3.13

Does your package work only with specific versions of NODE/npm?

[2015-12-16 13:13] ericmdantas commented on #59
Yep, Node 4+, which will have the arrow function and many other stuff from ES6.

I'll doc it somewhere.

[2015-12-16 13:51] tmundt commented on #59
I use 4.2.3. But do you have an idea why I do get those errors?
Am 16.12.2015 14:13 schrieb "Eric Mendes Dantas" <notifications@github.com>:

[2015-12-16 16:06] tmundt commented on #59
I installed all from the scratch, but when I use npm start I am getting this (after typing http://localhost:3333 into my browser):

Pegasus:ng-fs-test2 thomasmundt$ node index
body-parser deprecated bodyParser: use individual json/urlencoded middlewares server/config/routes.conf.js:41:57
body-parser deprecated undefined extended: provide extended option node_modules/body-parser/index.js:105:29
up

[2015-12-16 17:24] ericmdantas commented on #59
Oh, that one you'd have to run:

[code]

and then

[code]

Like said in the wiki: https://github.com/ericmdantas/generator-ng-fullstack/wiki/node#getting-started

For 1.6 I'm removing the `__tmp` folder, there'll be only `dev` and `dist`.

[2015-12-19 21:32] #59 closed

[2015-12-19 21:33] ericmdantas commented on #58
Closing this, let me know if you have anything going.

[2015-12-19 21:33] #58 closed

[2015-12-21 18:28] ericmdantas opened #60 "Option to have src and test files side by side"
Right now src files and test files are separated in different folders `client~` and `tests`.

This can be hard to maintain if the project starts to get bigger, if some files have similar names, etc.

We should allow the user to have both `something.js` and `something_test.js` in the same folder - following [go's convention for src and test files](https://golang.org/doc/code.html#Testing).

~~PS: D

[2016-01-12 21:12] ericmdantas opened #61 "Option to change client and server folders name"
Either have a question about it or a `yo ng-fullstack --client newName1 --server newName2`

[2016-01-14 22:39] ericmdantas opened #62 "Have tasks names in a constant file instead of string spread across different files"

[2016-01-20 01:23] ericmdantas opened #63 "Use same folder structure for client projects"
Define if it's going to be a deep tree, like in:

[code]

or something flat, like in:

[code]

PS:

Remember that there'll be an option to make tests side by side with the source code, turning the structure into:

[code]

[code]

[2016-01-22 02:44] victorhazbun87 opened #64 "e2e testing"
includes protractor?

[2016-01-22 04:06] victorhazbun87 opened #65 "can't start server"
npm start

module.js:328
    throw err;
    ^

Error: Cannot find module './server/server'

What is going on? I followed all the steps in the wiki.

Then when changing the index.js

require('./server/server.ts');

I get another error:

/Users/victor/projects/fullstack/server/server.ts:10
import * as express from 'express';
^^^^^^

SyntaxError: Unexpected token import
    at exports.runInThisContex

[2016-01-22 10:00] ericmdantas commented on #64
Yep.

[2016-01-22 10:00] #64 closed

[2016-01-22 10:02] ericmdantas commented on #65
Hello, @victorhazbun87.

I guess that should be:

[code]

[code]

[code]

[2016-01-22 10:04] ericmdantas opened #66 "Add CHANGELOG.md"

[2016-01-22 10:05] ericmdantas opened #67 "Reorganize the wiki"

[2016-01-30 00:04] lorenjerickson opened #68 "[ng2 typings] - gulp fails on a pristine generated app"
Not sure if this is a dupe or corollary issue to https://github.com/ericmdantas/generator-ng-fullstack/issues/65.

Generated a fresh app: fullstack, node, ng2, typescript.  Installed missing peer dependencies for angular2 +kerberos.  Run gulp.  Get the following.

AFAIK, Observable has been used from rxjs since the later ng2 alphas.  Don't really have time or energy to figure out why the rest of i

[2016-01-30 14:09] ericmdantas commented on #68
Hello @lorenjerickson!

Thanks for the feedback, I'll take a look at it.

[2016-01-30 15:21] Toub commented on #63
This is definitely the recommended way to go:

client
  dev
    todo
      todo.html
      todo.css
      todo_cmp.ts
      todo_cmp_test.ts
      todo_service.ts
      todo_service_test.ts

https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/mobilebasic?pli=1

And if your module has too many components, you can create sub-folders by sub-module (not by type).

[2016-01-30 16:27] ericmdantas commented on #63
Thanks for the link, I saw it once and then couldn't find it again :+1:

[2016-01-31 00:14] ericmdantas commented on #68
As expected, the problem is related to the typings for `jasmine`.

I'm also tracking it here: https://github.com/ericmdantas/angular2-typescript-todo/issues/3

[2016-01-31 00:15] #65 closed

[2016-01-31 00:16] ericmdantas commented on #61
Not doing it now, not necessary.

[2016-01-31 00:16] #61 closed

[2016-01-31 04:17] lorenjerickson commented on #68
awesome.  I will wait eagerly for news.

[2016-01-31 19:14] #11 closed

[2016-01-31 23:30] ericmdantas commented on #52
Wait for version 2.x;

[2016-02-02 01:00] ericmdantas commented on #68
Turns out this is a bug with ng2's beta2 version.

You can see it here: https://github.com/angular/angular/issues/6813

I'll keep the issue open until they release a fix and I can update to beta3.

[2016-02-04 12:32] ericmdantas commented on #68
I released 1.6.0-2 yesterday, and it should fix this.

The thing is, you'd have to run `tsd install jasmine -so` by yourself.

[code]

[code]

[code]

[code]

[2016-02-05 09:53] ericmdantas commented on #68
As explained by Alex (Angular's core team), this is a breaking change and it was meant to be that way. It just was undocumented.

Here is the comment: https://github.com/angular/angular/issues/6817#issuecomment-180016518

[2016-02-05 15:17] Toub commented on #63
You might also be interested about this [angular2-style-guide](https://github.com/mgechev/angular2-style-guide).

[2016-02-05 17:30] ericmdantas commented on #63
Definitely! Thanks!

[2016-02-08 22:34] Nevergonnachange commented on #68
I am faceing the same issu here.

I created a ng2 fullstack app with node as server side and once it hit gulp default task

The jasmine issue is gone but the page still wont load in my browser.

I get this output:

[code]

[2016-02-08 23:53] ericmdantas commented on #68
@Nevergonnachange hello!

Did you run `tsc`?

[2016-02-09 00:50] ericmdantas opened #69 "Replace tsd with typings"
Find out how to generate typings.json.

[2016-02-09 17:14] Nevergonnachange opened #70 "Generator won't ask for ng2"
Hi,

I swaped over to my desktop pc which runs windows and wanted to start out a clean

ng2 client
node server

application.

But the generator doesn't ask for the angular version i want to use. (it works fine on my laptop which is running linux)

[code]

[2016-02-09 19:15] ericmdantas commented on #70
Hello!

It's only available with version 1.6~.

Try to install it using `@latest`.

[2016-02-09 19:15] #70 closed

[2016-02-09 21:21] Nevergonnachange commented on #68
Oh what a stupid mistake. Page loads now but still dont display anything. Im getting a Stacktrace in the console.
[code]

[2016-02-09 21:47] ericmdantas commented on #68
I got that too, working on it.

[2016-02-11 04:03] itrethan commented on #26
+1 for sequelize.js

[2016-02-12 15:58] uiktiomasfeliz opened #71 "error at starting server"
[code]

[2016-02-12 17:32] ericmdantas commented on #71
What version of angular2 are you using? Beta3 or beyond?

[2016-02-13 06:43] uiktiomasfeliz commented on #71
with the latest version of package

[code]

[2016-02-13 11:29] KapuzenSohn commented on #71
Latest Version of angular is `beta.6`.
I am getting the same errors with the latest angular version. I updated all my dependencies that where out of date and completly installed them new.

[2016-02-13 11:32] imatefx commented on #71
+1

[2016-02-13 11:35] KapuzenSohn commented on #71
Switching back to `beta.3` my gulp task don´t throws any errors.

[2016-02-13 11:39] imatefx commented on #71
https://github.com/angular/angular/issues/7052#issuecomment-183647125

[2016-02-13 11:47] KapuzenSohn commented on #71
@imatefx
that did the job. next time: read the changelog :D

[2016-02-13 11:48] imatefx commented on #71
:+1:

[2016-02-13 11:50] ericmdantas commented on #71
I released 1.6.0-4 which adds the reference for browser.d.ts, should fix this.

[2016-02-13 12:19] justcfx2u commented on #26
SQL is also a requirement for my latest project. Sequelize.js support out-of-the-box would definitely help here.

[2016-02-13 19:51] uiktiomasfeliz commented on #71
i still have the error with latest version. the npm wrote this:

[code]
also tried installing rxjs@5.0.0-beta.0 and reflect-metadata@0.1.2, same issues.
what i do wrong?

[2016-02-13 19:57] ericmdantas commented on #71
Those are just warnings, it should work correctly.

[2016-02-13 20:09] uiktiomasfeliz commented on #71
and this?
[code]

[2016-02-13 22:27] ericmdantas commented on #71
Same.

After all this, can you run `gulp` and then `npm start`?

[2016-02-13 22:40] uiktiomasfeliz commented on #71
same error's on gulp,
when i try npm start, throw me this log:

´´´
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\mou\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@3.5.3
3 info using node@v4.2.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle

[2016-02-13 22:51] ericmdantas opened #72 "Drop babel compilation"
Make the generator available only for the latest versions of node/go.

[2016-02-13 23:14] ericmdantas commented on #71
Alright. I'll take a look when I get home.

[2016-02-14 02:49] ericmdantas commented on #71
Couldn't simulate the bug you mentioned, @uiktiomasfeliz. But I did find and fixed a bug with a version of rxjs that was being shipped https://github.com/angular/angular/issues/7019

With that, I released 1.6.0-5. The typings error still occur, though. I'll take a look later today.

[2016-02-14 19:27] #69 closed

[2016-02-14 19:28] ericmdantas commented on #71
By the way, since we're at the same bug, I'm closing this in favor of #68.

[2016-02-14 19:28] #71 closed

[2016-02-16 01:10] ericmdantas commented on #67
Maybe merge it back to the Readme?

[2016-02-20 13:49] #72 closed

[2016-02-21 17:40] ericmdantas opened #73 "When user selects a client only app, modify the way the server is started"
I should use [aliv](https://github.com/ericmdantas/aliv) server-reload job.

[2016-02-21 20:04] ericmdantas opened #74 "Don't add sufix when file is created"
For example, when the user wants a controller, he'll do:

[code]

It'll generate:

[code]

But it should generate:

[code]

[2016-02-21 21:36] ericmdantas commented on #74
Done.

[2016-02-21 21:36] #74 closed

[2016-02-21 22:37] ericmdantas opened #75 "Have sub generator for complete, most common stuff for client"
If the user is using ng1, it should generate:

[code]

[code]

--

If the user is using ng2, it should generate:

[code]

[code]

[2016-02-21 22:37] ericmdantas opened #76 "Have models sub generator for the client"

[2016-02-21 23:03] #76 closed

[2016-02-21 23:05] ericmdantas opened #77 "Make ng2 subgenerators create folder with the type of the file"

[2016-02-21 23:19] #77 closed

[2016-02-22 20:38] christianmenz commented on #68
Maybe this goes into the same direction, I can't get my fullstack app started as well. Here are some details:

- OS: Windows 10
- Node/npm: 5.6.0, 3.7.3
- TS: 1.7.5

Generator options:
- Fullstack
- Node
- NG2
- Typescript

I'm running gulp, tsc and then npm start. I noticed just running tsc like described above does not compile the server part, I need to cd into server first and then run tsc serv

[2016-02-22 21:19] ericmdantas opened #78 "Can't start typescript server"
See https://github.com/ericmdantas/generator-ng-fullstack/issues/68#issuecomment-187372992

[2016-02-22 21:20] ericmdantas commented on #68
Hello, @christianmenz! The server side thing is a different issue, let's discuss it here #78.

[2016-02-22 22:49] ericmdantas commented on #78
Bunch of `typings` errors.

[2016-02-22 23:38] #78 closed

[2016-02-22 23:39] ericmdantas opened #79 "Fix typings for typescript server"
~~Angular2 (src and test)~~
- Typescript Server

[2016-02-22 23:51] ericmdantas opened #80 "Create sub generator for view"
It should generate:

[code]

[2016-02-22 23:56] #80 closed

[2016-02-22 23:56] ericmdantas opened #81 "Create sub generator for styles"
It should generate:

[code]

[2016-02-23 00:01] #81 closed

[2016-02-23 00:16] #73 closed

[2016-02-23 00:23] #66 closed

[2016-02-23 10:14] ericmdantas commented on #38
I'll mark this as finished and create separate issues to fix typings and stuff.

[2016-02-23 10:14] #38 closed

[2016-02-23 10:24] ericmdantas commented on #15
As of now, we've got the following structure:

Angular 1:

[code]

Angular 2:

[code]

Node Server:

[code]

Go Server:

[code]

[2016-02-23 12:19] daimz opened #82 "Getting Errors in gulp when running the app."
I have done a fresh install of the generator and then run `npm start` and `gulp` I originally was unable to get NPM to start but solved that by using the suggestion [here](https://github.com/ericmdantas/generator-ng-fullstack/issues/68#issuecomment-179803343) which at least allowed me to launch the app.

The problem however is when I run `gulp` I can see the following and nothing happens when I sa

[2016-02-23 13:17] ericmdantas commented on #82
Hello, @daimz.

The typings error is a known issue and are being tracked [here](#79) and [here](#68).

As for the gulp task not running when files are changed, that's a different issue. I'll close this one and open an issue for the `watchable` files not being updated. For the typings, you can follow the issues above.

Thanks!

[2016-02-23 13:17] #82 closed

[2016-02-23 13:17] ericmdantas opened #83 "Gulp not watching on files change"

[2016-02-24 08:28] daimz commented on #82
Thanks @ericmdantas!
Noticed the links you added don't work btw.

[2016-02-24 10:02] ericmdantas commented on #82
Oops, updated :smile:

[2016-02-25 01:39] #75 closed

[2016-02-25 02:01] #83 closed

[2016-02-25 23:19] ericmdantas commented on #63
The structure is the following:

[code]

[2016-02-25 23:19] #63 closed

[2016-02-25 23:28] ericmdantas commented on #57
Closing this in favor of #46.

[2016-02-25 23:28] #57 closed

[2016-02-25 23:28] #15 closed

[2016-02-26 00:35] #62 closed

[2016-02-27 14:32] ericmdantas commented on #79
Maybe adding both  'typings/main.d.ts' and 'node_modules/angular2/typings/browser.d.ts' to tsconfig.json?

[2016-02-27 16:12] #68 closed

[2016-02-27 16:13] ericmdantas commented on #68
`1.6.0-12` released with the fix.

[2016-02-27 16:15] ericmdantas commented on #79
Client side done.

Server left.

[2016-03-01 11:47] ericmdantas opened #84 "Make build optimizations for http2"
- [x] No sprites
- [x] No concating
- [x] Minify css
- [x] Minify js
- [x] Minify images
- [x] Minify html
- [ ] Kill cache individually

[2016-03-02 03:19] ericmdantas commented on #84
For the `dist` build, instead of getting stuff from dev, modifying it and then copying it to `dist`, maybe it'd be better, to copy to `dist`, and then, for each type of file, do the transformation there, in the `dist` folder.

By doing so, the file names would change, because we'd have something like `index-akdjkdjads.js` instead of just `index.js`, but the paths would be the same; only the root w

[2016-03-02 13:34] ericmdantas opened #85 "bump aliv version"

[2016-03-02 13:54] bernardbr commented on #85
tks!!

[2016-03-02 14:19] #85 closed

[2016-03-02 14:20] bernardbr opened #86 "The style's generator is been creating the css file with the wrong content (html structure)"
Try:
`$ yo ng-fullstack:style icia-cara --feature mais_que_del`

and the default content of file " client\dev\mais_que_del\styles\icia-cara.css" will be:

`<h1>
  my new view :D - it's called icia-cara
</h1>
`

[2016-03-02 14:35] ericmdantas commented on #86
That's a bug with `1.6.0-12`, I'll release `1.6.0-13` tonight.

[2016-03-02 23:28] ericmdantas commented on #86
Fixed.

[2016-03-02 23:28] #86 closed

[2016-03-04 09:55] georgeedwards commented on #67
A "Getting Started" tutorial type walk-through of building a super-simple web app with this generator would also be really helpful. (speaking as someone evaluating different generators)

[2016-03-04 10:14] ericmdantas commented on #67
Good idea, @georgeedwards! I might do that for all the combinations of options, like ng1 + nodejs, ng2 + go, etc.

[2016-03-04 10:16] georgeedwards commented on #67
@ericmdantas That would be great! I have sent you an email, I am happy to help writing up some docs if you would like, let me know if you get it.

[2016-03-04 10:54] ericmdantas commented on #67
@georgeedwards Sure! I'd love some help.

Just responded the email, by the way. See if there's something else you'd like to know.

[2016-03-04 23:17] georgeedwards commented on #67
Awesome, well I think this will be ongoing, first lot done...

[2016-03-04 23:21] ericmdantas commented on #67
Closing this, if you feel like opening a new issue to track/document specific content, feel free to do so :smile:

[2016-03-04 23:21] #67 closed

[2016-03-04 23:22] georgeedwards opened #88 "Add Authentication with PassportJS"
As discussed, I think it would be great to add support for PassportJS, to add user authentication to the sample app. Planned for the v1.7 release. I'll start work on my fork. Should this come as part of the default app, or an optional add-on (i.e question in set up)?

[2016-03-04 23:40] ericmdantas commented on #88
I guess it could make to the default, as long as it's nothing related to the more complex auth stuff.

[2016-03-05 02:57] ericmdantas commented on #84
The problem with the plugins that kill the cache is that they do it together with useref or usemin, and both concat the files - which is against the http2 good practices.

[2016-03-05 02:57] #84 closed

[2016-03-10 02:49] #46 closed

[2016-03-11 15:55] fklingler commented on #79
Any news on this issue? I'm really interested on the TS server.

It seems that the typings are first generated in the `server` directory, but if you use `typings install` command, it installs the typings at the root. Is it normal?

[2016-03-11 18:56] ericmdantas commented on #79
Hello, @fklingler.

The correct `typings` is the one in the root, the one in the server folder can be ignored by now - I'll remove it later.

And yes, I'm trying to solve this before `1.6` stable is released.

[2016-03-11 23:23] georgeedwards opened #89 "deprecated gulp-minify-css"
Current Sample App when configured like this:
FullStack, node, ng2, Typescript
and installed on windows throws this error:

    npm WARN deprecated gulp-minify-css@0.4.6: Please use gulp-clean-css
    npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.
    npm WARN deprecated lodash@1.0.2

[2016-03-11 23:26] georgeedwards commented on #88
- [1] Get Running on Server
- [2] Get Running on Client Side (ng2)
- [3] Support ng1
- [4] Support Go
- [5] integrate into setup options

[2016-03-11 23:41] georgeedwards opened #90 "Gulp failing from Orchestrator?"
Has anyone run into this? I am on windows, just run a clean generation with ng2 and Typescript and my getting started steps aren't working :(. If nobody has seen this, I'll try to fix it in the morning.

[code]

[2016-03-11 23:47] ericmdantas commented on #89
The only generator's direct deps are `gulp-minify-css` and `lodash`. The others, I'm pretty sure are deps of the deps, so there's not much we can do.

Other than that, go for it!

[2016-03-11 23:48] ericmdantas commented on #90
What's the gulp version you're using?

[2016-03-11 23:51] georgeedwards commented on #90
CLI - 1.2.1
Local - 3.9.1

[2016-03-12 00:25] ericmdantas commented on #90
Alright, doesn't seem related to gulp, I might've messed some task namings up.

[2016-03-12 00:28] ericmdantas commented on #90
Got the bug, I'm releasing `-17` with the fix.

[2016-03-12 00:31] #90 closed

[2016-03-12 00:33] ericmdantas commented on #90
There, `1.6.0-17` released.

Thanks for pointing it out.

[2016-03-12 00:53] ericmdantas commented on #79
Latest node typings has got some errors: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/8514

[2016-03-12 14:11] ericmdantas commented on #89
Can we close this or you're taking a look at the others too?

[2016-03-12 14:20] georgeedwards commented on #89
Let's close it, but I might come back to them.

[2016-03-12 14:20] #89 closed

[2016-03-12 14:44] ericmdantas commented on #89
Cool.

[2016-03-12 19:40] ericmdantas opened #92 "Bump server module versions"
Modules to be updated:

- bluebird (3.3.4)
- mongoose (4.4.7)
- express (4.13.4)
- body-parser (1.15.0)

[2016-03-13 17:03] #92 closed

[2016-03-14 08:53] fklingler commented on #79
Thanks for this.

I experimented a little, and it seems that there is no need to add the reference to the typings in each file. You should just include the typings file to TSC:

_build_tsc.js_
[code]

[2016-03-14 10:30] ericmdantas commented on #79
Yeah, I had forgotten about it.

I removed those, did more changes to make the typescript server run smoothly, but looks like there are some stuff that it's not my fault, it's more like `tsd` and `typings` fighting each other - and not being compatible some times.

Yesterday I released 1.6.0 with these changes, there's more to be done, but we're closer to get this fixed.

[2016-03-15 13:55] malixsys opened #93 "Upgrade graceful-fs and lodash"
Warning is shown at app creation:

[code]

[2016-03-15 13:55] malixsys opened #94 "Upgrade `lodash`"
Warning is shown at app creation:

    npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.

[2016-03-15 15:06] ericmdantas commented on #93
I guess that's related to gulp, so there's not much we can do. But I'll leave it open so I can take a closer look.

[2016-03-15 15:07] ericmdantas commented on #94
I'll close this and track in this issue #93.

[2016-03-15 15:07] #94 closed

[2016-03-15 15:09] ericmdantas opened #95 "Implement https server"
- [ ] Node
- [ ] Go

[2016-03-15 15:10] ericmdantas opened #96 "Implement http2 server"
- [x] Have a different branch
- [x] Generate "mock" certs
- [x] Implement Go
- [x] Implement in Node - see https://github.com/ericmdantas/generator-ng-fullstack/issues/96#issuecomment-197285514
- [x] Create options (http or http2)
- [x] Cleanup

[2016-03-15 21:46] ericmdantas commented on #95
No need for https only server, make it http2.

[2016-03-15 21:46] #95 closed

[2016-03-16 01:24] ericmdantas commented on #93
As expected, those are deps of deps, so there's not much to be done.

So, closing this.

[2016-03-16 01:24] #93 closed

[2016-03-16 01:38] ericmdantas commented on #96
Go server:

[code]

[2016-03-16 01:43] ericmdantas commented on #96
Node server:

[code]

[2016-03-16 12:03] ericmdantas commented on #96
Welp, looks like express and the http2 module don't get along yet: https://github.com/molnarg/node-http2/issues/100

[2016-03-27 06:15] itranga opened #97 "heroku api issue"
I hosted sample app in https://mytemple.herokuapp.com/ . I got following issue in console .

https://mytemple.herokuapp.com/api/todos/ 503 (Service Unavailable).

I connected mongodb in  mongolab

[2016-03-27 13:05] ericmdantas commented on #97
Hello, @itranga.

Did you change the MONGOHQ_URL to MONGOLAB? https://github.com/ericmdantas/generator-ng-fullstack/blob/master/app/templates/server_node/config/db.conf.js#L8

[2016-03-27 14:23] itranga commented on #97
Yes . I have change it in db.json file .

"localhost": "mongodb://username:pwd@ds031952.mlab.com:31952/temple"

My local app is working fine .I have issue only in heroku server.I think it have some issue in api url .

[2016-03-27 14:41] ericmdantas commented on #97
What's the content of your `procfile.txt`?

[2016-03-27 22:26] ericmdantas commented on #96
Since there's the bug above, node will have to stay with https for now.

[2016-03-28 00:07] itranga commented on #97
I have allready done .
procfile = web: npm start

[2016-03-28 00:18] ericmdantas commented on #97
Same error?

If so, is the deploy to heroku ok or there are some errors? Also, can you connect to the DB outside of the application?

[2016-03-28 00:52] itranga commented on #97
I got the same error . I connected MONGO Db from https://mlab.com/  . I think issue is in router . Because I try to view https://mytemple.herokuapp.com/api/todos/. it's not working .But my local pc app router is working [ http://localhost:3333/api/todos ]

[2016-03-28 01:08] ericmdantas commented on #97
Can you show some logs/prints?

[2016-03-28 01:32] itranga commented on #97
Online

https://mytemple.herokuapp.com/api/todos/

Chrome Print

Application Error
An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

Offline

http://localhost:3333/api/todos/

Chrome Print

[{"_id":"56f49f682f31c84360a6c018","todoMessage":"test","__v":0,"createdAt":"2016-03-25T

[2016-03-28 01:37] ericmdantas commented on #88
Moving to 1.8.

[2016-03-28 02:06] ericmdantas commented on #97
I see, the page is showing, but there's no interaction with the server.

The thing I'm noticing is the request is taking forever to resolve. For example, the `GET` on `api/todos` took `1min` and then got the `503 Service Unavailable` error.

Are you using `express` to serve the `index.html` or some static server? If you're not using express, make sure your proxy is set up correctly.

[2016-03-28 02:16] ericmdantas commented on #96
As a note, Node servers will have to have its files copied like go's, see here: https://github.com/ericmdantas/generator-ng-fullstack/blob/master/_ng/server/go.js#L39

[2016-03-28 07:07] itranga commented on #97
I used your generator-ng-fullstack code .change only db.json file .

[2016-03-28 11:00] ericmdantas commented on #97
You'll also have to change the enviroment variable.

By default, the generator uses `MONGOHQ_URL` to connect to the database. You'll have to use `MONGOLAB_URI`. That config is in `server/config/db.config.js`.

[2016-03-28 11:57] ranbuch opened #98 "errors after running 'gulp' command"
After using 'yeoman' to generate the project and typing 'gulp' i'm getting a lot of errors:

[14:49:37] Finished 'client.browser_sync' after 622 μs
client\dev\todo\components\todo-cmp.ts(3,3): error TS2305: Module '"c:/Users/ranbu/Documents/dev/fitix-selling-point/node_modules/angular2/core"' has no exported
member 'View'.
c:/Users/ranbu/Documents/dev/fitix-selling-point/node_modules/angular2/src/

[2016-03-28 12:20] ericmdantas commented on #98
Those errors are supposed to be fixed in `1.6` stable, could you install the latest version?

Also, what versions do you have for:

- Typescript;
- Typings;
- Angular;

As for the timeout, you'll have to run `gulp` in one terminal and then `npm start` in another. Those are the live-reload and the server.

[2016-03-28 12:22] ericmdantas commented on #98
Here's the old issue about it: https://github.com/ericmdantas/generator-ng-fullstack/issues/68

[2016-03-28 12:30] ranbuch commented on #98
I've just run:
npm install -g generator-ng-fullstack
today.

typescript@1.8.9
typings@0.7.9

the angular is not installed globally so the version is yours:
"angular2": "^2.0.0-beta.9"

[2016-03-28 12:46] ericmdantas commented on #98
Can you try running `typings install` in the root of the app? That will install the typings for jasmine, which are related to the errors shown - and should fix this.

[2016-03-28 13:07] ranbuch commented on #98
Yes it did work!
Not the only error is:
client\dev\todo\components\todo-cmp.ts(3,3): error TS2305: Module '"c:/Users/ranbu/Documents/dev/fitix-selling-point/node_modules/angular2/core"' has no exported
member 'View'.

[2016-03-28 13:13] ericmdantas commented on #98
Oh, that's my mistake.

They removed `@View`. now it's only `@Component`. You can change that. Everything that's in the view you put in the component.

[2016-03-28 13:21] ranbuch commented on #98
So in the file client/dev/todo/components/todo-cmp.ts you have this:
import {
  Component,
  View,
  Inject,
  OnInit
} from 'angular2/core';

I've turn it to this:
import {
  Component,
  //View,
  Inject,
  OnInit
} from 'angular2/core';

and now I have no errors.

How can I run the application?
I mean it opens the browser in this URL:
http://localhost:3000/
but it loads forever and never return

[2016-03-28 13:31] ericmdantas commented on #98
Just remove the `View`.

When you run `gulp`, it'll open an live-reloading server, but your server is not up yet. So, you open another terminal/shell and run `npm start`.

Then you can refresh the page and all should be working.

[2016-03-28 13:36] ranbuch commented on #98
OK I've run npm start and got this:
      throw err;
      ^

SyntaxError: C:/Users/ranbu/Documents/dev/fitix-selling-point/server/api/todo/dao/todo-dao.js: Unexpected token (20:39)

todoSchema.statics.createTodo = (todo) => {
  return new Promise((resolve, reject) {
    if (!_.isObject(todo))
    return reject(new TypeError('Todo is not a valid object.'));

[2016-03-28 14:14] ranbuch commented on #98
In file `server/api/todo/dao/todo-dao.js` you have this:
[code]
replace to this:
[code]

Now I have some other error:
`
An error ocurred with the DB connection:  { [MongoError: connect ECONNREFUSED 127.0.0.1:27017]
  name: 'MongoError',
  message: 'connect ECONNREFUSED 127.0.0.1:27017' }
GET /api/todos/ - - ms - -
GET /api/todos/ - - ms - -
`

Probeblly my bad, my MongoDB isn't running. I'll find

[2016-03-28 14:36] ericmdantas commented on #98
Ops, thanks for the heads up!

[2016-03-28 14:39] ericmdantas commented on #98
Released `1.6.2` with the fixes.

[2016-03-28 14:59] ericmdantas commented on #98
I'm closing this, since the main issue was resolved, but feel free to let me know if any other errors occur.

[2016-03-28 14:59] #98 closed

[2016-03-28 15:10] ranbuch commented on #98
OK.
It's working beautifully on my chrome browser. Not retrieving the data in Edge browser (list always empty).
This is another issue and not really effect me . . .
FYI.
Thanks again.

[2016-03-28 15:15] ericmdantas commented on #98
I'll keep an eye on it, and test when I get home.

Thanks for the feedbacks!

[2016-03-29 01:08] itranga commented on #97
I have change MONGOHQ_URL to MONGOLAB_URI . Did u try to host your code heroku servers ?

[2016-03-29 01:45] ericmdantas commented on #97
Yes - it's been a while, though.

Let me give it a try with a newer version.

[2016-03-29 02:55] ericmdantas commented on #97
Alright, got it to work with mongolab: https://issue-97.herokuapp.com/

What I had to do:

- Set up the config for mongolab, create db name, user and password;
- Go to Heroku and add the addon for MongoLab;
- Also in Heroku, create the NODE_ENV variable and set it to `production`;
- Still in Heroku, change the MONGOLAB_URI to your db uri located in mongolab;
- The only file you have to change in t

[2016-03-29 02:55] #97 closed

[2016-03-29 04:24] itranga commented on #97
Thank you so much for all you have done for me . I will follow your process

[2016-03-29 09:57] ericmdantas commented on #97
Thanks for sticking by, and providing some feedback on how to reproduce it :smile:

[2016-03-29 10:23] ericmdantas commented on #97
By the way, I created an explanation in the wiki to help other people that might run into similar problems: https://github.com/ericmdantas/generator-ng-fullstack/wiki/Deploying-to-Heroku

[2016-03-30 00:03] itranga commented on #97
it's working now . I changed const URL = dbConst.localhost; in db.conf.ts .  (Because Need to add Credit card to create mLab MongoDB in heroku  )

I want again to thanks you for help and support

http://mytemple.herokuapp.com/

[2016-03-30 10:03] ericmdantas commented on #97
Awesome! :+1:

[2016-03-31 02:18] ericmdantas commented on #96
Done.

[2016-03-31 02:18] #96 closed

[2016-04-03 10:07] georgeedwards commented on #27
Maybe something we can build into my new app # version? I am happy to do this. So you might have two new options, "do you want to add authentication?" and "would you like to use a front-end framework?" type thing?

[2016-04-03 15:01] ericmdantas commented on #27
Sounds good, @georgeedwards.

I think it'd make more sense to have them separated, though - different branches and even different versions of the generator. Say 1.8 is for authentication and 1.9 is for material. And, yes, they'd be two different questions and they'd have to "mix" with the other different options the user chose.

For example, user 1 chose:
- ng1
- client only app
- angular material

[2016-04-04 01:52] ericmdantas opened #101 "Fix ng2 tests"
Now, there's no tests being run and this is being reported:

[code]

[2016-04-04 09:53] georgeedwards commented on #101
@ericmdantas This is the issue I think I am facing on my repo too. I'll look into it.

[2016-04-04 10:08] ericmdantas commented on #101
https://github.com/ericmdantas/angular2-typescript-todo has got karma.conf.js and karma-shim-test.js configured correctly. That could help.

[2016-04-05 00:26] ericmdantas opened #102 "Go is not serving static files - Switch web framework"
From [httprouter](https://github.com/julienschmidt/httprouter) to [echo](https://github.com/labstack/echo).

- [x] Get list to work
- [x] Get creation to work
- [x] Get delete to work
- [x] Modify `endpoint` subgenerator
- [x] Get http/2 to work
- [x] Clean up

[2016-04-06 10:24] ericmdantas opened #103 "gulp 4"
There's a branch almost ready to be merged, keep an eye on it.

Branch: https://github.com/gulpjs/gulp/tree/4.0
Milestones: https://github.com/gulpjs/gulp/milestones

[2016-04-06 10:27] georgeedwards opened #104 "Single Command to run app (with watcher)"
@ericmdantas I think we talked about this over email. Having a single command to launch the app, rather than gulp and npm start. Ideally, with a watcher, to speed up the develop -> build -> test workflow by removing the build step. I believe the primary issue was not being able to run commands in parallel, just found [this](https://www.npmjs.com/package/concurrently). Would that do it?

[2016-04-06 10:37] ericmdantas commented on #102
In echo, it's much more straight forward:

[code]

I'll create a branch today to get this fixed.

[2016-04-06 10:42] ericmdantas commented on #104
Awesome find!

I think both steps, `gulp` and `npm start`, should still exist separated, and then we could create something like: `npm run dev`, where it'd fire this module you just found.

What do you think?

[2016-04-06 10:53] vitkrv opened #105 "ng2 option isn't possible to select when user selects "client only app""
Hi, I want to share my observation. I have downloaded latest release _(v1.7.1)_ and try to setup new project.
I wrote the name of project, name from Github and chose _'client'_ option. Then I couldn't choose _'ng2'_, because arrows didn't work.
For option _'fullstack'_ all works fine.

[2016-04-06 10:59] ericmdantas commented on #105
Hello, @vitkrv!

This bug is a special kind, I've seen it before but couldn't fix it - it's more likely a yeoman bug.

Anyway, for now, when you get to choose `client` and `ng2` you can type `ng2` instead of selecting it, it'll work the same.

I'll leave the issue open in case we find some fix.

PS: What OS are you using, by the way?

[2016-04-06 11:00] ericmdantas commented on #102
Not to mention the performance gains and less memory consumption.

#### httprouter (peak memory 383MB)

[code]

#### Echo (peak memory 175 MB)
[code]

[2016-04-06 11:58] ericmdantas opened #106 "Add option to use static server outside node/go enviroment"
The user can choose to use something like `apache`, `nginx`, `iis`, etc.

Then, `Node` and `Go` would just take care of the endpoints - the generator won't touch on the static server config, that should be up to the user.

[2016-04-06 12:33] georgeedwards commented on #104
I completely agree, that we have it as well as the existing way of working. I a happy to do this after the authentication and Angular Material pieces.

[2016-04-06 12:41] ericmdantas commented on #104
Right.

I'll leave it unassigned, then - whoever has got free time, implements it :smile:

[2016-04-06 23:58] ericmdantas commented on #102
Branch created: https://github.com/ericmdantas/generator-ng-fullstack/tree/go-echo

[2016-04-08 05:34] dolanmiu opened #107 "duplicate "require-dir": "0.3.0""
When I create a brand new project using this generator, there are two entries of "require-dir": "0.3.0", as shown in the screenshot below:

![screen shot 2016-04-08 at 06 33 11](https://cloud.githubusercontent.com/assets/2917613/14374949/f2edecfe-fd53-11e5-89cf-f4804416f5c1.png)

Please fix

[2016-04-08 10:01] #107 closed

[2016-04-08 10:01] ericmdantas commented on #107
Thanks for pointing that out, @dolanmiu. I removed it.

[2016-04-09 21:39] ericmdantas commented on #102
Use new way to serve static stuff, from: `middleware.Static(PATH)` to `echo.Static(PATH)`.

The import changed too, from: `github.com/labstack/echo/middleware` to `github.com/labstack/echo`.

[2016-04-10 16:33] ericmdantas commented on #102
Depends on: https://github.com/labstack/echo/issues/459.

[2016-04-11 10:50] ericmdantas commented on #102
Deleted branch `go-echo`, the changes are in master now.

[2016-04-11 23:34] ericmdantas commented on #102
Http/2 is only available in standard server in echo.

See the [FAQ in fasthttp](https://github.com/valyala/fasthttp#faq) for more info.

[2016-04-11 23:46] ericmdantas commented on #102
And, done!

[2016-04-11 23:46] #102 closed

[2016-04-11 23:47] ericmdantas commented on #102
`1.7.2` released.

[2016-04-12 10:27] ericmdantas commented on #52
Updated issue link.

[2016-04-16 02:31] ericmdantas opened #108 "Break cache for every dist build"
Adding a hash/rev as a query string to the dependencies in the `index.html` should do.

[code]

[code]

[2016-04-16 02:37] ericmdantas commented on #108
Probably use: https://github.com/elmccd/gulp-uncache.

[2016-04-16 23:33] BenevidesLecontes opened #109 "Errors after gulp"
Hello! I'm using ng-2 and i'm getting errors after gulp command, I already installed typings, express, express-content-length-validator:
<img width="1051" alt="screen shot 2016-04-16 at 8 29 43 pm" src="https://cloud.githubusercontent.com/assets/1839361/14584218/3c3503a6-0412-11e6-8a54-6138d833c757.png">

[2016-04-17 13:21] ericmdantas commented on #109
Hello! This is being tracked in #79.

[2016-04-17 13:21] #109 closed

[2016-04-17 16:14] #108 closed

[2016-04-18 13:44] ericmdantas opened #111 "When the user selects client only app, generate an .alivrc with the options for aliv"
Suggested by: @bernardbr.

[2016-04-18 13:45] ericmdantas commented on #111
Remember to consider the `secure` flag.

[2016-04-18 14:06] ericmdantas commented on #111
Closed by: dffdce6.

[2016-04-18 14:06] #111 closed

[2016-04-18 14:12] bernardbr commented on #111
Updating!

[2016-04-18 15:49] bernardbr opened #112 "When I create a sub-generator the name of module is allways "myAwesomeApp"."
Ideally, the new module description was based on "appName" the .yo-rc.json file

[2016-04-18 18:19] bernardbr opened #115 "Can you deploy a new release, please?"
@ericmdantas, can you deploy a new release, please?
Thx!

[2016-04-18 18:30] ericmdantas commented on #115
Done, `1.7.5` released.

[2016-04-18 18:30] #115 closed

[2016-04-19 00:08] ericmdantas commented on #112
Closed by: 939576d.

[2016-04-19 00:08] #112 closed

[2016-04-19 18:52] ericmdantas opened #118 "If any test fails, there should be no dist build"
Right now, gulp is not respecting the chaining of the tasks and even if the test fails, the rest of the build goes on - as can be seen here:

[code]

`del` and `client.build:dist` should block - only `del` is blocking for now.

Spoken to @bernardbr.

[2016-04-19 18:58] ericmdantas commented on #118
Probably gonna end up using [run-sequence](https://www.npmjs.com/package/run-sequence).

[2016-04-19 19:14] ericmdantas commented on #118
Remember that `gulp4` is solving this issue in the core, no need for additional modules - #103.

[2016-04-19 19:17] #118 closed

[2016-04-19 19:29] ericmdantas commented on #118
`1.7.7` released.

[2016-04-19 21:17] ericmdantas opened #119 "Copy files from dev to dist and make the modification there"
Don't do the modifications coming from dev to dist - it's better to copy all the files to the dist folder and do all the changes there. By doing that, there's no files left behind.

[2016-04-19 22:11] ericmdantas commented on #105
Not happening on OS X.

[2016-04-19 23:26] #119 closed

[2016-04-21 02:10] ericmdantas commented on #105
Well, since it's a bug with Yeoman, I'll suggest we open an issue there - there's really not much I can do here, I guess.

[2016-04-21 02:10] #105 closed

[2016-04-21 02:53] ericmdantas commented on #101
Currenct stack:

[code]

Looks like there's no interaction between karma/karma-shim and the test files.

[2016-04-23 16:33] ccocker opened #121 "Generator: Component"
The yo ng-fullstack:component user --feature person generates components (html, ts & css) under one directory where the initial install has the components broken up into difference directories (templates, components, styles, services).

It would be good if the initial install todo example and the generator both used the same standards.

[2016-04-23 16:37] ericmdantas commented on #121
Nice catch, @ccocker!

I'm on it.

[2016-04-23 16:37] ccocker opened #122 "Generator: Server"
The generator yo ng-fullstack:endpoint skate --feature skateboard produces some errors.

For example:

In the client.controller.ts file we are importing import clientDAO from '../dao/client.dao'; However the name of the file generated for the DAO is client-dao, not client.dao.

This same error occurs in each of the generated server files i.e. component, dao, route and model

[2016-04-23 16:43] ericmdantas commented on #122
What server are you using?

[2016-04-23 17:18] ccocker commented on #122
node

[2016-04-23 18:49] #121 closed

[2016-04-23 18:56] #122 closed

[2016-04-23 18:57] ericmdantas commented on #122
`1.7.13` released.

[2016-04-23 18:58] ericmdantas commented on #121
`1.7.13` released.

[2016-04-23 23:06] ericmdantas commented on #79
@Dev-Force any other errors happening here? Or can we close this?

[2016-04-23 23:29] Dev-Force commented on #79
umm i think the content length is still here

[2016-04-23 23:33] ericmdantas commented on #79
Yup, I'll do it tomorrow so we can close this.

[2016-04-23 23:33] Dev-Force commented on #79
perfect, gn then

[2016-04-24 12:50] #79 closed

[2016-04-25 12:19] ericmdantas opened #124 "Create tests for file content"
Right now we have two types of tests: acceptance and unit. The first is taking care of checking if certain files were created and suchs. The second checks how methods were called, how options are being set, etc.

We should have another type of acceptance test: file content. This will save us a lot of headache when refactoring, because we'd not have to test many things by hand.

The tests should be

[2016-04-26 11:39] netlander opened #125 "Using Babel even when Typescript selected."
Just started a project opting for Typescript but Babel is still a dependency and is being used as transpiler.

Why is that?

[2016-04-26 12:03] ericmdantas commented on #125
It's only being used as a transpiler for gulp tasks, so you can do things like:

[code]

[2016-04-26 12:43] netlander commented on #125
Couldn't the above snipped have been achieved using Typescript? Just curious.

[2016-04-26 12:47] ericmdantas commented on #125
Yeah, but you'd have to transpile your files to .js. With gulp 3.9.0~ you can use a gulpfile.babel.js to do it without explicitly transpiling.

[2016-04-26 12:48] ericmdantas commented on #125
I'm closing this since it's the expected behaviour.

[2016-04-26 12:48] #125 closed

[2016-04-26 12:52] netlander commented on #125
Yep. thanks for the clarification. Adding a star.

[2016-04-26 12:53] ericmdantas commented on #125
Thanks! :smile:

[2016-04-27 07:42] Tadimsky opened #126 "Creating a new endpoint does not add it to the routes\index.js file"
When adding a Node.js endpoint it would be nice if the generator would automatically include the new router file in the routes\index.js file.

[2016-04-27 07:48] Tadimsky opened #127 "Creating a new Angular2 Component does not place the feature name in the path to css + template"
In this file: generator-ng-fullstack/component/templates/component.ts

There is no reference to the feature name in the path for the templateUrl and the styleUrls.

It should probably be something like this:

Where feature_name is your variable for the feature name :)

[2016-04-27 07:51] Tadimsky opened #128 "Generating a new resource in an Angular2 project creates an Angular1 resource file"
It seems like there is no template for an angular2 resource file.
It instead uses this and creates an angular1 resource.

`generator-ng-fullstack/resource/templates/resource.js`

[2016-04-27 10:08] ericmdantas commented on #128
Hello, @Tadimsky.

Resource is not part of Angular2 wrapper, and last time I checked, they didn't intend in having one. The only things Angular2 and Angular1 share are:

- Directives;
- Services;
- Factories;
- Models;
- Views;
- Styles;

Filters, Resources, Delegators, etc are all part of Angular 1 only.

What we could have is a warning maybe? Something like: "There's no such thing in Angular2".

[2016-04-27 10:09] ericmdantas commented on #127
On it.

[2016-04-27 10:28] #127 closed

[2016-04-27 10:37] ericmdantas commented on #127
Released `1.7.16`.

[2016-04-27 14:32] ericmdantas opened #129 "Cordova support"
As spoken to @bernardbr, it'd be nice to have some things to facilitate the development for cordova.

Things that would need to change:

- paths would have to begin with `./somewhere` instead of `somewhere`;
- location/routes would have to use `#`;
- generate an empty file called cordova.js in `client/dev` and reference it in `index.html`.

@bernardbr, what else?

[2016-04-27 15:05] bernardbr commented on #129
Sounds great!

It is also necessary to add this meta in index.html:

[code]

And also prefix the files path of scripts and css with "./", such as:

[code]

[2016-04-27 15:14] ericmdantas commented on #129
:+1:

[2016-04-27 15:25] bernardbr opened #130 "When the generator is set to HTTP 1.1, it'd be nice to have an additional option to set if files (css and js) will be concatenated on build-dist."
@ericmdantas , what do you think about this?

[2016-04-27 15:29] ericmdantas commented on #130
Sounds good.

[2016-04-27 17:54] Tadimsky commented on #128
Ok, that's good to know - thanks!
I was using it for things like config files, etc.

But yeah, it would be good to not create it then for Angular2 I think.

[2016-04-27 17:55] Tadimsky commented on #127
Awesome, thanks Eric!

[2016-04-27 18:38] ericmdantas commented on #127
Thanks for reporting it :smile:

[2016-04-27 18:39] ericmdantas commented on #128
Cool, I'll try to solve it today and release a patch.

[2016-04-28 11:39] georgeedwards commented on #129
If mobile dev is of interest, I'd suggest taking a look at [NativeScript](www.nativescript.org/), it's open source, runs JS natively much more performantly and works well with Angular 2.

[2016-04-28 12:44] bernardbr commented on #129
Thanks @georgeedwards! I didn't know NativeScript... Sounds good. I will study it!

[2016-04-29 17:32] fermi2n opened #131 "TypeScript errors on startup"
gulp

[19:28:29] Requiring external module babel-register
[19:28:30] Using gulpfile ~/simple42/webapp/gulpfile.babel.js
[19:28:30] Starting 'client.build_ts'...
/Users/ivan/simple42/webapp/node_modules/angular2/src/testing/matchers.d.ts(4,37): error TS2503: Cannot find namespace 'jasmine'.
server/api/todo/controller/todo-controller.ts(1,26): error TS2307: Cannot find module 'express'.
server/api/t

[2016-04-29 18:09] ericmdantas commented on #131
Hello, @fermi2n.

Make sure you run `typings install` before running `gulp`.

[2016-04-29 18:09] #131 closed

[2016-04-29 18:17] georgeedwards commented on #129
I would certainly recommend it, [this](https://github.com/NathanWalker/angular2-seed-advanced) is an interesting seed project, where you can target ios, android, OSX, Windows and Linux desktops and mobiles, with a single JS code base. It uses Nativescript and Electron, so that shows how versatile Nativescript code can be.

[2016-04-30 01:25] Tadimsky opened #132 "Node.js Endpoint Generator not building the schema correctly."
Generated code:

This should be module.exports = mongoose.Schema(**_userSchema**);

[2016-04-30 01:46] #132 closed

[2016-04-30 01:47] ericmdantas commented on #132
Thanks for pointing it out.

`1.7.17` released.

[2016-04-30 01:49] ericmdantas commented on #128
I'll leave it for `1.8`.

[2016-04-30 03:16] ericmdantas commented on #128
This is closed in `v1.8` branch.

[2016-04-30 08:35] quanganh206 opened #133 "GoLang error"
Hi,

I try to run golang server, client ng2 server return error like that. May I have your help with it.

[code]

[2016-04-30 14:07] ericmdantas commented on #133
Hello, @quanganh206.

Can I see your `server.go` file?

[2016-04-30 16:55] quanganh206 commented on #133
Hi @ericmdantas

You mean main.go, I try go run main.go after go get.

[code]

[2016-04-30 17:03] ericmdantas commented on #133
Right, yeah `main.go`.

That's an odd error and seems to be related to either `echo` or `fasthttp`.

Do you have the whole project in github or somewhere I can clone?

[2016-04-30 18:05] quanganh206 commented on #133
Hi @ericmdantas,

Please find it here: https://github.com/quanganh206/testgo

My environment:
- Mac OSX 10.11.4
- Go 1.6.2

[2016-04-30 18:44] ericmdantas commented on #133
Ok, I'll be able to try it out later today.

[2016-04-30 23:44] ericmdantas commented on #133
Right, so I managed to simulate it, I'll let people from `echo` know. Thanks!

[2016-04-30 23:57] ericmdantas commented on #133
The problem seems to be related to the static middleware, the simplest example fails with the error you're reporting.

Here's a repo with the same error: https://github.com/ericmdantas/echo-static

[2016-05-01 00:18] ericmdantas commented on #133
Also, if you access `http://localhost:3333/api/todos` you'll get the list of todos just fine. The problem is just the static middleware.

[2016-05-01 00:44] ericmdantas commented on #133
The problem is in the following lines:

[code]

In https://github.com/ericmdantas/generator-ng-fullstack/blob/master/app/templates/server_go/common/static/static.go#L13.

But this was supposed to work, there's been an update and it was problem broken.

[2016-05-01 09:07] quanganh206 commented on #133
Thanks!

[2016-05-01 09:45] gilbertlucas46 opened #134 "message: 'connect ECONNREFUSED 127.0.0.1:27017"
An error ocurred with the DB connection:  { [MongoError: connect ECONNREFUSED 127.0.0.1:27017]
  name: 'MongoError',
  message: 'connect ECONNREFUSED 127.0.0.1:27017' }

[2016-05-01 13:01] ericmdantas commented on #133
Just opened an issue one echo: https://github.com/labstack/echo/issues/496

[2016-05-01 13:01] ericmdantas commented on #134
Hello, @gilbertlucas46.

Make sure you run `mongod` before starting your application.

[2016-05-01 13:01] #134 closed

[2016-05-01 15:13] ericmdantas commented on #133
Should be fixed now, just go to the server folder and run:

`go get -u ./... github.com/labstack/echo`.

[2016-05-01 15:14] #133 closed

[2016-05-01 20:16] #128 closed

[2016-05-01 22:11] ericmdantas opened #135 "Do not serve files from root"
Instead of serving stuff from the root, only serve files necessary for the application, which will be in: `node_modules` (for ng2), `client/dev` and `client/dist`.

Spoken to @matthewharwood.

[2016-05-01 22:12] ericmdantas commented on #135
Added for 1.8 because it will break some paths people are using right now.

[2016-05-01 23:00] ericmdantas commented on #135
fixed in `1.8` branch.

[2016-05-02 00:22] ericmdantas commented on #88
Removing version for now.

[2016-05-02 01:54] ericmdantas commented on #104
Remember to update the wiki.

[2016-05-02 02:01] #104 closed

[2016-05-02 02:05] ericmdantas commented on #60
Not incredibly needed, leaving it for later.

[2016-05-02 03:53] gilbertlucas46 opened #136 "TypeError: Cannot read property 'decorators' of undefined"
C:\Users\gilbert\Dropbox\2. Projects\cheapytrippy\node_modules\gulp-typescript\node_modules\typescript\lib\typescript.js:39947
                throw e;
                ^

TypeError: Cannot read property 'decorators' of undefined
  at getStartPos (C:\Users\gilbert\Dropbox\2. Projects\cheapytrippy\node_modules\gulp-typescript\node_modules\typescript\lib\typescript.js:30536:45)
  at emitStart (C:\Use

[2016-05-02 04:00] quanganh206 commented on #133
I try to test it work, but when running with client, client only say Not Found with localhost:3000. I retest with NodeJS, everything working okay.

[2016-05-02 10:22] ericmdantas commented on #133
You should run it with `gulp`, so it opens up `localhost:3333` and makes the proxy to `localhost:3000`.

[2016-05-02 10:23] ericmdantas commented on #136
And what were you trying to do?

[2016-05-02 10:53] quanganh206 commented on #133
Yes, I run go run main.go to start server.

After that I run gulp for client but it product not found as I mention.

[2016-05-02 11:15] ericmdantas commented on #135
Should be fixed with: 5adcae1.

[2016-05-02 11:18] ericmdantas commented on #133
That's weird.

Let me take another look.

[2016-05-02 11:39] ericmdantas commented on #133
It's working fine here, @quanganh206. I used your repo to try to reproduce, and was able to serve the app just fine.

Is there anything you modified on your end and didn't commit there?

[2016-05-02 11:39] ericmdantas commented on #136
Closing until we have more info.

[2016-05-02 11:39] #136 closed

[2016-05-02 14:11] AliMD opened #137 "[bug - serverOnly - node + typescript] gulp run issue"
I have gulp error after `yo ng-fullstack` with server only and node and typescript

[code]

after `npm i babel-register` i have another error

[code]

[2016-05-02 14:17] ericmdantas commented on #137
Hello, @AliMD.

You've got to have `babel`, `babel-cli`, `babel-core` and `babel-preset-es2015` to get that running. All of them being `6.x` and later.

Did the generator finished installing the dependencies?

[2016-05-02 14:19] AliMD commented on #137
Yes of course

[2016-05-02 14:24] ericmdantas commented on #137
Alright, let me reproduce it.

[2016-05-02 14:47] ericmdantas commented on #137
The problem is in both `tasks/default.js` and `tasks/index.js`. There should be no

[code]

since there's no client. Also, there should be no

[code]

in `tasks/index.js`, since, again, there's no client.

After removing those lines, I was able to run `gulp server.compile_tsc`, for example.

[2016-05-02 14:51] ericmdantas commented on #137
Also, keep in mind that there's no `gulp` (default task) to run the server when you choose only the server app, you should use `npm start`.

I'll document it better.

[2016-05-02 15:09] quanganh206 commented on #133
I meet that, the same repos testgo as you did.

[code]

[2016-05-02 15:26] #137 closed

[2016-05-02 15:36] ericmdantas commented on #133
What is this ginger widget?

[2016-05-02 15:47] ericmdantas commented on #137
`1.7.20` released.

[2016-05-02 15:49] ericmdantas opened #139 "[server only] Do not try to serve index.html if user chose server only app"
The behavior has to be the same as #106.

[2016-05-02 15:55] quanganh206 commented on #133
I use this for English Grammar :D
http://www.gingersoftware.com/

[2016-05-02 16:52] AliMD commented on #137
Thank you, could you please make a default task and print some tip

[2016-05-02 18:13] ericmdantas commented on #137
Sure, will do in `1.8`.

[2016-05-02 18:19] ericmdantas commented on #133
Oh, ok. Not related then.

I might be able to take a closer look later today. Please, update your repo with your modifications, if you do any.

[2016-05-03 02:08] ericmdantas commented on #129
Added some tips for cordova with some comments and stuff (c04a646). Let's see how it goes, if people get interested, we can have a specific option to do it.

For now, the comments might do.

Releasing `1.8`.

[2016-05-03 03:39] quanganh206 commented on #133
Yes, thanks @ericmdantas, wait for you.

[2016-05-03 07:52] georgeedwards commented on #88
Sure, I am not having much luck modifying the Yeoman code. Is there a way for me to locally test, i.e. get it to trigger the command line interface and generate some files?

[2016-05-03 09:22] ericmdantas commented on #88
Sure, just run `npm link` inside of generator-ng-fullstack folder. Then you'll be able to run the generator as if you had installed it.

[2016-05-03 10:09] ericmdantas commented on #129
Actually, I'll do it only for Angular1.x. Gotta figure out what to do with Angular2 and the `node_modules` deps.

[2016-05-03 10:56] ericmdantas commented on #129
Created question: "'Are you using Cordova (for mobile development)?".

Such quesiton will only show up if the user chose a `client only app` and `ng1` - `ng2` is not supported yet.

[2016-05-03 10:56] ericmdantas commented on #129
`1.8` should be out tonight.

[2016-05-03 13:18] ericmdantas commented on #133
Can you please clone this repo https://github.com/ericmdantas/echo-static and see if it works?

If should serve static and have an api in `/api`. It's the smallest reproducible scenario for your case, I guess.

[2016-05-03 13:33] quanganh206 commented on #133
Hi @ericmdantas, let's me try this and feedback with you.

[2016-05-03 19:00] brettneese opened #140 "[server-only] [typescript] Typescript "Cannot find" many (all?) modules"
Running `gulp server.compile_tsc`

[code]

[2016-05-03 19:04] ericmdantas commented on #140
Hello, @brettneese.

Can you please try with the following task:

[code]

[2016-05-03 19:08] ericmdantas commented on #140
Path `tasks/server/build_tsc.js`.

[2016-05-03 19:11] brettneese commented on #140
Same problem. It also happens if I try and `tsc -w` manually from the root project directory.

[2016-05-03 19:17] ericmdantas commented on #140
Alright, I'll take a look later today.

[2016-05-03 23:19] ericmdantas commented on #105
Updating yeoman with `npm i -g yo` solved the problem.

[2016-05-03 23:44] ericmdantas commented on #140
After installing the typings, adding `/// <reference path="../typings/main.d.ts" />` in `server/server.ts` and compiling again did the trick.

[2016-05-04 00:23] #106 closed

[2016-05-04 00:23] #135 closed

[2016-05-04 00:23] #139 closed

[2016-05-04 00:23] #129 closed

[2016-05-04 00:23] #140 closed

[2016-05-04 06:28] vitkrv commented on #105
Thanks for help.

[2016-05-05 12:42] georgeedwards opened #143 "Error: Cannot find module './server/server'"
I am testing v1.8 and have created an app (Fullstack, Typescript, ng2, http2), but when I run `npm start`, I get the following error. It looks like the path isn't being rendered with `.js`? I'll look into it.

[code]

[2016-05-05 12:51] georgeedwards commented on #143
OK, so `tsc` hadn't run, hence there was no server.js

[2016-05-05 14:09] ericmdantas commented on #143
Hey, @georgeedwards.

Yep.
[code]
 it tries to start the server right away. We've got to know if the user is using Typescript (be it on server, client or both), so we compile first and do the rest later.

Babel is used in `gulpfile.babel.js`, so you can write `esNext` (es2015, es2016, etc) in your task files without having to explicitly compile.

About the last error, I'm trying to reproduce.

[2016-05-05 14:44] ericmdantas commented on #143
Couldn't reproduce it. Other than the `tsc` missing before starting the server, babel is working just fine in the tasks.

Do you happen to have any version of babel installed globally?

[2016-05-05 14:46] ericmdantas commented on #143
I'll close this one and open an issue specific about the compilation step.

But we can still discuss it here.

[2016-05-05 14:47] #143 closed

[2016-05-05 14:57] ericmdantas opened #144 "[server/fullstack] - "npm run dev" should have compilation step for Typescript"
As caught by @georgeedwards (in #143), `npm run dev` should have a compilation step in case the user is using typescript in any form, client or server.

- Now: `"dev": "concurrently \"npm start\" \"gulp\""`;
- After: `"dev": "tsc && concurrently \"npm start\" \"gulp\""`.

[2016-05-05 15:13] georgeedwards commented on #143
no global babel installation.Interestingly, the exact same project, but without selecting the http2 option works fine...

[2016-05-05 15:25] ericmdantas commented on #143
shouldn't make a difference, though

[2016-05-05 15:30] georgeedwards commented on #143
well that's what I though, I wonder if there is a bug causing a file to be missed out or overwritten etc. with the http2 selection?

[2016-05-05 15:42] ericmdantas commented on #143
Very few things change when you select http/2. The main entry point for the server changes (it's a different file), and the `tasks/client/watch.js` changes from `http` to `https`. Nothing changes in the `package.json`.

[2016-05-05 15:44] georgeedwards commented on #143
hmm, I deleted all node_modules and did a clean install - all works! Not sure what that was.

[2016-05-06 02:36] #144 closed

[2016-05-07 04:45] Tadimsky commented on #135
Hey @ericmdantas - is there any good way to upgrade a project built with an older version to use the new layout you have in 1.8?

[2016-05-07 12:40] ericmdantas commented on #135
It should be just find and replace. All the files in client/dev instead of going all the way from the root to get something, should just try to get it locally. For example:

-  Before: `templateUrl: "client/dev/todo/templates/todo.html"`;
- After: "todo/templates/todo.html".

Same thing for index.html, which would get stuff from root + somewhere, now it should either find the folder directly in no

[2016-05-09 11:03] ericmdantas opened #145 "[ng2] - Update to release candidate"

[2016-05-11 01:31] #145 closed

[2016-05-11 11:55] ericmdantas commented on #101
Update it to rc1.

[2016-05-15 13:27] aaronchen2k opened #146 "a lot of ts compile errors"
aaron-mac:testspace aaron$ npm run watch

 testspace@0.0.1 watch /Users/aaron/tinypace/code/testspace
 gulp

[21:22:27] Requiring external module babel-register
[21:22:29] Using gulpfile ~/tinypace/code/testspace/gulpfile.babel.js
[21:22:29] Starting 'client.build_ts'...
/Users/aaron/tinypace/code/testspace/node_modules/@angular/common/src/directives/ng_class.d.ts(72,35): error TS2304: Cannot find

[2016-05-15 13:49] kamiranoff commented on #146
that is how I fixed it.
Adding this line in index.ts :
/* Avoid: 'error TS2304: Cannot find name <type>' during compilation */
///<reference path="../../typings/browser/ambient/es6-shim/index.d.ts"/>

[2016-05-15 14:01] aaronchen2k commented on #146
I am not very clear about, just add "///" on the top of index.ts?
Thanks

[2016-05-15 14:15] kamiranoff commented on #146
I am sorry I added this line after the tripple slash
<reference path="../../typings/browser/ambient/es6-shim/index.d.ts"/>
I edided my comment above, you should see the complete line

[2016-05-15 14:18] kamiranoff commented on #146
Sorry I edited the comment above. That is what follows the tripple slash
`<reference path="../../typings/browser/ambient/es6-shim/index.d.ts"/>`

[2016-05-15 14:20] aaronchen2k commented on #146
Got it , but there is no ../../typings folder, thanks

[2016-05-15 14:24] kamiranoff commented on #146
I am not sure how it is generated. Maybe by doing 'typings install' or 'tsc' in the console

[2016-05-15 14:58] kamiranoff commented on #146
I double checked you have to type `typings install` to generate the typings folder

[2016-05-15 15:11] aaronchen2k commented on #146
It works well, thanks a lot!

BTW, can we remove the last error "unresolved function or method map()" in idea ide for below codes?
`  getAll():Observable<any> {
    return this._http
               .get(TodoService.ENDPOINT.replace(':id', ''))
               .map((r) => r.json());
  }`

[2016-05-15 21:27] ericmdantas commented on #146
Thanks for the help, @kamiranoff!

[2016-05-15 21:27] #146 closed

[2016-05-17 10:16] ericmdantas commented on #52
v8 implemented async/await: https://chromium.googlesource.com/v8/v8.git/+/d08c0304c5779223d6c468373af4815ec3ccdb84

Should be out in Node7.

[2016-05-19 00:49] ericmdantas opened #148 "Update typings to 1.0"

[2016-05-19 00:58] #148 closed

[2016-05-19 00:59] ericmdantas commented on #148
1.8.5 released.

[2016-05-19 13:35] vilsbole commented on #136
I get the same error trying to launch the project with:
`npm start`

I have a slightly modified version of the project https://github.com/vilsbole/ng2-front-seed.git that runs as a container.

Because of the borken inotify on OSX, I also need to run the project locally.
I tried installing typescript and typings  both locally and globally without success.

---
typings@1.0.4
typescript@1.8.10

[2016-05-23 03:00] joshrouwhorst opened #149 "Typescript definition file question"
I have a d.ts file that I'm trying to use with a JS library. It's not available to install through typings or tsd so I'm trying to manually add these files.

I added a `///<reference>` tag at the head of the TS files using this library. My IDE recognizes the reference and when I run `npm run dev` the build process is recognizing the reference. But when the page comes up in the browser the JS libra

[2016-05-23 10:35] ericmdantas commented on #149
Hello, @joshrouwhorst.

To make this new dependency loaded you'll have to add it to the file in `client/dev/config.js` the following:

[code]

And then:

[code]

This link explains it better: http://stackoverflow.com/questions/34660265/importing-lodash-into-angular2-typescript-application

[2016-05-23 18:12] joshrouwhorst commented on #149
Thanks for getting back to me!

Unfortunately the version of the library I'm using (BabylonJS 2.4 beta) isn't released to npm yet. I tried your suggestion using map in the config.js file to point to the JS file but `npm run dev` still didn't import it into the page. I ended up just manually adding a script tag to index.html and that did the trick.

[2016-05-23 18:12] #149 closed

[2016-05-23 18:44] ericmdantas commented on #149
:+1:

[2016-05-25 14:09] MaxMansfield opened #150 "Dart Support"
It would be amazing if you added dart support for Angular2

Let me know if I can help.

[2016-05-25 15:05] ericmdantas commented on #150
Hello, @MaxMansfield! Thanks for the suggestion.

I have never worked with Dart, but it does sound like a good addition to the client stack.

Probably the best way to get it started is: you, or someone else experienced in Dart, send a PR with the base for the todo app (src/tests).

After doing that, we can think about the wiki and the explanations on setup, build and this kind of things that *may*

[2016-05-26 21:05] kieranfraser opened #151 "Heroku error - MIME type ('text/html') is not executable"
I'm getting an error when trying to deploy the todo app to heroku. I've followed the wiki instructions, and the deployment is successful however the app does not show and the following error is in the console:

`Refused to execute script from 'https://sonard.herokuapp.com/config.js?rev=@@hash' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled.
zone.js?

[2016-05-26 21:15] ericmdantas commented on #151
Hello, @kieranfraser. That's a weird error.

Can you please share the content of `yo-rc.json` - that's in the root of your app?

[2016-05-26 21:21] kieranfraser commented on #151
Of course:

`{
  "generator-ng-fullstack": {
    "username": "kieranfraser",
    "appName": "sonardeezer",
    "stack": "fullstack",
    "server": "node",
    "client": "ng2",
    "transpilerServer": "typescript",
    "secure": false,
    "differentStaticServer": false
  }
}`

[2016-05-26 21:30] ericmdantas commented on #151
Do you happen to have the `config.js` file in `client/dist`?

[2016-05-26 21:33] kieranfraser commented on #151
I do indeed, is that correct? It was structured like that from the get go.

[2016-05-26 21:37] ericmdantas commented on #151
Yup, that's correct.

I'm trying to see what could go wrong.

[2016-05-26 21:40] kieranfraser commented on #151
Actually, did you mean the structure in the browser source? so `config.js` is in the `client/dev/todo` directory structure in Webstorm.. but in the browser:
![image](https://cloud.githubusercontent.com/assets/6500978/15591039/bbd8c120-2392-11e6-923a-837e6bf79d34.png)

Thanks for the help!

[2016-05-26 21:41] ericmdantas commented on #151
So, `client/dist/config.js` doesn't exist?

[2016-05-26 21:44] kieranfraser commented on #151
Yes, seems so.

[2016-05-26 21:49] ericmdantas commented on #151
Alright, I see what might've happened.

Looks like you didn't run `npm run build-dist` - which creates the `client/dist` folder with the optimized files.

Here's what we have to do:

- Since we've got https://github.com/ericmdantas/generator-ng-fullstack/issues/101 going on, you'll have to go to `tasks/client/build.js` and comment the `tasks.CLIENT_UNIT_TEST,` line, because that'll fail and kill t

[2016-05-26 22:13] kieranfraser commented on #151
Okay so I followed your instructions, here is the deployed source (made a fresh deployment):
![image](https://cloud.githubusercontent.com/assets/6500978/15591805/2cf02dfe-2397-11e6-8ddd-32a3a36fca55.png)

However there is a new error - "Template parse error":

![image](https://cloud.githubusercontent.com/assets/6500978/15591831/58d2eb46-2397-11e6-97d6-f9683f8438e8.png)

[2016-05-26 22:22] ericmdantas commented on #151
Hmm, that's an error with the `htmlmin`, it seems. It's turning `ngFormModel` to `ngformmodel`. Care to capitalize by hand an try again?

[2016-05-26 22:28] ericmdantas commented on #151
Actually, better yet.

Go to `tasks/client/build_html.js` and change the task to:

`.pipe(htmlmin({collapseWhitespace: true, caseSensitive: true}))`

So, it's:

[code]

I'll release a version with the fix.

[2016-05-26 22:32] ericmdantas commented on #151
1.8.6 released.

[2016-05-26 22:33] kieranfraser commented on #151
That's it! made the change to `tasks/client/build_html.js` and it's all working. Thanks for your help, very quick, cheers!

[2016-05-26 22:35] ericmdantas commented on #151
Awesome!

Thanks for pointing it out and sticking by. I'll update the wiki on the heroku deployment.

[2016-05-26 22:35] #151 closed

[2016-05-27 05:48] JonahTurnquist commented on #49
+1. Bower is a thing of the past, now with the npm upgrades. It should really be removed from this generator

[2016-05-28 15:17] elimence commented on #25
Hi, what's the status of this? I'd like to use Sass, but looks like that's still not an option during the process.

[2016-05-28 16:19] ericmdantas commented on #25
Not an option for now, but it'd be good to have it.

I'm checking some stuff to see what fits in 1.9 - this is one of them.

[2016-05-29 04:43] vanminhnhat commented on #101
Hi,

I just install ng-fullstack yesterday.
But I facing when run nom run test-client, the error is "Failed to load todo/templates/todo.html" as the attachment.

I run in OSX.

<img width="1244" alt="unit-test-cannot-load templateurl" src="https://cloud.githubusercontent.com/assets/2121721/15631388/8b439966-2592-11e6-971f-a9a72ed74c32.png">
Is it a bug? Do we have any work around?

Thanks,

[2016-05-29 12:53] ericmdantas commented on #101
Hello, @vanminhnhat.

Yes, its a known bug, but I'm seeing what I can do to fix it.

[2016-06-01 11:36] rahulswaminathan opened #152 "Generic Git URL support"
Hello @ericmdantas,
         As currently the git url references are hard coded to github, I was thinking of a feature where the user can enter a git url of their choice like BitBucket or a private git repo. This would essentially replace/add to the username prompt. Please let me know what you think and I can help on this.

Regards,
Rahul Swaminathan

[2016-06-01 12:32] ericmdantas commented on #152
Hey there, @rahulswaminathan.

That's definitely something I've wanted to do for some time now, but it either always falls short because of time, or I forget about it. I'll label it as a priority for 1.9, so it makes it this time.

As for the options, I've thought about the following:
- github.com;
- gitlab.com;
- bitbucket.org;

Anything else you'd like to add?

[2016-06-01 12:36] ericmdantas commented on #25
Target to 1.9.

[2016-06-01 12:40] ericmdantas commented on #52
Start the implementation for 1.9, not sure if it's going to make it or not, but let's give it a try.

[2016-06-01 13:22] rahulswaminathan commented on #152
I was thinking you can have three prompts:

**1. Type of Repository: [GitHub, BitBucket, Other]**
In case the choice is other,
**1a. Enter your git URL: [_http://yourservername:port_]**
_(This is because gitlab installations can have the URL with the server's hostname)_
**2. Namespace:**
**3. Appname:**

So, the final git url would be _repo/namespace/appname.git_

What do you think?

[2016-06-01 13:28] ericmdantas commented on #152
Sounds good, with a small change.

Maybe we could have the Git servers as: Github, BitBucked and GitLab. And, if the user chooses GitLab, we ask him if it's on GitLab's cloud or somewhere else - and then ask the URL, namespace, app name, etc.

[2016-06-01 14:02] rahulswaminathan commented on #152
Sure, sounds good. Do let me know if you need my help with code.

[2016-06-01 14:18] ericmdantas commented on #152
Feel free to give it a shot and submit a PR - there's no need to be a complete one, can be a WIP. :smile:

I'll create a branch for `1.9` today so we can target it instead of master.

Just for sanity check, here are some places to be changed:
- Golang import paths;
- `.yo-rc.json` would have to have a "gitServer" (not sure if we'd call it explicitly "git", though) set to "github.com", "gitlab.com"

[2016-06-01 19:37] MaxMansfield commented on #150
The issue with using Dart and Angular2 is that the API changes way too much right now and there is little to no documentation.

The idiomatic way is no longer the correct way and vica versa. I'm going to wait until they finalize the dart api if that's cool with you. Packages aren't even where they used to be and there is no accurate docs for it right now.

[2016-06-01 21:22] ericmdantas commented on #150
Yeah, I played a bit with Dart since you opened the issue and even though I liked, I had the feeling some stuff were really missing.

I'll add the support for Dart when the API is stable enough. Feel free to ping me if I miss anything.

[2016-06-02 01:36] ericmdantas commented on #152
Branch 1.9 created:

https://github.com/ericmdantas/generator-ng-fullstack/tree/v1.9

[2016-06-02 10:35] rahulswaminathan commented on #152
I was thinking of another approach where the user enters his **username, email** (only once and then it can be stored as default values) and then a remote URL like **http://repository/namespace/appname.git**. This URL can be split on **"/"** into separate variables and then use wherever we want. This can also be used to set **local** _git config_ and _git remote_ for the new app.

I know I'm chang

[2016-06-02 10:42] ericmdantas commented on #152
Even though I like the idea of having one information being split in many, I think that'd not be good/fast for the user who's using a known service. What you're suggesting might fit perfectly where the user chose a custom git server, though.

As for `username`/`email` info, we already store the `username` in `.yo-rc.json`, we can easily add `email` there too.

[2016-06-02 11:45] johnnyPescarul commented on #26
+1 fro sequelize

[2016-06-02 13:33] TejasCMehta opened #153 "Fresh install give error on gulp and npm start"
`$ npm start`
`$ npm run watch`

![image](https://cloud.githubusercontent.com/assets/5519037/15746466/467714ba-28f4-11e6-8349-bc04ac3ad342.png)

![image](https://cloud.githubusercontent.com/assets/5519037/15746479/61c4f836-28f4-11e6-92db-01779ce76c53.png)

`tsc` command gives below error

![image](https://cloud.githubusercontent.com/assets/5519037/15746517/911ec206-28f4-11e6-91d3-f15e42434014.png)

[2016-06-02 13:50] ericmdantas commented on #153
Hello, @TejasCMehta.

Make sure you run `typings install` before doing anything else.

[2016-06-02 14:11] ericmdantas commented on #153
Closing as dup of https://github.com/ericmdantas/generator-ng-fullstack/issues/146.

[2016-06-02 14:11] #153 closed

[2016-06-02 14:15] TejasCMehta commented on #153
@ericmdantas  Thanks for quick help!!

[2016-06-02 14:26] ericmdantas commented on #153
No problem! :smile:

[2016-06-02 14:46] ericmdantas commented on #26
Could anyone use the base of generator as of now and switch from MongoDB/Mongoose to Sequelize? I'd gladly accept the PR and land it on 1.9.

[2016-06-02 15:06] giangdhwhtbr opened #154 "problem when load reflect-metadata and shim"
Hi there,

I've just update my project from angular2 beta15 to @angular. But my project got an error:
/node_modules/@angular/core/src/util/decorators.js:165
        throw 'reflect-metadata shim is required when using class decorators';
        ^
reflect-metadata shim is required when using class decorators

Please help me, thank you so much

[2016-06-02 15:08] ericmdantas commented on #154
Hello, @giangdhwhtbr.

Can I see the content of your `index.html` and `config.js`? Both should be in `client/dev`.

[2016-06-02 15:10] giangdhwhtbr commented on #154
Here is my index.html
[code]
And the config.js
[code]

[2016-06-02 15:11] ericmdantas commented on #154
Seems all good. What about your `package.json`?

[2016-06-02 15:13] giangdhwhtbr commented on #154
Package.json

[code]

[2016-06-02 15:16] ericmdantas commented on #154
All good too.

Could you try the following, please?

- Delete `node_modules`;
- Run `npm install` again;
- After that's done, run `tsc`;
- After that's done, run `npm run dev`.

[2016-06-02 15:37] giangdhwhtbr commented on #154
I've done all of the steps but the project still not work.

This is the bugs log when I run tsc

[code]

I don't change anything from your config, but the app still crashed. Can you help me through teamviewer? I am so appreciate

[2016-06-02 18:06] ericmdantas commented on #154
Run `typings install` to get rid of the typings errors. And I let me know how it goes.

I won't be able to help you through team viewer now, I'm at work, but when I get home I can help you.

[2016-06-02 18:38] rahulswaminathan commented on #154
**_Completely off topic_**

You might want to look at something other than Team Viewer.
https://www.reddit.com/r/technology/comments/4m7ay6/teamviewer_has_been_hacked_they_are_denying/

[2016-06-02 19:05] ericmdantas commented on #154
Thanks for the heads up, @rahulswaminathan!

[2016-06-02 23:08] ericmdantas commented on #154
Any news, @giangdhwhtbr?

[2016-06-03 04:24] giangdhwhtbr commented on #154
@ericmdantas, I'm so appreciate with your enthusiasm. I finally found the problem of my project. May be I left out something while upgrade the project to @angular. So that I must change some thing from the original source:
In my index.html
[code]
And in the config.js I changed the paths:
[code]

[2016-06-03 10:02] ericmdantas commented on #154
Awesome!

Just to point out what might've happened: In earlier versions of the generator, say `1.6`, `1.7`~ the server would serve files directly from the root - so you'd have to map the `node_modules/*` in the `index.html`/`config.js`. For `1.8`, for security reasons, that changed, and now the server only knows how to serve stuff from either `client/dev`, `client/dist` or directly inside `node_mo

[2016-06-03 10:02] #154 closed

[2016-06-03 16:00] comstar opened #155 "Todo app createTodos and TodoDAO.remove() not working causes test-server to fail."
On a pristine install - Win7, node 4.4.5, npm 2.15.5
Generator Options:
   Type: fullstack
   Server: node
   Angular: ng1
   Transpiler: node
   http2: no
   Different static server: no

1) TodoDAO.remove() is not removing data from the my-awesome-app_test database.
2) _helpers/db.js createTodos() is not creating the test data in my-awesome-app_test database.

Results from npm run test-server:

[

[2016-06-03 22:53] ericmdantas commented on #155
Got to simulate it locally with an empty db.

Working on it.

[2016-06-03 23:27] #155 closed

[2016-06-03 23:29] ericmdantas commented on #155
`1.8.7` released.

[2016-06-05 12:59] uiktiomasfeliz opened #156 "build-dist error"
i've tried build dist in 3 s.o. same error. Ubuntu, ArchiLinux and windows 10. same issue.

my setup, same build, latest node and npm, the npm run dev works fine, but tests and build-dist just don't works.

This is npm.log

[code]

[2016-06-05 13:51] ericmdantas commented on #156
Hello, @uiktiomasfeliz.

Could you please post the content of your `.yo-rc.json`?

[2016-06-05 14:03] uiktiomasfeliz commented on #156
.yo-rc.json

[code]

[2016-06-05 14:16] ericmdantas commented on #156
Right, I'm pretty sure that's because of https://github.com/ericmdantas/generator-ng-fullstack/issues/101.

Please try the following:
- Go to `tasks/client/build.js`;
- Comment the line `tasks.CLIENT_UNIT_TEST`;
- Run dist again.

Let me know how it goes.

[2016-06-05 14:16] #156 closed

[2016-06-05 14:26] uiktiomasfeliz commented on #156
awesome!!! work's like a charm!
Thanks

[2016-06-05 14:49] ericmdantas commented on #156
:+1:

[2016-06-07 14:30] ericmdantas opened #157 "Add Nodemon as a dependency for server/fullstack development"
It should only watch for changes in the `server/` folder.

[2016-06-08 10:14] ericmdantas opened #158 "Add option to work with RethinkDB"

[2016-06-08 10:15] ericmdantas opened #159 "Add option to work with PostgreSQL"

[2016-06-08 10:18] ericmdantas opened #160 "Add Gin as an option for Golang web framework"

[2016-06-08 10:33] ericmdantas opened #161 "Roadmap 1.9"
Some exciting additions are coming.

New web frameworks for the server: both Node and Go.

For Node, we're adding Koa to the stack, with its version 2.x - which will support `async`/`await`.
For Golang, we're adding Gin, a fast and stable web framework.

For the client side, we're adding the possibility to use either `LESS` or `SASS` in your styles (see https://github.com/ericmdantas/generator-ng-

[2016-06-08 13:06] amarewgs commented on #26
+1 for sequelize.js

[2016-06-09 04:42] adskiremote opened #162 "new install - error on npm run"
Hi after installing I run npm run dev and I get a tonne of errors.
Here's a list of the output.  Can someone help me find how to fix these?

`> tsc && concurrently "npm start" "gulp"

server/api/todo/controller/todo-controller.ts(1,26): error TS2307: Cannot find module 'express'.
server/api/todo/dao/todo-dao.ts(1,27): error TS2307: Cannot find module 'mongoose'.
server/api/todo/dao/todo-dao.ts(2,2

[2016-06-09 08:38] isener opened #163 "Only client install with angular2 (ng2) console error"
I faced this error when only install client and type;

`npm start` -> in package.json script is `aliv` which I don't understand how it uses gulp config(like ts compile)

then I couldn't find what causes this exception;

http://prntscr.com/be72yq

Any kind of help is useful. Thanks.

[2016-06-09 10:28] ericmdantas commented on #163
Hello, @isener.

Did you run `typings install` and `tsc`?

[2016-06-09 10:29] ericmdantas commented on #162
Hello, @adskiremote.

Please run `typings install` and `tsc` and let me know how it goes.

[2016-06-09 10:29] #162 closed

[2016-06-09 10:33] isener commented on #163
Nope, didn't work that. (also we shouldn't type `tsc` before aliv, this case when we work on aliv mode, then make changes on code side, we always should have to type `tsc` all the time.

[2016-06-09 10:45] ericmdantas commented on #163
Right, but that'll depend on the IDE you're using.

Looking at it again, I recognize the error. This is because since you're using a client-only app and the client is trying to get the todos from the server, but there's no server, then you get a `404` and `aliv` serves the `index.html` file.

[2016-06-09 11:12] adskiremote commented on #162
less errors but still have one.

Here's the output after running npm run dev

`C:\Users\xxx\Documents\App Projects\xxx>npm run dev

error TS5023: Unknown compiler option 'moduleResolution'.

npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\xxx\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "run" "dev"
npm ERR! node v4.4.4
npm ERR! npm  v3.

[2016-06-09 11:29] ericmdantas commented on #162
That's weird. What does it say when you run `tsc --version`?

[2016-06-09 11:31] adskiremote commented on #162
It says: 3.5.3

On 9 June 2016 at 18:29, Eric M. Dantas <notifications@github.com> wrote:

[2016-06-09 11:35] ericmdantas commented on #162
Well, there's something wrong then. Because the latest version is `1.8.10`.

Try doing the following:
- run `npm i -g typescript`
- run `tsc` (there should be no errors)
- run `npm run dev`

[2016-06-09 11:54] adskiremote commented on #162
odd - when running tsc I get errors.

It successfully installs typescript - version 1.8.10

Then running tsc I get these errors.

server/api/todo/controller/todo-controller.ts(1,26): error TS2307: Cannot
find module 'express'.
server/api/todo/dao/todo-dao.ts(1,27): error TS2307: Cannot find module
'mongoose'.
server/api/todo/dao/todo-dao.ts(2,26): error TS2307: Cannot find module
'bluebird'.
serve

[2016-06-09 11:59] ericmdantas commented on #162
Looks like your first `typings install` didn't succeed.

Do the following:
- if you don't have typings install, run `npm i -g typings@lastest`
- run `typings install`
- run `tsc` again.

[2016-06-09 12:02] adskiremote commented on #162
ok getting somewhere. Running tsc produces no errors.

Now when running npm run dev I get these:

error TS5023: Unknown compiler option 'moduleResolution'.

[2016-06-09 12:08] ericmdantas commented on #162
Right.

So, could you please:
- run `npm i --save-dev gulp-typescript@latest`
- run `npm i --save typescript@latest`
- run `npm run dev`

[2016-06-09 15:33] adskiremote commented on #162
Perfect - running fine now.  Many thanks Eric appreciate your time and
effort to help me.

[2016-06-09 15:48] ericmdantas commented on #162
No problem! Glad it helped. :smile:

[2016-06-09 20:01] ericmdantas commented on #163
I'm going to close this since it's by design. But feel free to open an issue with a possible solution/improvement.

[2016-06-09 20:01] #163 closed

[2016-06-10 10:33] ericmdantas commented on #158
For Nodejs, use: https://github.com/neumino/rethinkdbdash.
For Golang, use: https://github.com/dancannon/gorethink.

[2016-06-10 10:35] ericmdantas commented on #159
For Node, use: https://github.com/sequelize/sequelize.
For Go, use: https://github.com/lib/pq.

[2016-06-11 02:45] ericmdantas commented on #52
Before changing the code in the Koa servers, create the logic to copy files left and right, as well as the tests for suchs. Both modifications should be ready for the main generator and for the endpoint subgenerator.

[2016-06-14 01:16] ericmdantas commented on #52
Gotta implement the servers and add the dependencies.

[2016-06-15 22:12] ericmdantas opened #165 "Update to rc2"
And add the new forms API.

[2016-06-15 23:07] #165 closed

[2016-06-17 01:21] ericmdantas commented on #52
Static is being served alright, but koa-router is not recognizing the endpoints.

[2016-06-17 11:24] ericmdantas commented on #52
Standard and babel implementations finished, I'll start Typescript implemention later today.

[2016-06-17 11:25] ericmdantas commented on #52
Actually, before getting to Typescript, I'll implement the endpoint's subgenerator for standard and babel.

[2016-06-17 15:27] ducduongtmb opened #166 "can not upload file in angular 2 when using ng-fullstack"
I use this library :
https://github.com/valor-software/ng2-file-upload

but application console log bad request 400 .

and then I follow this tutorial

https://www.thepolyglotdeveloper.com/2016/02/upload-files-to-node-js-using-angular-2/

and It still console log bad request 400 .

Why ? I can't use xhr to upload file ? or I can't use ng2-file-upload to upload file to server .

This is my code now

[2016-06-17 17:59] ericmdantas commented on #166
Hello, @ducduongtmb.

What the code in `/api/media`?

[2016-06-17 20:16] ccocker commented on #161
Adding Firebase to list of supported DB's would be nice

[2016-06-17 21:17] ericmdantas commented on #161
Good suggestion, @ccocker.

My only concern is the size of 1.9, it might take too long to be released, so I might break it into `1.9` and `1.10`.

1.9:
- Sass/Less;
- Node - Koa;
- Go - Gin;
- Generic git server;

1.10:
- RethinkDB;
- Firebase;
- PostgreSQL;

I'm still thinking about it, though.

[2016-06-18 00:51] ericmdantas commented on #161
Generic git support landed in branch `v1.9` via commit bd888b77ad5d7d70826b0ad93ee73e48000095af, PR #164.

[2016-06-18 04:23] ccocker opened #167 "Database Name"
It would be a nice enhancement to have the db.json file updated to have the name given to the app when running the generator.

"localhost": "mongodb://localhost/my-awesome-app" i.e. change the my-awesome-app to the name of the application

[2016-06-18 04:26] ccocker opened #168 "App Structure"
It would be a nice enhancement to provide a starting point that includes a main component and then a navigation component that directs you to the todo component, rather than using the todo component as the starting point.

[2016-06-18 06:51] ducduongtmb commented on #166
@ericmdantas This is my code in server side .

**media-router.js**

[code]

**media-controller.js**

[code]

**routes.conf.js**

[code]

[2016-06-19 07:16] ducduongtmb commented on #166
@ericmdantas This is my code in server

**routes.conf.js**

[code]

**media-controller.js**

[code]

**media-router.js**

[code]

I just want to **console.log("Hello")** to know that client can send data to server . But It can't .

[2016-06-19 12:41] #167 closed

[2016-06-19 12:42] ericmdantas commented on #167
Fixed in 1.8.9.

[2016-06-19 14:22] ducduongtmb commented on #166
@ericmdantas I think it's problem of server .

[2016-06-19 16:27] ericmdantas commented on #166
Yeah, sounds like it.

What does the network tab on chrome says? Is the info being transmitted alright?

[2016-06-20 04:41] ducduongtmb commented on #166
@ericmdantas Sorry for the late reply . I'm living Vietnam .
this is console in Chrome
![image](https://cloud.githubusercontent.com/assets/13937747/16183409/a8a73e72-36db-11e6-964e-e604fb8c777e.png)

this is network tab . Nothing is sent .
![image](https://cloud.githubusercontent.com/assets/13937747/16183416/bd2a5208-36db-11e6-9b7d-f60e8abd217e.png)

I'm doing my capstone project by your ng-fullst

[2016-06-20 04:47] ducduongtmb commented on #166
@ericmdantas I can go to server with postman . when I use Postman and send something to server , server can console "hello" . It mean that my client has error ???

[2016-06-20 10:27] ericmdantas commented on #166
Oh, its the middleware for validation of payload.

Comment this line:

[code]

In `routes.conf.js`.

[2016-06-20 10:27] #166 closed

[2016-06-20 11:51] ericmdantas commented on #161
Alright, in order to have releases relatively close to each other, I'm removing the DB modifications and assigning it to 1.10.0.

[2016-06-20 11:53] ericmdantas opened #169 "Add option to work with Firebase"

[2016-06-20 11:53] ericmdantas opened #170 "Roadmap to 1.10"
Beginning with the DB, we all know MongoDB isn't silver bullet, and, as ng-fullstack grows, we have to give the devs more options.

We're planning to add the following DBs to the stack:

- RethinkDB;
- PostgreSQL (via sequelize.js for nodejs and pq for Golang);
- Firebase.

This is 1.10 in short:

- [ ] RethingDB (#158);
- [ ] PostgreSQL (#159);
- [ ] Firebase (#169);

[2016-06-20 14:25] ericmdantas commented on #166
:+1:

[2016-06-21 03:07] 3du4 commented on #154
@giangdhwhtbr 👍
adding "reflect-metadata": "node_modules/reflect-metadata" to my paths fixed my problem.
Thank you for adding this info!

[2016-06-21 12:19] Nolanus opened #171 "Add option to work without database"
For some basic projects a database might not be required. In the process of adding support for new database software (#170) maybe an option can be added to not include any database support at all.
This option will be useful for projects using exotic database techniques as well, as they do not have to remove existing boilerplate code from the generated project structure.

[2016-06-21 13:09] ericmdantas commented on #171
Hello, @Nolanus.

Just so we're clear: you mean having a fullstack app without the DB part, not only having client side app, right?

[2016-06-21 13:17] Nolanus commented on #171
Hi,
correct. So client side angular1/angular2 and server side node+express/go+echo, but no database.

[2016-06-21 13:20] ericmdantas commented on #171
Alright, thanks!

[2016-06-21 15:42] Abdizriel commented on #168
I agree with you @ccocker also I would change folder structure in client to be more like in angular2 style guide

I mean to create todo directory which would have:
- todo.component.ts
- todo.service.ts
- todo.css
- todo.html

and create app.component.ts which would start todo.component.ts

Similar solution could be done in NodeJS server API. Instead of creating directories like dao, model etc. you

[2016-06-21 16:30] Abdizriel commented on #168
@ericmdantas, Ok, I understand idea of "deep" path for server but it doesn't include Angular2 where we should build components smaller components and build bigger ones.

I will create issue and I'll take care with that task.

[2016-06-21 17:45] ericmdantas commented on #168
Awesome!

[2016-06-21 18:31] Abdizriel opened #173 "[ADD] Option to have test in the same directory as src or in different location"
Right now src files and test files are separated in different folders for client, server and tests.

[code]

We should allow user to choose if wants to have it in separate directories or test and src in the same
In case when user would like to have in separate directories it would stay like it is now but in case of having them in one directory it would be done like

Angular 1:
[code]

Angular 2
[c

[2016-06-21 18:42] ericmdantas commented on #60
Closing in favor of https://github.com/ericmdantas/generator-ng-fullstack/issues/173.

[2016-06-21 18:42] #60 closed

[2016-06-21 18:54] ericmdantas commented on #173
Just to point out: There should be no option to have go's src and tests separated - they only work together (in the same folder);

[2016-06-21 18:55] ericmdantas commented on #173
Also, is there a reason why people choose `.spec` over `_test`? I always liked the former better, :smile:

[2016-06-21 18:58] Abdizriel commented on #173
I don't know reason but I think it's because of shortcut of specification.

[2016-06-21 19:24] ericmdantas commented on #173
On a side note, when you're working on the changes, can you work on top of 1.9, please? So it'll be easier for us to merge.

[2016-06-21 19:28] Abdizriel commented on #173
Sure, no problem.

[2016-06-22 06:05] jensim opened #174 "Travis-ci builds fail out of the box due to missing script 'test-on-travis'"
https://travis-ci.org/jensim/myStreamWeb

[code]

My .yo-rc.json:

[code]

[2016-06-22 10:08] ericmdantas commented on #174
Hello, @jensim. Thanks for pointing it out.

I moved some things around and might've forgotten about this one.

Can you please change the content of the travis file for the following:

[code]

Just to see if travis didn't change a few things that used to work.

Also, keep in mind that if you're testing ng2 too, the build will fail because of #101.

[2016-06-22 11:00] jensim commented on #174
Thanks for the information about #101

Build passed! =)
https://travis-ci.org/jensim/myStreamWeb/builds/139450840

[2016-06-22 11:13] ericmdantas commented on #174
Right, but it didn't run any tests though.

Can you try `npm run test-server` locally, please? It should run 5 tests.

[2016-06-22 13:38] Abdizriel commented on #161
@ericmdantas when do you plan to release 1.9? It will take some time to release #173

[2016-06-22 13:43] ericmdantas commented on #161
@Abdizriel, if everything goes right, this weekend. If not, next week.

[2016-06-22 14:40] ericmdantas commented on #161
@Abdizriel, but we can make room for that feature in 1.9, if you want.

[2016-06-22 15:02] Abdizriel commented on #161
@ericmdantas I'll try to do that by tomorrow.

[2016-06-22 15:36] jensim commented on #174
[code]
Not really sure what this tells us, the "0 passing" part is painted green.

[2016-06-22 18:01] ericmdantas commented on #161
Pretty much.

[2016-06-22 18:04] ericmdantas commented on #174
#101 is about ng2, it should not interfere with the server tests.

I'll investigate it when I get home.

[2016-06-22 18:43] bernardbr commented on #161
@ericmdantas, maybe you can add aurelia.io as an option to implement
front-end without angular!

Rob Eisenberg left Angular 2 for it:
http://eisenbergeffect.bluespire.com/leaving-angular/

Em qua, 22 de jun de 2016 às 15:01, Eric M. Dantas <notifications@github.com>
escreveu:

--
Bernardo A.C. Esbérard

[2016-06-22 19:03] ericmdantas commented on #161
@bernardbr, nice suggestion.

 I've wanted to give Aurelia a try for a while now - but never got the time.

Since I haven't used it yet, I'll play with it a bit first, and then, I might target it to `1.9` if it's not a big change, or later, if it's a huge change.

[2016-06-22 19:04] ericmdantas opened #175 "Add option to work with Aurelia"
As suggested by @bernardbr in https://github.com/ericmdantas/generator-ng-fullstack/issues/161#issuecomment-227839310.

Reference: http://aurelia.io

[2016-06-23 10:16] ericmdantas commented on #174
So, I just ran the tests locally and got the following:

[code]

Do you have `mocha` installed globally? If so, what's the version (`mocha --version`)?
Also, when you're running the tests, do you have `mongod` running? If not, you should.

[2016-06-23 10:40] jensim commented on #174
That might be it.. At work now and am unable to check.
I see now that mocha is declared in the wiki as a dependency for the node-server setting, could this be inserted into the generated README.md for the generated project?
[code]

[2016-06-23 10:47] ericmdantas commented on #174
I mean, npm should pull the `mocha` dependency in the `package.json`: https://github.com/ericmdantas/generator-ng-fullstack/blob/master/app/templates/_package.json#L80, but it's good to know there's no conflict.

By the way, I just uninstalled `mocha` globally, just running it locally and it still passes the tests.

Just for sanity check: You compiled the `.ts` files (by running `tsc`), you can us

[2016-06-23 19:45] woahitsraj opened #177 "Rename /server/api/todo/routes/todo-routes.js to /server/api/todo/routes/todo-route.js"

[2016-06-23 20:49] Abdizriel commented on #177
@ericmdantas, I will fix it in #173

[2016-06-23 20:50] Abdizriel commented on #126
@ericmdantas I can take that one after #173

[2016-06-23 21:05] ericmdantas commented on #126
Alright.

[2016-06-23 21:11] ericmdantas commented on #161
Updates roadmap.

[2016-06-23 21:23] ericmdantas opened #178 "Update the docs for 1.9"
- [x] Site
- [x] README
- [x] Changelog
- [x] Wiki

[2016-06-24 15:47] ccocker opened #179 "CRUD: Get by Id"
To complete the CRUD operations it would be a nice enhancement to have a getById method in the todo service for example: -

**tod-do.service.ts**

[code]
**todo.controller.ts**

[code]
**todo-dao.ts**

[code]

[2016-06-24 15:52] ericmdantas commented on #179
Targetting 1.9.

[2016-06-24 15:56] ericmdantas commented on #179
We'll also have to update the tests to cover the new method.

[2016-06-24 18:30] ericmdantas opened #180 "Update Go's Echo to stable v2"

[2016-06-24 18:31] ericmdantas commented on #180
The API changed:
- Get -> GET
- Post -> POST
- Delete -> DELETE
- Put -> PUT

[2016-06-25 00:30] ericmdantas commented on #180
Fixed 30c5162.

[2016-06-25 00:32] #180 closed

[2016-06-25 00:33] #157 closed

[2016-06-25 12:54] #177 closed

[2016-06-25 13:33] jensim commented on #174
I dont think i ran tsc...
Could that be built in as a post install command or something (in the package.json)?

[2016-06-25 14:54] ericmdantas commented on #174
It runs when you run `npm run dev`. But a postinstall is ideal, so we can run `typings install` and `tsc`.

But, did you manage to run the app?

[2016-06-25 20:26] ericmdantas opened #181 "Use npm hooks to run additional scripts"
Such as `typings install` and the first `tsc`.

[2016-06-25 20:32] ericmdantas commented on #181
Uses `preinstall` to run `typings install` and `postinstall` to run `tsc`.

[2016-06-25 20:32] #181 closed

[2016-06-25 21:05] #173 closed

[2016-06-25 21:05] ericmdantas commented on #173
Implemented in #176.

[2016-06-25 21:05] ericmdantas commented on #152
Implemented in #164.

[2016-06-25 21:05] #152 closed

[2016-06-25 21:06] #52 closed

[2016-06-26 15:41] ericmdantas opened #185 "Update outdated deps and devDeps for the generated apps"
As pointed out by @Abdizriel (through #184), here are some of them:
- Express `4.13` -> `4.14`
- Helmet `0.7` -> `2.1`
- RxJS `5.x.beta-6` -> `beta9` (gotta check if it's compatible with ng2)
- del `1.1` -> `2.2`
- gulp-htmlmin `1.3` -> `2.0`
- gulp-imagemin `2.4` -> `3.0`
- istanbul `0.3` -> `0.4`
- karma `0.12` -> `1.0`
- karma-chrome-launcher `0.1` -> `1.0`
- karma-coverage `0.2` -> `1.0`
- kar

[2016-06-26 15:52] Abdizriel commented on #185
@ericmdantas I have created some repositories like:
- ng-fullstack-ng1
- ng-fullstack-ng2
- ng-fullstack-node-express-standard
- ng-fullstack-node-express-babel
- ng-fullstack-node-express-typescript
- ng-fullstack-node-koa-standard
- ng-fullstack-node-koa-babel
- ng-fullstack-node-koa-typescript

And added Greenkeeper.io to watch for dependency updates. But I have to do some fixes with tests so i

[2016-06-26 15:55] Abdizriel opened #186 "Add option to work with message queue"
Add option to generator to work with message queue to go/node server with:
- Redis: http://redis.io/
- Kafka: http://kafka.apache.org/
- RabbitMQ: https://www.rabbitmq.com/

[2016-06-26 15:58] Abdizriel opened #187 "Add swagger to generate RESTful documentation"
Reference: http://swagger.io/

[2016-06-26 16:11] ericmdantas commented on #185
Right, should I wait for the tests, then?

[2016-06-26 16:13] ericmdantas commented on #187
Oh, @bernardbr is gonna like this one.

Is it doable for `1.9`? Considering the changes for both `go` and `node`.

[2016-06-26 16:16] ericmdantas commented on #186
Never thought about adding any of those, to be honest.

How'd that fit in the structure we have today without getting too specific?
Say in the todo app, how would we make it "make sense"? And where else it fit for subgenerators?

[2016-06-26 16:33] ericmdantas commented on #185
Updated express all good for now.

[2016-06-26 16:47] Abdizriel commented on #186
It would "make sense" in todo app if we consider thousands of people using application with authentication and their own boards of todo like work, home etc.

In that case every request is produced by user action like adding todo to board and consumed by API when there's free queue for consuming. We can add also message accept to be sure that job won't be lost if server went down and could be repro

[2016-06-26 16:49] ericmdantas commented on #186
Right, but then we'd have an option so the user can select if he wants to work with it or not. Because for smaller/pet projects, it'd be an overkill.

[2016-06-26 17:16] Abdizriel commented on #186
That's why it would be optional because what you said about smaller projects.

[2016-06-26 17:27] ericmdantas commented on #185
As suspected, `rxjs` can't be updated to `beta9`. The rest was updated just fine.

@Abdizriel do you need help updating those repos? I can send PRs.

[2016-06-26 17:27] #185 closed

[2016-06-26 18:16] Abdizriel commented on #185
No, I will do that since I need to do some set up

[2016-06-26 18:46] ericmdantas commented on #185
Alright. Let me know so we can do that and release 1.8.11.

[2016-06-26 20:50] Abdizriel commented on #187
I think it is but I can only do that for node :)

[2016-06-26 21:37] ericmdantas commented on #187
Cool, cool. I'll check some of the integrations: http://swagger.io/open-source-integrations/.

[2016-06-27 15:47] Abdizriel opened #188 "Fix issue with no starting node server"

[2016-06-27 15:58] ericmdantas commented on #188
When does this happen?

[2016-06-27 20:54] Abdizriel commented on #188
@ericmdantas every time I tried create just server node-express-babel
It doesn't matter if it is with separete/together tests and http2 security

[2016-06-27 21:07] ericmdantas commented on #188
Against `master` or `1.9`?

[2016-06-27 21:09] Abdizriel commented on #188
1.9

[2016-06-27 21:35] ericmdantas commented on #188
Seems to be a problem with `node-typescript`. `node-standard` and `node-babel` are working just fine.

[2016-06-27 21:37] ericmdantas commented on #188
On `node-typescript`, when trying to run `tsc` I get the following:

[code]

[2016-06-27 21:45] ericmdantas commented on #188
Should be fixed now, worked locally. Can you give it a try?

[2016-06-28 18:15] Abdizriel commented on #188
Nope, still I can't use postman to try API.

I'll have a look into it now. When you generate fullstack project API is working.

[2016-06-28 18:39] ericmdantas commented on #188
Are you targeting port `3333` or `3000`? The server runs on `3333`, `3000` is only available for live-reload.

[2016-06-28 18:56] Abdizriel commented on #188
I tried everyone of them and none of them worked for me

[2016-07-01 00:43] ericmdantas commented on #179
Closed, will be released in 1.9.

[2016-07-01 00:43] #179 closed

[2016-07-04 14:39] ericmdantas opened #192 "It should be able to run against a config file, know the answers before asking the questions"
For big projects/teams, it's pretty annoying to answer the same questions over and over again, given they usually have the same answer.

It'd be nice to be able to pass the `yo-rc` file around (from project to project) and have `ng-fullstack` recognize that and already "know the answers", not asking all the questions again.

We'll have to check how `yo`'d let us do that, though.

[2016-07-05 23:27] ericmdantas opened #193 "Update to typescript@2"
References:
- The Future of Declaration Files ([link](https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/))
- Roadmap ([link](https://github.com/Microsoft/TypeScript/wiki/Roadmap))

[2016-07-08 11:33] ericmdantas commented on #185
@Abdizriel can you update the deps against master, please?

[2016-07-09 17:57] ericmdantas commented on #160
Merged to 1.9.

[2016-07-09 17:57] #160 closed

[2016-07-11 20:36] ericmdantas commented on #193
Typescript 2.0-beta released ([ref](https://blogs.msdn.microsoft.com/typescript/2016/07/11/announcing-typescript-2-0-beta)), but there's still some problems with the new `@types`.

[2016-07-12 12:03] ericmdantas opened #194 "Add option to work with Vue"
Reference: https://vuejs.org

[2016-07-12 12:07] ericmdantas commented on #161
Adds Vue to the list.

[2016-07-14 01:10] JoelParke opened #195 "Can't build at all... why?"
I have a project built with angular-fullstack and I thought I would give ng-fullstack a try.
yo ng-fullstack runs to completion.
BUT gulp then gives:
[code]
Clearly I am clueless, but the Trouble Shooting just seems to imply - don't bother yet with Angular 2 -- is that really true?
Thanks!

[2016-07-14 01:38] JoelParke commented on #195
Attempting to go a little further, it stuck me that perhaps the installation didn't install all it need to.
So I did npm install angular2.  But that didn't help and so I did npm uninstall angular2
So What gives? Any help would be appreciated.

[2016-07-14 04:57] #195 closed

[2016-07-14 09:56] ericmdantas commented on #195
Hello, @JoelParke.

Did you manage to solve it? The problem the troubleshooting talks about is the testing with Angular2, compiling using `tsc` should work fine.

[2016-07-15 04:14] JoelParke commented on #195
Thanks Eric,

I shifted directions and moved over to generator-react-fullstack and will
probably come back as I more fully decide on the direction for my rewrite
of my angular1 stable app.

Thanks,
Joel

On Thu, Jul 14, 2016 at 3:56 AM Eric M. Dantas <notifications@github.com>
wrote:

[2016-07-15 10:07] ericmdantas commented on #195
Alright, let me know if you need anything.

[2016-07-15 11:36] ericmdantas opened #196 "Update ng2 router"

[2016-07-15 23:25] #196 closed

[2016-07-18 09:45] maimake opened #197 "gulp print errors"
I create an app as following 👍

? What is the name of your app? fullstack
? What is your username on Github? some-username-here
? What stack do you want? Full, client or server? fullstack
? What do you want in server side? node
? What do you want in client side? ng2
? What transpiler do you want to use in server side? typescript
? Do you want a secure app (http/2)? No
? Do you want to use a differ

[2016-07-18 10:08] ericmdantas commented on #197
Hello, @maimake.

Make sure you run `typings install` before running `npm run dev` - there's a topic in the [wiki](https://github.com/ericmdantas/generator-ng-fullstack/wiki/Troubleshooting) about it.

[2016-07-18 10:08] #197 closed

[2016-07-18 10:48] maimake commented on #197
You saved my time, thank you

[2016-07-18 11:01] ericmdantas commented on #197
No problem :smile:

[2016-07-19 04:41] maimake commented on #197
Could you add a post script in package.json if it's a typescript project ?

[code]

check [angular/quickstart](https://github.com/angular/quickstart/blob/master/package.json)

[2016-07-19 09:54] ericmdantas commented on #197
It's added in the 1.9 version, but since I still have some stuff to do there, I'll pull that into master too. Thanks for the suggestion.

[2016-07-19 09:56] ericmdantas opened #198 "[Master] Use npm hooks to run additional scripts - previously only in 1.9"
#197

[2016-07-19 09:59] ericmdantas commented on #198
Closed by  5439575.

[2016-07-19 09:59] #198 closed

[2016-07-19 10:02] ericmdantas commented on #197
Released 1.8.16 :smile:

[code]

[2016-07-23 03:05] ericmdantas commented on #194
Unit tests created, acceptance tests to come.

[2016-07-23 03:55] jelling opened #199 "Error: Couldn't find preset "es2015" relative to directory"
After running "npm install", I run "npm run dev" and I get the following error:

This happens despite running:

`npm install --save-dev babel-preset-es2015`

Other people had this issue with other projects so I tried their advice of deleting my node_modules in the project folder and also clearing the npm cache, but no luck.

I'm using node v6.2.2 and npm 3.10.5.

Any ideas? I'm dead in the water.

[2016-07-23 13:09] ericmdantas commented on #199
Hello, @jelling.

I couldn't reproduce the problem, could you please provide the following info?

- Do you have babel installed globally? If so, what's the version?
-  What's the content of your `.yo-rc.json` (root of your app)?
- Have you tried to run `npm cache clean` and running `npm i` again?
- Can you check if you have any hidden `.babelrc` file in the parent folder?

[2016-07-25 18:10] ericmdantas commented on #174
@zerozero if you add a `console.log('something')` in one of the tests, does it show in the terminal?

[2016-07-25 20:14] zerozero commented on #174
No there is nothing logged in the console from any of the tests or the before block

[2016-07-25 21:12] ericmdantas commented on #174
That's really weird. I'll try to reproduce it again.

[2016-07-26 00:31] ericmdantas commented on #199
Closing as it's an external bug, but feel free to let me know how it goes.

[2016-07-26 00:31] #199 closed

[2016-07-26 01:43] jelling commented on #199
Thanks, Eric! I had a mysterious .babelrc file in the parent directory. Deleting it fixed the immediate issue.

[2016-07-26 01:49] jelling commented on #199
For anyone else having this issue, I then had to create a .babelrc folder in the project directory to use the es2005 presets. It looks like this:

`{
  "presets": ["es2015"]
}`

After that, the server started.

[2016-07-26 08:07] zerozero commented on #174
Hi Eric - the problem is that 'due to shell expansion, glob patterns should be wrapped in single quotes on unix shells.'
https://github.com/mochajs/mocha/issues/1115
so changing the test-server value to
"test-server": "mocha './tests/server/**/*.js' --recursive --check-leaks --reporter min --compilers js:babel-register" (note the single quotes around the glob pattern) fixes the tests
Thanks

[2016-07-26 09:51] ericmdantas commented on #199
Awesome!

[2016-07-26 09:53] ericmdantas commented on #174
@zerozero: Oh, I'd never catch that one, thanks for pointing it out.

I'll fix it later today.

[2016-07-26 10:44] ericmdantas commented on #174
1.8.17 released.

[2016-07-26 11:38] ericmdantas commented on #194
Done.

[2016-07-26 11:38] #194 closed

[2016-07-26 22:25] joelcoxokc commented on #175
Upvote

[2016-07-26 22:26] joelcoxokc opened #200 "Choosing Babel will generate typescript client"

[2016-07-26 23:26] ericmdantas commented on #200
Hey there, @joelcoxokc.

The babel option is only meant for the server. Once you choose ng2, you'll get the typescript version - that's by design.

[2016-07-26 23:26] #200 closed

[2016-07-26 23:28] ericmdantas commented on #200
When #175 (branch v1.9) lands, we'll probably have more transpilers for the client, because of Vue/Aurelia in client.

[2016-07-26 23:30] ericmdantas commented on #161
As for features, the two left are: Aurelia and Less/Sass.

The other changes are related to documentation and suchs. We're almost there!

[2016-07-27 00:53] ericmdantas opened #201 "Add option to work with webpack or parcel"
After 1.9 lands.

[2016-07-27 01:28] ericmdantas commented on #175
Simple todo example: https://github.com/ericmdantas/aurelia-todo

[2016-07-27 10:34] ericmdantas commented on #49
By the way, the only client that is using bower is `ng1`.

`ng2`, `vue` and `aurelia` are all being implemented with `npm` as the package manager.

[2016-07-28 11:11] ericmdantas commented on #175
Implement all tests: unit and acceptance, whole generator and subgenerators.

[2016-07-28 12:03] ericmdantas commented on #200
The initial Aurelia version (to be released in 1.9) will have babel as the transpiler. Typescript should follow in the next version - DB changes is probably going to be 1.11, instead of 1.10.

[2016-07-28 15:38] ericmdantas commented on #170
As mentioned in other issues, there are a lot of new stuff coming in 1.9 and there will be a some rough edges and places we can improve the integrations and tools used.

So, 1.10 will be based on what can be done to make it better. Things like Aurelia, Vue and Angular2 with Webpack, Aurelia with typescript, etc will take place in 1.10 - DB changes will be part of 1.11.

[2016-07-28 15:45] ericmdantas opened #202 "Roadmap to 1.10"
_This is a live document_

There are many new stuff coming in 1.9, but we'd have no time to attack all the possibilities, so we'll release the essential and make the improvements as we go.

The 1.10 version is meant to make those improvements and fix most, if not all, of the rough edges.

This is what we have for 1.10:
- [x] Clean project (#211);
- [ ] Flat structure (#203);
- [ ] Option to work w

[2016-07-29 11:25] ericmdantas commented on #175
Unit tests done, missing acceptance tests - will do it later today.

[2016-07-29 16:05] ericmdantas commented on #175
Make sure the path to the source code is set correctly by:

[code]

Reference: https://github.com/aurelia-guides/aurelia-jspm-issues/issues/3

[2016-07-30 19:29] ericmdantas opened #203 "Add option to work with flat structure"
As of right now, we've got the following structure:

[code]

That's a good approach for people who are going to use more than one "todo" component (like list, specific, edit, etc), service and/or anything else. But, often times people would rather have something like:

[code]

And the generator should provide a way for them to accomplish it - the `--feature` flag is still oligatory, the context st

[2016-07-30 19:30] ericmdantas commented on #161
Adds flat structure to the todo list.

[2016-07-30 19:30] ericmdantas commented on #168
I'm closing this in favor of #203.

[2016-07-30 19:30] #168 closed

[2016-07-31 23:42] ericmdantas commented on #193
Version updated in 1.9 branch. Not using `npm i --save @types/something` yet, though.

[2016-07-31 23:52] ericmdantas commented on #175
Done.

[2016-07-31 23:52] #175 closed

[2016-08-01 10:52] ericmdantas commented on #49
I'll go ahead and close this because ng1 is the only one using it, as said above, all the new stuff for client are using npm/jspm.

[2016-08-01 10:52] #49 closed

[2016-08-01 23:13] ericmdantas commented on #193
Seems to be working just fine with typings. I'll eventually open another issue to get the `npm i --save-dev @types/module` going.

[2016-08-01 23:13] #193 closed

[2016-08-04 05:07] tedpark opened #204 "golang GetById some type bug 1.9"
I found some minor type bug.

ex)
func GetById(string id) (todo.Todo, error) {
...............
}

=>

func GetById(id string) (todo.Todo, error) {
}

is correct.

ex)
GetById(string id) => GetById(id string)

Thanks.

p.s. I'm newbie because I can't change bug fix. ;-)

<img width="658" alt="screen shot 2016-08-04 at 2 04 00 pm" src="https://cloud.githubusercontent.com/assets/6670962/17390927/65f4

[2016-08-04 09:53] ericmdantas commented on #204
Hey there, @tedpark!

Thanks for the heads up. I'll release a patch in a sec.

[2016-08-04 09:58] ericmdantas commented on #204
Fixed :+1:

[2016-08-04 09:58] #204 closed

[2016-08-04 14:15] tedpark opened #205 "golang mgo GetById some bug 1.9"
I found some minor mgo bug.

ex)
func GetById(id string) (todo.Todo, error) {
    ....
    err = c.Find(bson.M{}).FindId(id).One(&t)   =>   (not working)
    ....
}

func GetById(id string) (todo.Todo, error) {
    ....
    err = c.Find(bson.M{"_id" : bson.ObjectIdHex(id)}).One(&t)   =>   (working)
    ....
}

is correct. (I think.)

---add please.---
ex)
e.GET("/api/todos/:id", todocontroller.Get

[2016-08-04 14:29] ericmdantas commented on #205
On it.

[2016-08-04 14:35] ericmdantas commented on #205
Fixed.

Thanks once again :smile:

[2016-08-04 14:35] #205 closed

[2016-08-04 14:37] tedpark commented on #204
Good job!! ;-)

[2016-08-04 14:37] tedpark commented on #205
Thanks! Good job! ;-)

[2016-08-04 14:50] tedpark commented on #205
@ericmdantas

app/templates/server_go/gin/api/todo/route/todoroute.go

 func Init(r *echo.Echo) {
  	r.GET("/api/todos", todocontroller.GetAll)
 +	r.GET("/api/todos/:id", todocontroller.GetAll)    ->  (...todocontroller.GetById)
  	r.POST("/api/todos", todocontroller.NewTodo)
  	r.DELETE("/api/todos/:id", todocontroller.RemoveTodo)
  }

Thanks ;-)

[2016-08-04 14:54] ericmdantas commented on #205
Ooops! There, fixed :laughing:

[2016-08-04 15:03] ericmdantas commented on #205
There are still changes to be done in the gin server, by the way.

I'll get back to it when the `less/sass` issue is done.

[2016-08-09 23:41] ericmdantas opened #206 "Update ng2 to rc5"
Refs:

https://github.com/angular/angular/blob/master/CHANGELOG.md#200-rc5-2016-08-09
https://angularjs.blogspot.com.br/2016/08/angular-2-rc5-ngmodules-lazy-loading.html
https://angular.io/docs/ts/latest/cookbook/rc4-to-rc5.html

[2016-08-10 01:18] ericmdantas commented on #178
Part of the doc is finishing: https://ng-fullstack.surge.sh/

[2016-08-10 09:48] tejasbehra opened #207 "Compile error from @angular/core/testing"
tests/client/todo/components/todo-cmp_test.ts(4,3): error TS2305: Module node_modules/@angular/core/testing"' has no exported member 'it'.
tests/client/todo/components/todo-cmp_test.ts(5,3): error TS2305: Module node_modules/@angular/core/testing"' has no exported member 'expect'.
tests/client/todo/components/todo-cmp_test.ts(6,3): error TS2305: Module @angular/core/testing"' has no exported membe

[2016-08-10 09:57] ericmdantas commented on #207
Hey there, @tejasbehra. That's because of the latest release candidate for ng2. We're tracking it here: #206.

I'll leave this one open so people can see what's going on.

[2016-08-10 11:11] ericmdantas commented on #25
Remember to add the compilation in `build_css.js` and add the token in `watch.js`.

[2016-08-10 13:17] tejasbehra opened #208 "tsc fails on excluding node_modules if we have typings in exclude"
node - v6.3.0
tsc - Version 2.1.0-dev.20160810
npm - 3.10.3
Ubuntu 14.04.4 LTS

1) When i include typings in exclude -
{
    "compilerOptions": {
        "module": "commonjs",
        "moduleResolution": "node",
        "target": "es5",
        "sourceMap": true,
        "emitDecoratorMetadata": true,
        "experimentalDecorators": true,
        "noImplicitAny": false
    },
    "exclude": [

[2016-08-10 14:02] #207 closed

[2016-08-10 14:03] ericmdantas commented on #207
1.8.18 released with the typings fixed.

`RC5` is not completely implemented, though.

[2016-08-10 14:29] ericmdantas commented on #206
Typings fixed.

[2016-08-10 22:02] ericmdantas commented on #208
Did you run `typings install`?

[2016-08-11 09:58] tejasbehra opened #209 "Any idea what's wrong with gulp here"
/unchanged_yogen/node_ts$ gulp
[15:25:27] Requiring external module babel-register
[15:25:33] Using gulpfile /unchanged_yogen/node_ts/gulpfile.babel.js
[15:25:33] Starting 'client.build_ts'...
[15:25:43] Finished 'client.build_ts' after 9.95 s
[15:25:43] Starting 'client.watch'...
[15:25:43] Finished 'client.watch' after 143 ms
[15:25:43] Starting 'default'...
[15:25:43] Finished 'default' after 6

[2016-08-11 10:01] ericmdantas commented on #209
`EADDRINUSE :::3002` means that you're already using port `3002` for something else.

[2016-08-11 10:01] #209 closed

[2016-08-11 10:56] tejasbehra commented on #208
My mistake, was not not using  reference to typings index correctly, thanks

[2016-08-11 10:56] #208 closed

[2016-08-11 11:05] #206 closed

[2016-08-11 11:09] ericmdantas commented on #207
1.8.19 released with the `NgModules` (RC5).

[2016-08-12 06:08] tejasbehra opened #210 "tsc does not throw error when compile server files if node_modules not present"
I am not sure whether this make sense, but when i try to compile the client directory **moving out the node_modules from cwd to some other directory** (not in project hierarchy, make sure its not visible) it results in following error -
client/dev/app.module.ts(1,26): error TS2307: Cannot find module '@angular/core'.
client/dev/app.module.ts(2,28): error TS2307: Cannot find module '@angular/http'.

[2016-08-12 10:02] ericmdantas commented on #210
That's because Angular and RxJs have their typings inside `node_modules`, while `express`, `mongoose` and others, have their typings inside the `typings` folder.

[2016-08-12 10:02] #210 closed

[2016-08-12 10:28] tejasbehra commented on #210
Hi ericmdantas, Could there be a way to have similar mechanism to catch this error on server side ?

[2016-08-12 10:48] ericmdantas commented on #210
I don't think we can do much about it, that'd be up to those packages and its maintainers. But since they're written in pure javascript, the community is the one taking care of all the typings.

In Angular's case, the core team's build generates the typings, so the community doesn't have to.

[2016-08-13 17:11] EmmanuelObo opened #211 "Generating Clean Project"
I think it would be good if there was an option to create a clean Project that has all the basic routers set up and allows the user to build their project from (almost) scratch. Because maybe some people already have a hang of the fullstack project structure, don't want to have to spend time removing the todo app and creating their project.

[2016-08-13 17:37] codestorycooked opened #212 "How to update generator-ng-fullstack files ?"
I see this generator was updated 2 days ago on yo. How do I update my existing project created using this generator so to be synced up with latest and good practice or any other issue fixed in a generator?

Thanks is advance
Kunal D.

[2016-08-14 08:51] jorys opened #213 "Fix Heroku build for Angular2"
Hello,

When I do a `git push heroku master`, it never builds due to typings and tsc missing.
I had to modify package.json like this :
-  Add typings install : `"preinstall": "npm i typings -g && typings install",`
-  Remove postinstall with tsc call

Can you tell me if I have done right or tell me what can I do?
Thanks for your help.

[2016-08-15 01:23] ericmdantas commented on #211
I've been thinking about it for a while, sounds good.

[2016-08-15 01:28] ericmdantas commented on #212
Hey there.

It should be just the typical npm install: `npm i -g generator-ng-fullstack@latest`.

As for the changes, the only thing that changed was the bump in ng2 version - from rc4 to rc5 - which introduced the `NgModule` breaking change.

[2016-08-15 01:28] #212 closed

[2016-08-15 01:52] EmmanuelObo commented on #211
Yea I think it will be a good addition.

[2016-08-15 10:40] ericmdantas commented on #213
Hey there, @jorys.

Why would you have to remove the `postinstall: tsc` script?

As for the installation of typings, that's really needed, but I don't know if I'd update the global version in the user's machine, it could break other projects. Have you tried installing `typings` locally, assigning it to a script, say `install-types: typings install` and then running `npm run install-types`?

[2016-08-15 10:43] ericmdantas commented on #202
Adds option for clean project.

[2016-08-15 11:00] ericmdantas commented on #213
Also, could you please show me the error message you got so I can put in the `troubleshooting` part of the wiki?

[2016-08-15 11:51] cilginbok opened #214 "Unit test error: [web-server]: 404: /base/node_modules/@angular/http"
Hello,
After a fresh build, when i write `npm run build-dist` , i had this error:

![image](https://cloud.githubusercontent.com/assets/18344355/17663655/c82e9294-62f6-11e6-94ae-85b83db8ad01.png)

What am I doing wrong?

[2016-08-15 12:08] ericmdantas commented on #214
Hello, @cilginbok.

You've ran into https://github.com/ericmdantas/generator-ng-fullstack/issues/101, if you want to just build your app without the tests, just go to `tasks/client/build.js` and comment the unit test line.

[2016-08-15 12:08] #214 closed

[2016-08-15 20:26] EmmanuelObo opened #215 "Error in Console"
All of a sudden I'm getting the following errors in the console when I run npm run dev:

`zone.js?rev=@@hash:461 Unhandled Promise rejection: (SystemJS) Unexpected token <
    SyntaxError: Unexpected token <
        at Object.eval (http://localhost:5000/right-track/components/file-uploader-cmp.js:12:25)
        at eval (http://localhost:5000/right-track/components/file-uploader-cmp.js:157:4)

[2016-08-15 20:49] ericmdantas commented on #215
Weird..

Couple questions:
- Is your stack `client only` or `fullstack`?
- What's the content of dev-tools > network > file-uploader-cmp.js? Is it your index.html?
- How is your module being imported?

[2016-08-15 20:55] EmmanuelObo commented on #215
- My stack is fullstack.
- file-uploader-cmp.js is one of my Angular components, it's separate from index.html. It looks like this:

`"use strict";
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length, r = c < 3 ? target : desc === null ? desc = Object.getOwnPropertyDescriptor(target, key) : desc, d;
    if (typeof Reflect === "objec

[2016-08-15 21:16] ericmdantas commented on #215
Do you have the dep in `client/dev/config.js`? You'll have to add the path there, just like `@angular` and `rxjs`. Like in here: http://stackoverflow.com/a/36670005.

[2016-08-15 21:33] EmmanuelObo commented on #215
The problem isn't coming from the file-uploader component itself. Even if I exclude it I will still get the same errors. It's originating from index.js (the main bootstrap component). It's weird because I didn't mess with anything there and it was running well before.

I recently fixed the issue with npm run dev (#203 I think). But even then it was running well so I'm just confused as to what went

[2016-08-15 22:24] ericmdantas commented on #215
Is `file-uploader` (not your component, the dep) being downloaded, though?

It seems like you're getting an html from the server, that's what `Unexpected token < SyntaxError: Unexpected token...` says - that `<` usually is `<!doctype html...`.

One of the ways to fix that is to add the path to config.js, if you haven't done it yet.

[2016-08-16 10:30] jorys commented on #213
Hello,

Here are the logs:
   -   When I use default package.json: [typings.txt](https://github.com/ericmdantas/generator-ng-fullstack/files/419994/typings.txt)
   -   When I put `"preinstall": "npm i typings -g && typings install"`: [tsc.txt](https://github.com/ericmdantas/generator-ng-fullstack/files/419993/tsc.txt)
If I do not put the installation of typings during preinstall, it is not found b

[2016-08-16 12:23] ericmdantas commented on #213
Right, can you try installing both `typescript` and `typings` locally instead of globally and try to deploy to Heroku?

[code]

And then remove your `npm i typings -g`. NPM should pick the local deps.

That should fix the errors - if so - I can release a a patch in a minute.

[2016-08-16 12:37] ericmdantas commented on #213
Also, move the `typings install` from `preinstall` to `postinstall`, please.

[2016-08-16 13:52] ericmdantas commented on #96
Important for node/express: https://github.com/expressjs/express/issues/2761#issuecomment-221675351

[2016-08-16 14:06] ericmdantas commented on #96
Important for node/express: https://github.com/expressjs/express/issues/2761#issuecomment-221675351

[2016-08-17 15:05] EmmanuelObo commented on #215
yea, but instead I just removed the file-uploader all together to try and see if it would run without it. But now I started getting errors with npm run dev. It's saying that it fails at tsc && concurrently. I already did typings install and tsc.

[2016-08-17 15:34] ericmdantas commented on #215
Can you run the commands separately and show me the log, please?

- `tsc` - check log;
- `npm start` - check log;
- `gulp` - check log.

Just so we can see where the error is coming from.

[2016-08-18 13:10] Karel-Kroeze opened #216 "js and css files are served with text/html MIME type | npm run dev"
After a fresh yo ng-fullstack with the following settings;

[code]

and running the documented `npm run dev`, browser refuses to load the ToDo app, since MIME types don't match.

This is on a Ubuntu 14.04 box, it looks similar to #151, but that refers to deploying to heroku. I have yet to try a deployed dist build, so can't comment on that.

[2016-08-18 14:52] ericmdantas commented on #216
Hey there, @Karel-Kroeze.

Just tried to reproduce it, but couldn't do it, but I'm on windows, so that could indicate something.

Couple questions:
- Does accessing `http://localhost:3333/api/todos` return an empty array?
- Could you please change the content of `server/commons/static/index.js` to:

[code]

And then run `npm run dev` again.

Let me know how it goes.

[2016-08-18 18:35] EmmanuelObo commented on #215
17 error Windows_NT 10.0.10586
18 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\emmao_000\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js" "run" "dev"
19 error node v4.2.0
20 error npm  v3.10.5
21 error code ELIFECYCLE
22 error right-track@0.0.1 dev: `tsc && concurrently "npm start" "gulp"`
22 error Exit status 1
23 error Failed at the right-track@0.0.1 dev script 'tsc &&

[2016-08-18 18:39] ericmdantas commented on #215
And what does it log on the terminal?

[2016-08-18 18:49] EmmanuelObo commented on #215
This is actually what is logged in the terminal as well. I just copied it from the npm-debug log

[2016-08-18 19:21] ericmdantas commented on #215
Welp, that doesn't help much.

Could you try with a newer version of node? Your npm version is already one of the latest, but node is a bit old.

[2016-08-19 00:55] EmmanuelObo commented on #215
Yea I have the latest version of node and npm. Can't seem to understand this error.
But it doesn't seem like it is within the scope of this project so I'll keep checking for solutions.

[2016-08-19 01:02] ericmdantas commented on #215
Cool, cool. I'm trying to see what could be causing that too.

[2016-08-19 10:02] ericmdantas commented on #216
If that doesn't work, try using `path.join` in `server/config/routes.config.js` too:

[code]

[code]

[2016-08-29 04:58] SebaSOFT commented on #174
This is still not resolved. My .yo-rc.joson

[code]
Also `npm run test-server` doesn't run locally on Windows. I guess not all is platform agnostic.

[2016-08-29 10:17] ericmdantas commented on #174
Hey there, @SebaSOFT.

What happens when you run it? Do you have `mongod` running?

[2016-08-29 12:36] ericmdantas commented on #25
The rest of the implementation depends on both https://github.com/ericmdantas/aliv/issues/22 and https://github.com/ericmdantas/aliv/issues/23.

[2016-08-30 09:36] SebaSOFT commented on #174
fixed, its a couple of things.
- npm should be >=3.10.x and thus node should be updated too
- node_gyp has to compile and run, this is a major requirement that linux users take for granted

[2016-08-30 10:12] ericmdantas commented on #174
Cool :smile:

[2016-09-04 18:41] mehdimj opened #217 "Error @ npm install: postintall: 'tsc'"
![image](https://cloud.githubusercontent.com/assets/5819192/18233159/7b82a374-72ad-11e6-86fd-89f699341fd1.png)

This error occurs during npm install. Any clue to fix that ?

Thanks

[2016-09-04 20:55] ericmdantas commented on #217
Hello, @mehdimj.

Is there any typing errors above this one? Also, the stack you're using involves `ng2`?

[2016-09-04 20:58] mehdimj commented on #217
Hey @ericmdantas,

Nope there are no errors above that one but few warnings. I  chose ng2, node, typescript :)
PS: I tried the same stack on another machine like 3 weeks ago and it's running fine.

Thanks

[2016-09-04 21:01] mehdimj commented on #217
Here is a screenshot of what's above:

![image](https://cloud.githubusercontent.com/assets/5819192/18233848/3a142dea-72c1-11e6-8a09-d8fd335efdab.png)

Thanks

[2016-09-04 21:13] ericmdantas commented on #217
Right, it's because of the update from ng2 `rc5` to `rc6`, they broke some of the typings and I'll have to update it in a patch.

[2016-09-04 21:23] mehdimj commented on #217
Sounds good ! Is there any way to receive a notification when the update is done or i'll just have to install the generator from time to time and give it a try ?

[2016-09-04 21:53] ericmdantas commented on #217
If you're watching the repo, you'll have a notification, if not, I'll target this issue in the commit and I can ping you.

But, keep in mind that choosing ng2 you'll end up having these problems from time to time, because of all the changes on their side.